<h2>Public Availability of Budget Documents</h2>
<div class="year-selector btn-group" id="year-toggles">
    <button data-year="2006" class="btn">2006</button>
    <button data-year="2008" class="btn">2008</button>
    <button data-year="2010" class="btn">2010</button>
    <button data-year="2012" class="btn">2012</button>
</div>
<table id="availability" border=4>
  <thead>
    <tr>
      <td colspan="2">Country</td>
      <td>Pre-Budget Statement</td>
      <td>Executive\'s Budget Proposal</td>
      <td>Citizens Budget</td>
      <td>Enacted Budget</td>
      <td>In-Year Reports</td>
      <td>Mid-Year Review</td>
      <td>Year-End Report</td>
      <td>Audit Report</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="clearfix"></div>
