<h2>Public Availability of Budget Documents</h2>
<div class="year-selector btn-group" id="year-toggles">
    <button data-year="2006" class="btn">2006</button>
    <button data-year="2008" class="btn">2008</button>
    <button data-year="2010" class="btn">2010</button>
    <button data-year="2012" class="btn">2012</button>
</div>
<table id="availability" class="table table-striped table-condensed">
  <thead>
    <tr>
      <td class="country">&nbsp;</td>
      <td class="flag">&nbsp;</td>
      <td class="dot">Pre-Budget Statement</td>
      <td class="dot">Executive's Budget Proposal</td>
      <td class="dot">Enacted Budget</td>
      <td class="dot">Citizens Budget</td>
      <td class="dot">In-Year Reports</td>
      <td class="dot">Mid-Year Review</td>
      <td class="dot">Year-End Report</td>
      <td class="dot">Audit Report</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="clearfix"></div>
