    <h2>Public Availability of Budget Documents</h2>

    <div class="col4">
      <table id="availability-key">
        <tr>
            <th colspan="2">Key</th>
            </tr>
            <tr>
                <td class="dot"><img src="images/dot/PW.png"/></td>
                <td class="text">Available to the public</td>
            </tr>
            <tr>
                <td class="dot"><img src="images/dot/IU.png"/></td>
                <td class="text">Available for internal use</td>
            </tr>
            <tr>
                <td class="dot"><img src="images/dot/NP.png"/></td>
                <td class="text">Not produced</td>
            </tr>
      </table>
      <h6><img src="images/world.png"> Region</h6>
      <ul>
        <li><a id="region-0" class="av-region-toggler active" href="#">Entire World</a></li>
        <li><a id="region-1" class="av-region-toggler" href="#">East Asia &amp; Pacific</a></li>
        <li><a id="region-2" class="av-region-toggler" href="#">Eastern Europe &amp; Central Asia</a></li>
        <li><a id="region-3" class="av-region-toggler" href="#">Latin America &amp; Caribbean</a></li>
        <li><a id="region-4" class="av-region-toggler" href="#">Middle East &amp; North Africa</a></li>
        <li><a id="region-5" class="av-region-toggler" href="#">South Asia</a></li>
        <li><a id="region-6" class="av-region-toggler" href="#">Sub-Saharan Africa</a></li>
        <li><a id="region-7" class="av-region-toggler" href="#">Western Europe &amp; the U.S.</a></li>
      </ul>
    </div>
    <div class="col8">
        <div class="year-selector btn-group" id="year-toggles">
            <button data-year="2006" class="btn">2006</button>
            <button data-year="2008" class="btn">2008</button>
            <button data-year="2010" class="btn">2010</button>
            <button data-year="2012" class="btn">2012</button>
        </div>
        <table id="availability" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <td class="country">&nbsp;</td>
                    <td class="flag">&nbsp;</td>
                    <td class="dot">Pre-Budget Statement</td>
                    <td class="dot">Executive's Budget Proposal</td>
                    <td class="dot">Enacted Budget</td>
                    <td class="dot">Citizens Budget</td>
                    <td class="dot">In-Year Reports</td>
                    <td class="dot">Mid-Year Review</td>
                    <td class="dot">Year-End Report</td>
                    <td class="dot">Audit Report</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
