<div class="year-selector btn-group" id="map-toggles">
    <button data-year="2006" class="btn">2006</button>
    <button data-year="2008" class="btn">2008</button>
    <button data-year="2010" class="btn">2010</button>
    <button data-year="2012" class="btn">2012</button>
</div>
<div id="map" class="pull-left"></div>
<div id="map-gradient" class="pull-left"></div>
<div id="map-gradient-label" class="pull-left">
  <p class="first">100%</p>
  <p>80%</p>
  <p>60%</p>
  <p>40%</p>
  <p class="penultimate">20%</p>
  <p>0%</p>
</div>
<div class="clearfix"></div>
