<div class="year-selector btn-group" id="map-toggles">
    <button data-year="2006" class="btn">2006</button>
    <button data-year="2008" class="btn">2008</button>
    <button data-year="2010" class="btn">2010</button>
    <button data-year="2012" class="btn">2012</button>
</div>
<div id="map" class="pull-left"></div>
<div id="map-gradient" class="pull-left"></div>
<div id="map-gradient-label" class="pull-left">
  <p class="100">100%</p>
  <p class="75">75%</p>
  <p class="50">50%</p>
  <p class="25">25%</p>
  <p class="0">0%</p>
</div>
<div class="clearfix"></div>
