<div class="report-header">
    <div class="toggle pull-right">
        <span class="pull-left text">View:</span>
        <div class="pull-left" id="ranking-toggle-button">
            <input type="checkbox" checked="checked">
        </div>
    </div>
    <h2>Rankings</h2>
</div>
<div id="ranking-columns"></div>
