<div id="rankings-toggles">
    <button data-year="2006" class="btn">2006</button>
    <button data-year="2008" class="btn">2008</button>
    <button data-year="2010" class="btn">2010</button>
    <button data-year="2012" class="btn">2012</button>
</div>
<table id="rankings"></table>
