<div class="country-rankings">
    <div class="year-selector btn-group" id="rankings-toggles">
        <button data-year="2006" class="btn">2006</button>
        <button data-year="2008" class="btn">2008</button>
        <button data-year="2010" class="btn">2010</button>
        <button data-year="2012" class="btn">2012</button>
    </div>
    <table id="rankings-table">
        <thead>
            <tr>
                <th class="col1" colspan="2"><a href="#" class="sortbyname" data-sortbyname="true"><span class="text">Name</span> <span class="caret"></span></a></th>
                <th class="col2" colspan="2"><a href="#" class="sortbyname" data-sortbyname="false"><span class="text">Score</span> <span class="caret"></span></a></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
