<div class="splash">
  <a href="#map" class="banner">
    The <strong>Open Budget Survey</strong> is a comprehensive analysis and survey that evaluates whether governments give the public access to budget information and opportunities to participate in the budget process at the national level. The Survey also assesses the capacity and independence of formal oversight institutions. The IBP works with civil society partners in 100 countries to collect the data for the Survey.
  </a>
  <div class="row">
    <div class="span3">
      <a class="pod rankings" href="#rankings">To easily measure the commitment to transparency, IBP created the <strong>Open Budget Index</strong> from the Survey. </a>
    </div>
    <div class="span3">
      <a class="pod timeline" href="#timeline">The <strong>Open Budget Index</strong> allows for comparisons among countries and across years.
      </a>
    </div>
    <div class="span3">
      <a class="pod calculator" href="#profile">Use the <strong>2014 calculator</strong> to predict the outcome of the next survey and see where transparency can improve.</a>
    </div>
    <div class="span3">
      <a class="pod participation" href="#participation">In addition to assessing public access to budget information and the capacity and independence of formal oversight institutions, the survey evaluates <strong>whether governments give the public opportunities to participate in the budget process</strong> at the national level.</a>
    </div>
  </div>
</div>
