<div class="splash">
  <a href="#map" class="banner">
    The <strong>Open Budget Survey</strong> is a comprehensive analysis and survey that evaluates whether governments give the public access to budget information and opportunities to participate in the budget process at the national level. The Survey also assesses the capacity and independence of formal oversight institutions. The IBP works with civil society partners in 100 countries to collect the data for the Survey.
  </a>
  <div class="row">
    <div class="span4">
      <a class="pod rankings" href="#rankings">A score is assigned to each country based on the information in the Open Budget Survey.</a>
    </div>
    <div class="span4">
      <a class="pod timeline" href="#timeline">  Making it easy to measure the overall commitment of the countries to transparency and make comparisons. 
      </a>
    </div>
    <div class="span4">
      <a class="pod calculator" href="#profile">Thanks to the Country Datasheet Calculator, you can calculate possible outcomes of future surveys.</a>
    </div>
  </div>
</div>
