<div class="timeline-header">
    <h2 class="pull-left">Timeline</h2>
    <div class="timeline-toggle pull-left">
        <span class="pull-left text">View:</span>
        <div class="pull-left" id="timeline-toggle-button">
            <input type="checkbox" checked="checked">
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div id="ranking-columns"></div>
