{% extends "../../layout.html" %}

{% block page_title %}October Update{% endblock %}

{% block content %}
<h1>October Update</h1>

<p>The <a href="http://www.obstracker.org">Open Budget Survey Tracker</a> (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>) monitors whether the central governments of 30 countries are publishing each of the eight key budget documents on time as per international standards. Using data collected by independent budget experts in the 30 countries, the OBS Tracker provides real-time reporting on:</p>

<ul>
<li>which budget documents have been published;</li>
<li>which documents have been produced but not published; and which have not been produced at all.</li>
<li>Check out the latest OBS Tracker data, news, and what to look out for in months ahead.</li>
</ul>

<h2>Data Update</h2>

<p>Overview</p>

<ul>
<li>Of the 240 documents monitored across all 30 countries, a total of 150 budget documents have now been published. This is a net increase of three from last month.</li>
<li>Of the 90 documents not publicly available, 34 were produced but not published; and 56 were not produced at all.</li>
<li>28 budget documents from 20 different countries were published in October. This includes 11 In-Year Reports, 10 Executive’s Budget Proposals, three Citizens Budgets, one Year-End Report, and three Audit Reports. These documents are all available on IBP’s <a href="http://openbudgetlibrary.org">Open Budget Library</a>.</li>
</ul>

<p>Making progress</p>

<ul>
<li><strong>Côte d’Ivoire</strong> has published their Executive’s Budget Proposal for Fiscal Year (FY) 2015. Previously, Côte d’Ivoire has produced an Executive’s Budget Proposal but not made it publically available.</li>
<li><strong>Egypt</strong> has published a Citizens Budget for the Enacted Budget for FY 2014/2015. Previously, Egypt had not produced a Citizens Budget.</li>
<li><strong>Fiji</strong> has published an Audit Report for FY 2013. Previously, Fiji had not produced an Audit Report.</li>
</ul>

<p>Work to be done</p>

<ul>
<li><strong>Senegal</strong> released its Mid-Year Review for FY 2014 beyond the three-month deadline, which means its status will change from “produced for internal use only” to “late.”</li>
</ul>

<h2>Latest News</h2>

<p>The <a href="http://www.obstracker.org/data.csv">raw data</a> for the OBS Tracker is now available in machine-readable (.CSV) format. The file will be updated monthly, and includes the historical information for all 30 countries.</p>

<p>There have been at least 75 media pieces across 12 countries on the OBS Tracker. Many are articles in local and national media outlets, but there has also been coverage in international blogs (including Open Democracy and the Open Knowledge Foundation blogs), on local CSO blogs, and on televised news segments. The Tracker has received the most attention in the Dominican Republic and Vietnam, with 27 and 26 media pieces, respectively.</p>

<p>IBP staff and our partners also had a busy October in a number of countries, including:</p>

<ul>
<li><strong>Dominican Republic</strong>: IBP staff provided on-the-ground support, and were interviewed alongside our partner on a <a href="http://hoy.com.do/videos/todos/30-10-14unouno">national morning talk show</a>.</li>
<li><strong>Egypt</strong>: The Ministry of Finance met with IBP staff and our OBS Tracker partner, and committed to improving fiscal transparency and accountability. They described their plans to launch an online portal with financial data and analysis; and to send text messages to the public each time a new key document is posted to the portal. They also described the planned “Know your Budget” campaign which will see budget information disseminated through national daily papers.</li>
<li><strong>Nigeria</strong>: IBP’s partner, Civil Resource Development and Documentation Centre (CIRDDOC), was successful in obtaining a meeting with the Minister of Finance to discuss budget transparency. The Minister sought methodological clarifications on the OBS Tracker and Open Budget Survey, and emphasized her commitment to improving budget transparency in the country.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li>The budget formulation stage of the budget cycle is in full swing in many of the countries included in the OBS Tracker. Executive Budget Proposals are due to be published in October ten countries. We will be keeping an eye out for these, along with corresponding Citizens Budgets, to be published in the coming months.</li>
<li>We will be closely monitoring the publication of Executive Budget Proposals in <strong>Bolivia</strong>, <strong>Iraq</strong>, <strong>Palestine</strong>, <strong>Vietnam</strong>, and <strong>Fiji</strong>. Each of these countries currently produces the document but have so far not made them available to the public.</li>
</ul>

<p>Be sure to visit <a href="http://www.obstracker.org">www.obstracker.org</a> and click on the country to see when budget documents are due. All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org">Open Budget Library</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).
{% endblock %}
