{% extends "../../layout.html" %}

{% block page_title %}August Update{% endblock %}

{% block content %}
<h1>August Update</h1>

<p>On 11 September, IBP launched the Open Budget Survey Tracker (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>), an online tool that allows citizens, civil society, media, and others to monitor in real time whether central governments are releasing the requisite information on how the government is managing public finances. Since then, the Tracker has recorded its first changes which are highlighted below.</p>
 
<p><strong>Budget documents recorded in August 2014 included:</strong></p>

<ul>
<li>Twenty-four budget documents from 18 different countries. Twenty-two of these documents had also been published in the previous budget period.</li>
<li>The published documents include 13 quarterly or monthly In-Year Reports, five Year-End Reports, and our first two Executive’s Budget Proposals for Fiscal Year 2015 from the Kyrgyz Republic and the Philippines.</li>
<li>A new Mid-Year Review (in the previous budget year it was not produced) from Niger, along with the country’s Year-End Report (the previous Year-End Report was produced by the government for its internal use only).</li>
</ul>

<p>For many countries, September is an important month in the budget cycle, as it marks the beginning of the budget formulation stage.</p>

<p><strong>We expect to see a new crop of documents being published over the next several months including:</strong></p>

<ul>
  <li>Pre-Budget Statements;</li>
  <li>Executive’s Budget Proposals;</li>
  <li>Enacted Budgets; and</li>
  <li>Mid-Year Reviews (these are due in September for many countries, including Ecuador and Myanmar – both of which already produce the document, but do not make it available to the public).</li>
</ul>

<p>You can track the availability of these documents from the <a href="http://www.obstracker.org">OBS Tracker homepage</a> by clicking on a country and viewing the “Next Publishing Period” column.</p>

<p>Governments in the 30 countries that are part of the OBS Tracker have published 148 out of the 240 budget documents that we monitor (eight documents per country). This represents a slight increase from the 146 budget documents that were published in July 2014. Although this improvement in disclosure practices is welcome, 92 budget documents continue to be not published, of which 35 are available with governments for their internal use only. You can view all published documents in the budget document library at <a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>.</p>

<p>For more information on the methodology behind the OBS Tracker, read the <a href="http://www.obstracker.org/pdfs/sept_2014_obstracker_report.pdf">Open Budget Survey Tracker Guide</a>, and be sure to watch this space for future updates.</p>
{% endblock %}
