{% extends "../../layout.html" %}

{% block page_title %}November Update{% endblock %}

{% block content %}
<h1>November Update</h1>

<p>Overview</p>

<ul>
<li>Of the 240 budget documents monitored across all 30 countries, a total of 152 have now been published. This is a net increase of two from last month.</li>
<li>Of the 88 documents not publicly available, 33 were produced but not published; and 55 were not produced at all.</li>
<li>31 budget documents from 20 different countries were published in November. This includes 19 In-Year Reports, two Pre-Budget Statements, five Executive’s Budget Proposals, one Citizens Budget, two Enacted Budgets, one Year-End Report, and one Audit Report. These documents are all available on IBP’s <a href="http://openbudgetlibrary.org">Open Budget Library</a>.</li>
</ul>
 
<p>Making progress</p>

<ul>
<li><strong>Fiji</strong> has published its <strong>Executive’s Budget Proposal</strong> for Fiscal Year (FY) 2015. Previously, Fiji had produced an Executive’s Budget Proposal but not made it publicly available.</li>
<li><strong>Kenya</strong> has published a <strong>Year-End Report</strong> for FY 2013/14. Previously, Kenya had produced Year-End Report but not made it publicly available.</li>
</ul>

<p>Work to be done</p>

<ul>
<li><strong>Fiji</strong> produced a <strong>Pre-Budget Statement</strong> for FY 2015 but did not make it publicly available. This is actually a step back as previously Fiji made the Pre-Budget Statement publicly available.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li>Many countries included in the OBS Tracker are currently in the budget formulation stage. We will be keeping an eye out for <strong>Executive’s Budget Proposals</strong> for FY 2015, along with corresponding <strong>Citizens Budgets</strong>.</li>
<li>Executive’s Budget Proposals for FY 2015 have been published in 20 countries. This means six countries have yet to publish this critically important document for the fiscal year starting 1 January 2015.</li>
<li>Of these six countries, <strong>Bolivia</strong>, <strong>Iraq</strong>, <strong>Palestine</strong>, and <strong>Vietnam</strong> each produced an Executive’s Budget Proposal in FY 2014 but did not make it publicly available. <strong>Niger</strong> and <strong>Nigeria</strong> both made their Executive’s Budget Proposal documents publicly available in FY 2014.</li>
<li>In the coming months, we will also be looking out for <strong>Enacted Budgets</strong> and <strong>Citizens Budgets</strong> for FY 2015.</li>
</ul>

<p>Be sure to visit <a href="http://www.obstracker.org">www.obstracker.org</a> and click on the country or countries you are interested in to see when budget documents are due. All publicly available documents can be accessed through the <a href="http://openbudgetlibrary.org">Open Budget Library</a> (<a href="http://openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
