{% extends "../../layout.html" %}

{% block page_title %}December Update{% endblock %}

{% block content %}
<h1>December Update</h1>

<p>Overview</p>

<ul>
<li>Of the <a href="http://www.obstracker.org/">240 budget documents monitored across all 30 countries</a>, a total of 153 have now been published. This is an increase of one from last month.</li>
<li>Of the 87 documents not publicly available, 34 were produced but not published; and 53 were not produced at all.</li>
<li>23 budget documents from 17 different countries were published in November. This includes 11 In-Year Reports, five Enacted Budgets, five Year-End Reports, and two Audit Reports. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<p>Language update</p>

<ul>
<li>The OBS Tracker website is now available in five languages: <strong>Arabic</strong>, <strong>English</strong>, <strong>French</strong>, <strong>Russian</strong>, and <strong>Spanish</strong>. You can <a href="http://www.obstracker.org/">access these languages</a> by clicking on the language name in the upper right hand corner of the page.</li>
</ul>
 
<p>Making progress</p>

<ul>
<li><a href="http://www.obstracker.org/country/Niger">Niger</a> has published its <strong>Audit Report</strong> for Fiscal Year (FY) 2013. For the previous fiscal year, Niger had not produced an Audit Report.</li>
<li><a href="http://www.obstracker.org/country/Tanzania">Tanzania</a> has published a <strong>Year-End Report</strong> for FY 2013/14. For the previous fiscal year, Tanzania had not produced a Year-End Report.</li>
</ul>

<p>Work to be done</p>

<ul>
<li><a href="http://www.obstracker.org/country/Fiji">Fiji</a> did not produce a <strong>Year-End Report</strong> for FY 2013. Previously, Fiji had made the Year-End Report publicly available.</li>
<li><a href="http://www.obstracker.org/country/Iraq">Iraq</a> continues to restrict their <strong>Executive’s Budget Proposal</strong> to internal use only. In late December last year, the government released some information on the proposal to the newspaper <em>Al Sabaah</em>. While this does not meet international standards for making the Executive’s Budget Proposal publicly available, it is a small step in the right direction.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li>We continue to expect <strong>Enacted Budgets</strong> for FY 2015. Once the legislature approves the Enacted Budget, governments have three months to make it publicly available.</li>
<li>We will also continue to look out for <strong>Citizens Budgets</strong> for FY 2015. Citizens Budgets are expected to be published at the same time as the documents they are based on.</li>
</ul>

<p>Be sure to visit <a href="http://www.obstracker.org/">www.obstracker.org</a> and see when budget documents are due in the countries you are interested in.</p>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
