{% extends "../../layout.html" %}

{% block page_title %}September Update{% endblock %}

{% block content %}
<h1>September Update</h1>

The <a href="http://www.obstracker.org">Open Budget Survey Tracker</a> (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>) monitors whether the central governments of 30 countries are publishing each of the eight key budget documents on time as per international standards. Using data collected by independent budget experts in the 30 countries, the OBS Tracker provides real-time reporting on:

<ul>
<li>which budget documents have been published;</li>
<li>which documents have been produced but not published; and</li>
<li>which have not been produced at all.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org">Open Budget Library</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>

<p>Check out the latest OBS Tracker data, news from the team, and what to look out for in months ahead.</p>

<h2>Data updates</h2>

<p>Overview</p>

<ul>
<li>Of the 240 documents monitored across all 30 countries by the OBS Tracker, a total of 150 budget documents have now been published. This is a net increase of two from last month.</li>
<li>Of the 90 documents not publicly available, 35 were produced but not published; and 55 were not produced at all.</li>
<li>24 budget documents from 16 different countries were published in September. This includes 16 In-Year Reports, three Executive’s Budget Proposals, one Enacted Budget, three Mid-Year Reviews, and one Year-End Report.</li>
</ul>

<p>Positive highlights:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">Ecuador</a> has published their <strong>Mid-Year Review</strong> for Fiscal Year (FY) 2014. Previously, Ecuador has produced a Mid-Year Review but not made it publically available.</li>
<li><a href="http://www.obstracker.org/country/Sierra%20Leone">Sierra Leone</a> has published their <strong>Mid-Year Review</strong> for FY 2014. Previously, Sierra Leone has produced a Mid-Year Review but not made it publically available.</li>
<li><a href="http://www.obstracker.org/country/Senegal">Senegal</a> has published <strong>Year-End Report</strong> for FY 2013. Previously, Senegal had not even produced a Year-End Report.</li>
</ul>

<p>Work to be done:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Nicaragua">Nicaragua</a> and <a href="http://www.obstracker.org/country/C%C3%B4te%20d%E2%80%99Ivoire">Côte d’Ivoire</a> have produced a <strong>Mid-Year Review</strong> for FY 2014 but
have not made these publicly available.</li>
<li><a href="http://www.obstracker.org/country/Tanzania">Tanzania</a> and <a href="http://www.obstracker.org/country/Timor-Leste">Timor-Leste</a> have failed to publish their latest <strong>In-Year Reports</strong> on time.</li>
</ul>

<h2>Latest News</h2>

<p>In September, IBP staff provided on-the-ground support to partners in <a href="http://www.laprensa.com.ni/2014/10/02/economia/213937-presupuesto-claro-mejorara-riesgo-pais-nicaragua-con-bajo-puntaje-en-indice-de-presupuesto-abierto">Nicaragua</a> and <a href="http://bizlive.vn/kinh-te-dau-tu/co-bat-thuong-khi-cong-khai-ngan-sach-viet-nam-xep-vao-nhom-cuoi-494026.html">Vietnam</a>.</p>

<h2>The month ahead</h2>

<ul>
<li>A cluster of countries included in the OBS Tracker are entering the budget formulation stage of their budget cycles. This means that over the next several months we will be on the lookout for published version of: Pre-Budget Statements; Executive’s Budget Proposals; Enacted Budgets; and Citizens Budgets.</li>
<li>Executive Budget Proposals are due for <strong>Bolivia</strong>, <strong>Côte d’Ivoire</strong>, and <strong>Fiji</strong>. This documents are produced in each of these countries but have not been made publically available so far.</li>
</ul>

<p>Be sure to visit <a href="http://www.obstracker.org">www.obstracker.org</a> and click on the country to see when budget documents are due.</p>
{% endblock %}
