{% extends "../../layout.html" %}

{% block page_title %}January Update{% endblock %}

{% block content %}
<h1>January Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">240 budget documents monitored across all 30 countries</a>, a total of 149 have now been published.</li>
<li>Of the 91 documents not made publicly available: 34 were produced but not published; and 57 were either not produced or published late.</li>
<li>26 budget documents from 18 different countries were published in January. This includes eight In-Year Reports, 11 Enacted Budgets, five Citizens Budgets, and two Pre-Budget Statements. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Language update</h2>

<ul>
<li>The OBS Tracker website is now available in five languages: <a href="http://www.obstracker.org/?locale=ar">Arabic</a>, <a href="http://www.obstracker.org/?locale=en">English</a>, <a href="http://www.obstracker.org/?locale=fr">French</a>, <a href="http://www.obstracker.org/?locale=ru">Russian</a>, and <a href="http://www.obstracker.org/?locale=es">Spanish</a>.</li>
</ul>
 
<h2>Making progress</h2>

<p>No progress has been made by tracker countries this month.</p>

<h2>Work to be done</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">Ecuador</a> and <a href="http://www.obstracker.org/country/Bolivia">Bolivia</a> have both failed to produce <strong>In-Year Reports</strong> for the most recent period, despite having previously made these publicly available. In-Year Reports are important because they provide a timely snapshot of the budget’s implementation and trends in revenue and expenditure.</li>
<li>Similarly, <a href="http://www.obstracker.org/country/Armenia">Armenia</a> failed to produce an <strong>In-Year Report</strong> for Quarter 4, after consistently producing one for each of Quarters 1, 2, and 3.</li>
<li><a href="http://www.obstracker.org/country/Myanmar">Myanmar</a> continues to restrict their <strong>Executive’s Budget Proposal</strong> to internal use only. In January, however, the government released selected tables from the proposal to two newspapers. While this does not meet international standards for making the Executive’s Budget Proposal publicly available, it is a step in the right direction.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Nigeria">Nigeria</a>’s government has submitted the Executive’s Budget Proposal for 2015 to the National Assembly, but has failed to make it publicly available. As budget has not yet been passed, now is the time for the government to publish the document.</li>
<li><a href="http://www.obstracker.org/country/Niger">Niger</a>’s budget for 2015 has already been passed, but has not yet been made publicly available. International standards require that the Enacted Budget be made publicly available within three months of being enacted, so now is the time for the government to publish the Enacted Budget.</li>
<li>Next month will also be the last opportunity for many countries, such as <a href="http://www.obstracker.org/country/Ecuador">Ecuador</a>, to make their In-Year Report for Quarter 4 of 2014 publicly available.</li>
</ul>

<p>Be sure to visit <a href="http://www.obstracker.org/">www.obstracker.org</a> to check out when budget documents are due in the countries you are interested in. All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
