{% extends "../../layout.html" %}

{% block page_title %}June Update{% endblock %}

{% block content %}
<h1>June Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">232 budget documents monitored across all 29 countries</a>, a total of 143 have now been published. This is a net increase of 2 from last month.</li>
<li>Of the 89 documents not publicly available, 37 were produced but not published, 9 were published late, and 43 were not produced at all.</li>
<li>16 budget documents from 14 different countries were published in June. This includes 4 Audit Reports, 11 In-Year Reports, and 1 Year-End Report. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Making progress</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/Mali">Mali</a> has made its <strong>In-Year Report</strong> for Quarter 1 of 2015 publicly available. Mali had published the previous report too late to be considered publicly available.</li>
  <li><a href="http://www.obstracker.org/status/Senegal">Senegal</a> has published its <strong>Audit Report</strong> for 2013. The Audit Report for the previous fiscal year had been published too late to be considered publicly available.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
  <li>For countries with January to December fiscal years, <strong>Mid-Year Reviews</strong> for 2015 should be published in the coming month, along with <strong>Pre-Budget Statements</strong> for 2016.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
