{% extends "../../layout.html" %}

{% block page_title %}May Update{% endblock %}

{% block content %}
<h1>May Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">240 budget documents monitored across all 30 countries</a>, a total of 147 have now been published. This is a net increase of 7 from last month.</li>
<li>Of the 94 documents not publicly available, 37 were produced but not published, 10 were published late, and 46 were not produced at all.</li>
<li>29 budget documents from 23 different countries were published in May. This includes 2 Pre-Budget Statements, 2 Executive’s Budget Proposals, 2 Enacted Budgets, 18 In-Year Reports, 2 Year-End Reports, and 3 Audit Reports. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Making progress</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">Bolivia</a>, the <a href="http://www.obstracker.org/status/Dominican%20Republic">Dominican Republic</a>, <a href="http://www.obstracker.org/status/Ecuador">Ecuador</a>, <a href="http://www.obstracker.org/status/Ghana">Ghana</a>, <a href="http://www.obstracker.org/status/Iraq">Iraq</a>, <a href="http://www.obstracker.org/status/Nicaragua">Nicaragua</a>, and <a href="http://www.obstracker.org/status/Niger">Niger</a> all published <strong>In-Year Reports</strong>, after failing to make that document publicly available in previous monitoring periods.</li>
<li><a href="http://www.obstracker.org/status/Tanzania">Tanzania</a> has made its <strong>Audit Report</strong> for 2013/2014 publicly available. This report was previously produced for internal use only, as it had been completed and submitted to the Executive, but had not published.</li>
</ul>

<h2>Work to be done</h2>

<ul>
<li>The government of the <a href="http://www.obstracker.org/status/Dem.%20Rep.%20of%20Congo">Democratic Republic of the Congo</a> has produced <strong>In-Year Reports</strong> for April and May 2015, but has not yet published the documents. Consistent and timely In-Year Reports are crucial to monitoring government finances.</li>
<li><a href="http://www.obstracker.org/status/Nigeria">Nigeria’s</a> government failed to make the <strong>Executive’s Budget Proposal</strong> for 2015 publicly available before the budget was enacted into law. The Executive’s Budget Proposal is among the most important budget documents, as it is how the government translates many of their key policy goals into action. If civil society is to have any prospect of being able to influence the design and implementation of policies, then the public must have access to information on what the government is intending to spend and how it intends to finance its activities, before the budget is enacted into law.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li><strong>Audit Reports</strong> for 2013 are due at the end of June for countries whose fiscal years run from January to December. This includes <a href="http://www.obstracker.org/status/Bolivia">Bolivia</a>, <a href="http://www.obstracker.org/status/El%20Salvador">El Salvador</a>, <a href="http://www.obstracker.org/status/Senegal">Senegal</a>, and <a href="http://www.obstracker.org/status/Vietnam">Vietnam</a>.</li>
<li><a href="http://www.obstracker.org/status/Egypt">Egypt’s</a> <strong>Executive Budget Proposal</strong> for 2015/2016 is expected to be published next month. For the previous fiscal year, Egypt published its Executive’s Budget Proposal too late to be considered publicly available.</li>
</ul>

<h2>Updates</h2>

<ul>
<li>The current status page for each country now <a href="http://www.obstracker.org/status/Niger">includes comments for selected documents</a>. These comments provide additional information on documents and are only available in English or the language of origin/researcher.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
