{% extends "../../layout.html" %}

{% block page_title %}April Update{% endblock %}

{% block content %}
<h1>April Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">240 budget documents monitored across all 30 countries</a>, a total of 140 have now been published. This is a net decrease of 2 from last month.</li>
<li>Of the 100 documents not publicly available, 38 were produced but not published, 12 were published late, and 50 were not produced at all.</li>
<li>25 budget documents from 20 different countries were published in April. This includes 16 In-Year Reports, one Pre-Budget Statement, one Executive’s Budget Proposal, one Enacted Budget, one Citizens Budget, and 5 Year-End Reports. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Work to be done</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Mali">Mali’s</a> government published the Quarter 4 2014 <strong>In-Year Report</strong> in April, which is too late to be considered publicly available. Consistent and timely In-Year Reports are crucial to monitoring government finances.</li>
<li><a href="http://www.obstracker.org/status/Timor-Leste">Timor-Leste’s</a> government has failed to produce a <strong>Citizens Budget</strong> for 2015. Timor-Leste had previously published a Citizens Budget for the preceding fiscal year.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Nigeria">Nigeria’s</a> government has still not made the <strong>Executive’s Budget Proposal</strong> for 2015 publicly available, though it has already been submitted to the National Assembly. The government has until the budget is enacted to make the Executive’s Budget Proposal publicly available.</li>
<li><a href="http://www.obstracker.org/status/Tanzania">Tanzania’s</a> <strong>Audit Report</strong> for 2013-2014 has been completed and submitted to the Executive, but has not yet been published. The government has until 31 December to make this document publicly available.</li>
</ul>

<h2>Updates</h2>

<ul>
<li>The current status page for each country now <a href="http://www.obstracker.org/status/Niger">includes comments for selected documents</a>. These comments provide additional information on documents and are only available in English or the language of origin/researcher.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
