{% extends "../../layout.html" %}

{% block page_title %}February Update{% endblock %}

{% block content %}
<h1>February Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">240 budget documents monitored across all 30 countries</a>, a total of 149 have now been published. This is an improvement of one from last month.</li>
<li>Of the 91 documents not publicly available, 34 were produced but not published; and 57 were not produced or were published late.</li>
<li>A total of 19 budget documents from 15 different countries were published in February. This includes 13 In-Year Reports, three Enacted Budgets, two Citizens Budgets, and one Year-End Report. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Making progress</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">Bolivia</a> published an <strong>In-Year Report</strong> for November 2014. This is a return to past practice for Bolivia as, with the exception of the report covering October 2014, the government has consistently <a href="http://www.obstracker.org/country/Bolivia">published</a> In-Year Reports.</li>
<li><a href="http://www.obstracker.org/status/Iraq">Iraq</a> published the <strong>Enacted Budget</strong> for 2015. This is an improvement. In 2014, Iraq failed to pass a budget and relied on the 2013 Enacted Budget. This year Iraq has passed and published the Enacted Budget.</li>
<li><a href="http://www.obstracker.org/status/Niger">Niger</a> has published an <strong>Enacted Budget</strong> for 2015. This is an improvement as Niger’s previous Enacted Budget was produced for internal use only.</li>
</ul>

<h2>Work to be done</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Sierra%20Leone">Sierra Leone</a> has failed to produce a <strong>Year-End Report</strong> for 2013. Year-End Reports are important because they consolidate the entire year’s expenditures and revenues relative to the original Enacted Budget. In the previous fiscal year, Sierra Leone had produced a Year-End Report.</li>
<li><a href="http://www.obstracker.org/status/Timor-Leste">Timor-Leste</a> has produced an <strong>In-Year Report</strong> for Quarter 4 of 2014 but failed to make it publically available. In-Year Reports are important because they provide a timely snapshot of budget implementation and trends in revenue and expenditure. The Government of Timor-Leste has until the end of March to make the In-Year Report for Quarter 4 of 2014 publicly available.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Nigeria">Nigeria’s</a> government has still not made the Executive’s Budget Proposal for 2015 publicly available, despite having already submitted it to the National Assembly. As the budget has not yet been passed, the government should urgently make this document publicly available.</li>
</ul>

<h2>Updates</h2>

<ul>
<li>The <a href="http://www.obstracker.org/country/Egypt">historical information pages</a> on the OBS Tracker website have recently undergone an upgrade. These pages allow users to track the availability of the eight key budget documents across time. Check them out by clicking on “View historical information” on each country’s page.</li>
<li>Visit <a href="http://www.obstracker.org/press">OBS Tracker’s Press Room</a> to keep up-to-date with the latest news, including interviews with OBS Tracker partners, as well as editorials, news articles, and more.</li>
</ul>

<p>Be sure to visit <a href="http://www.obstracker.org/">www.obstracker.org</a> and see when budget documents are due in the countries you are interested in.
</p>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
