{% extends "../../layout.html" %}

{% block page_title %}Дополнение от августа{% endblock %}

{% block content %}
<h1>Обновления за август уже доступны на веб-сайте OBS Tracker!</h1>

<h2>Публикация других документов ожидается в ближайшие месяцы</h2>

<p>11 сентября МБП запустило мониторинговый веб-сайт с опросным листом к Опросу для оценки открытости бюджета (OBS Tracker <a href="http://www.obstracker.org/">www.obstracker.org</a>) – онлайновый инструмент, позволяющий гражданам, гражданскому обществу, средствам массовой информации и другим отслеживать в режиме реального времени обнародование центральными правительствами соответствующей информации о том, как правительство распоряжается государственными финансами. С тех пор, на веб-сайте Tracker были отмечены первые изменения, которые приводятся ниже.</p>

<p><strong>Бюджетные документы, зарегистрированные в августе 2014, включают:</strong>/<p>

<ul>
<li>Двадцать четыре бюджетных документа из 18-ти различных стран. Двадцать два из этих документов были также опубликованы в предыдущем бюджетном периоде.</li>
<li>Опубликованные документы включают 13 ежеквартальных или ежемесячных текущих отчётов, пять годовых отчётов, а также наши первые два бюджетных предложения исполнительной власти за финансовый 2015 год из Киргизской Республики и Филиппин.</li>
<li>Новый полугодовой обзор (в прошлом бюджетном году не разрабатывался) из Нигера наряду с годовым отчётом страны (предыдущий годовой отчёт был подготовлен правительством только для внутреннего использования).</li>
</ul>

<p>Для многих стран сентябрь важный месяц в бюджетном цикле, так как он означает начало периода формирования бюджета.</p>

<p><strong>Мы ожидаем публикацию дополнительного количества документов в течение следующих нескольких месяцев, включая:</strong></p>

<ul>
<li>Предварительное бюджетное заявление;</li>
<li>Бюджетное предложение исполнительной власти;</li>
<li>Утверждённый бюджет; и</li>
<li>Полугодовые обзоры (во многих странах они должны быть разработаны в  сентябре, в том числе в Эквадоре и Мьянме – в двух странах, уже разработавших этот документ, но ещё не опубликовавших его).</li>
</ul>

<p>Вы можете узнать о наличии этих документов на <a href="http://www.obstracker.org/">домашней странице веб-сайта BS Tracker</a>, нажав на ссылку страны и просмотрев колонку «Следующий период публикации».</p>

<p>Правительства 30 стран, которые включены в состав опросного листа на веб-сайте OBS Tracker, опубликовали 148 из 240 отслеживаемых нами бюджетных документов (восемь документов на каждую страну). Это представляет собой незначительное увеличение бюджетных документов со 146 документов, опубликованных в июле 2014 года. Хотя такое улучшение в практике обнародования информации является положительным моментом, 92 бюджетных документа по-прежнему остаются не опубликованными, 35 из которых  остаются только для внутреннего пользования правительств. Вы можете просмотреть все опубликованные документы в библиотеке бюджетных документов на веб-сайте <a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>.</p>

<p>Для получения более подробной информации о методологии опросного листа прочтите <a href="http://www.obstracker.org/pdfs/sept_2014_obstracker_report_ru.pdf">Руководство по опросному листу к Опросу для оценки открытости бюджета</a> и сделайте закладку для просмотра будущих обновлений.</p>
{% endblock %}
