{% extends "../../layout.html" %}

{% block page_title %}обновление ноября{% endblock %}

{% block content %}
<h1>Обновления за ноябрь уже доступны на веб-сайте OBS Tracker!</h1>

<p>Обзор:</p>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности 152 документа уже опубликовано. С прошлого месяца отмечено чистое увеличение на два документа.</li>
<li>Из 88 недоступных общественности документов 33 были разработаны, но не опубликованы; а 55 вообще не производились.</li>
<li>31 бюджетный документ из 20 разных стран был опубликован в ноябре. Это включает 19 текущих отчётов, два предварительных бюджетных заявления, пять бюджетных предложений исполнительной власти, один гражданский бюджет, два утверждённых бюджета, один годовой отчёт и один аудиторский отчёт. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<p>Прогресс совершён со стороны:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Fiji">Фиджи</a>, которая опубликовала <strong>бюджетное предложение исполнительной</strong> власти за 2015 финансовый год. До этого Фиджи разработала бюджетное предложение исполнительной власти, но не опубликовало его.</li>
<li><a href="http://www.obstracker.org/country/Kenya">Кения</a> опубликовала <strong>годовой отчёт</strong> за 2013/2014 финансовый год. До этого Кения разработала годовой отчёт, но не опубликовала его.</li>
</ul>

<p>Что необходимо сделать:</p>

<ul>
<li><strong>Фиджи разработала предварительное бюджетное заявление за 2015 финансовый</strong> год, но не опубликовала его. <strong>На самом деле, это шаг назад, так как ранее Фиджи сделала предварительное бюджетное заявление общедоступным</strong>.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li>Многие страны, включенные в опросный лист на веб-сайте OBS Tracker, в настоящее время находятся в стадии разработки бюджета. Мы будем следить за <strong>бюджетными предложениями исполнительной власти</strong> за 2015 финансовый год, а также за соответствующими <strong>гражданскими бюджетами</strong>.</li>
<li>Бюджетные предложения исполнительной власти за 2015 финансовый год опубликованы в 20-ти странах. Это означает, что шести странам ещё необходимо опубликовать этот критически важный документ за финансовый год, начиная с 1 января 2015.</li>
<li>Из этих шести стран, <strong>Боливия</strong>, <strong>Ирак</strong>, <strong>Палестина</strong> и <strong>Вьетнам</strong> разработали бюджетное предложение исполнительной власти в 2014 финансовом году, но не сделали его общедоступным. <strong>Нигер</strong> и <strong>Нигерия</strong> сделали документы по бюджетному предложению исполнительной власти общедоступными в 2014 финансовом году.</li>
<li>В ближайшие месяцы мы также будем отслеживать <strong>утверждённые бюджеты</strong> и <strong>гражданские бюджеты</strong> на 2015 финансовый год.</li>
</ul>

<p>Обязательно зайдите на веб-сайт <a href="http://www.obstracker.org">www.obstracker.org</a>, нажмите на ссылку страны или стран, которые вас интересуют, чтобы узнать о сроках бюджетных документов.</p>

<p>Все публично доступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке открытости бюджета</a> на веб-сайте (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
