{% extends "../../layout.html" %}

{% block page_title %}обновление декабря{% endblock %}

{% block content %}
<h1>Обновления за декабрь уже доступны на веб-сайте OBS Tracker!</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности уже опубликовано 153 документа. С прошлого месяца это означает увеличение на один документ.</li>
<li>Из 87 недоступных общественности документов 34 были разработаны, но не опубликованы, а 53 вообще не производились.</li>
<li>23 бюджетных документа из 17 разных стран были опубликованы в ноябре. Это включает 11 текущих отчётов, пять утверждённых бюджетов, пять годовых отчётов и два аудиторских отчёта. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<h2>Обновление на других языках</h2>

<ul>
<li>Материалы на веб-сайте OBS Tracker сейчас доступны на пяти языках: <strong>арабском, английском, французском, русском и испанском</strong>. Вы можете ознакомиться с материалами <a href="http://www.obstracker.org/">на этих языках</a>, щёлкнув по названию языка в верхнем правом углу страницы.</li>
</ul>

<h2>Прогресс совершён со стороны:</h2>

<ul>
<li>Республика <a href="http://www.obstracker.org/country/Niger">Нигер</a> опубликовала <strong>аудиторский отчёт</strong> за 2013 финансовый год. В прошлом финансовом году <strong>Нигер</strong> не разрабатывала аудиторский отчёт.</li>
<li><a href="http://www.obstracker.org/country/Tanzania">Танзания</a> опубликовала <strong>годовой отчёт</strong> за 2013/2014 финансовый год. В прошлом финансовом году Танзания не разрабатывала годовой отчёт.</li>
</ul>

<h2>Что необходимо сделать:</h2>
<ul>
<li>Республика <a href="http://www.obstracker.org/country/Fiji">Фиджи</a> не разрабатывала <strong>годовой отчёт</strong> за 2013 финансовый год. Ранее Фиджи не публиковала годовой отчёт.</li>
<li><a href="http://www.obstracker.org/country/Iraq">Ирак</a> по-прежнему ограничивает <strong>бюджетное предложение исполнительной власти</strong> только для внутреннего пользования. В конце декабря прошлого года правительство дало некоторую информацию по этому предложению для газеты <em>Al Sabaah</em>. Хотя это и не отвечает международным стандартам по общедоступности бюджетного предложения исполнительной власти, это уже маленький шаг в нужном направлении.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li>Мы по-прежнему ожидаем <strong>утверждённые бюджеты</strong> за 2015 финансовый год. После принятия законодательным органом утверждённого бюджета, у правительства будет три месяца, чтобы сделать его общедоступным.</li>
<li>Мы также будем ждать выпуска <strong>гражданских бюджетов</strong> за 2015 финансовый год. Ожидается, что гражданские бюджеты будут опубликованы в то же время, что и документы на которых они основаны.</li>
</ul>

<p>Обязательно зайдите на веб-сайт <a href="http://www.obstracker.org">http://www.obstracker.org</a>, чтобы ознакомиться со сроками разработки и публикации бюджетных документов по интересующей вас стране.</p>

<p>Со всеми общедоступными документами можно ознакомиться в <a href="http://www.openbudgetlibrary.org/">библиотеке открытости бюджета</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
