{% extends "../../layout.html" %}

{% block page_title %}обновление сентябре{% endblock %}

{% block content %}
<h1>На веб-сайте OBS Tracker уже доступны обновления за сентябрь!</h1>

<p><a href="http://www.obstracker.org">Опросный лист к Опросу для оценки открытости бюджета</a> (веб-сайт OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>) прослеживает факт публикации восьми ключевых бюджетных документов органами центрального государственного управления 30 стран. Используя данные, собранные независимыми экспертами по бюджету в 30 странах, веб-сайт OBS Tracker предоставляет актуальные данные в отношении следующего:</p>

<ul>
<li>какие бюджетные документы были опубликованы;</li>
<li>какие документы были подготовлены, но не опубликованы; и</li>
<li>какие документы вообще не разрабатывались.</li>
</ul>

<p>Все общедоступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке открытости бюджета</a> на веб-сайте (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>

<p>Ознакомьтесь с последними данными, новостями от групп и планами на ближайшие месяцы на веб-сайте OBS Tracker.</p>

<h2>Обновление данных</h2>

<p>Обзор:</p>

<ul>
<li>Из 240 бюджетных документов, отслеживаемых в 30 странах, в общей сложности уже опубликовано 150 документа. С прошлого месяца это означает чистое увеличение на два документа.</li>
<li>Из 90 недоступных общественности документов 35 были разработаны, но не опубликованы, а 55 вообще не производились.</li>
<li>24 бюджетных документа из 16 разных стран были опубликованы в сентябре. Это включает 16 текущих отчётов, три бюджетных предложения исполнительной власти, один утверждённый бюджет, три полугодовых обзора и один годовой отчёт.</li>
</ul>

<p>Положительные моменты:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">Эквадор</a> опубликовал свой <strong>полугодовой обзор</strong> за 2014 финансовый год. Ранее Эквадор разрабатывал полугодовой обзор, но не публиковал его.</li>
<li>Республика <a href="http://www.obstracker.org/country/Sierra%20Leone">Сьерра-Леоне</a> опубликовала свой <strong>полугодовой обзор</strong> за 2014 финансовый год. Ранее Сьерра-Леоне разрабатывала полугодовой обзор, но не публиковала его.</li>
<li>Республика <a href="http://www.obstracker.org/country/Senegal">Сенегал</a> опубликовала <strong>годовой отчёт</strong> за 2013 финансовый год. Ранее Сенегал даже не разрабатывала годовой отчёт.</li>
</ul>

<p>Что необходимо сделать:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Nicaragua">Никарагуа</a> и <a href="http://www.obstracker.org/country/Côte%20d’Ivoire">Кот-д'Ивуар</a> разработали <strong>полугодовой обзор</strong> за 2014 финансовый год, но не опубликовали его.</li>
<li><a href="http://www.obstracker.org/country/Tanzania">Танзания</a> и <a href="http://www.obstracker.org/country/Timor-Leste">Восточный Тимор</a> не смогли вовремя опубликовать свои последние <strong>текущие отчёты</strong>.</li>
</ul>

<h2>Последние Новости</h2>

<p>В сентябре сотрудники МБП предоставили поддержку партнерам непосредственно на местах в <a href="http://www.laprensa.com.ni/2014/10/02/economia/213937-presupuesto-claro-mejorara-riesgo-pais-nicaragua-con-bajo-puntaje-en-indice-de-presupuesto-abierto">Никарагуа</a> и <a href="http://bizlive.vn/kinh-te-dau-tu/co-bat-thuong-khi-cong-khai-ngan-sach-viet-nam-xep-vao-nhom-cuoi-494026.html">Вьетнаме</a>.</p>

<h2>Предстоящий месяц</h2>

<ul>
<li>Группа стран, рассматриваемых в опросном листе к ОООБ на веб-сайте OBS Tracker, вступает в этап разработки бюджета своих бюджетных циклов. Это означает, что в течение ближайших нескольких месяцев мы будем проверять на веб-сайте публикацию: предварительных бюджетных заявлений, бюджетных предложений исполнительной власти, утверждённых бюджетов и гражданских бюджетов.</li>
<li>Подошёл срок публикации бюджетных предложений исполнительных органов <strong>Боливии</strong>, <strong>Кот-д'Ивуар</strong> и <strong>Фиджи</strong>. Эти документы разрабатываются в каждой из этих стран, но до сих пор ещё не были опубликованы.</li>
</ul>

<p>Заходите на веб-сайт <a href="http://www.obstracker.org/">http://www.obstracker.org</a> и чтобы узнать о сроках бюджетных документов нажмите на ссылку страны.</p>
{% endblock %}
