{% extends "../../layout.html" %}

{% block page_title %}обновление октября{% endblock %}

{% block content %}
<h1>Обновления за октябрь уже доступны на веб-сайте OBS Tracker!</h1>

<p><a href="http://www.obstracker.org">Опросный лист к опросу для оценки открытости бюджета</a> (веб-сайт OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>) прослеживает факт публикации восьми ключевых бюджетных документов органами центрального государственного управления 30 стран в соответствии с международными стандартами. Используя данные, собранные независимыми экспертами по бюджету в 30 странах, веб-сайт OBS Tracker предоставляет актуальные данные в отношении следующих вопросов:</p>

<ul>
<li>какие бюджетные документы были опубликованы;</li>
<li>какие документы были подготовлены, но не опубликованы; и</li>
<li>какие документы вообще не разрабатывались.</li>
</ul>

<p>Ознакомьтесь с последними данными, новостями и планами на ближайшие месяцы на веб-сайте OBS Tracker.</p>

<h2>Обновления за октябрь</h2>

<p>Обзор:</p>

<ul>
<li>Из 240 бюджетных документов, отслеживаемых в 30 странах, в общей сложности уже опубликовано 150 документа. С прошлого месяца это чистое увеличение на три документа.</li>
<li>Из 90 недоступных общественности документов 34 были разработаны, но не опубликованы, а 56 вообще не производилось.</li>
<li>28 бюджетных документа из 20 разных стран были опубликованы в октябре. Это включает 11 текущих отчётов, 10 бюджетных предложений исполнительной власти, три гражданских бюджета, один годовой отчёт и три аудиторских отчёта. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<p>Прогресс отмечен со стороны:</p>

<ul>
<li>Республики <strong>Кот-д'Ивуар</strong>, которая опубликовала бюджетное предложение исполнительной власти за финансовый 2015 год. До этого <strong>Кот-д'Ивуар</strong> разработала бюджетное предложение исполнительной власти, но не опубликовало его.</li>
<li><strong>Египет</strong> опубликовал гражданский бюджет для утверждённого бюджета на 2014/2015 финансовый год. Ранее Египет не занимался разработкой гражданского бюджета.</li>
<li>Республика <strong>Фиджи</strong> опубликовала аудиторский отчёт за 2013 финансовый год.  Ранее Фиджи не занималась разработкой аудиторского отчёта.</li>
</ul>

<p>Что необходимо сделать:</p>

<ul>
<li><strong>Республика Сенегал выпустила свой полугодовой обзор за 2014 финансовый год в течение трёх месяцев, что означает изменение его статуса «разработано только для внутреннего пользования» на статус «с опозданием».</strong></li>
</ul>

<h2>Последние Новости</h2>

<p><a href="http://www.obstracker.org/data.csv">Предварительные данные</a> для опросного листа к ОООБ теперь доступны в машиночитаемом формате (CSV). Файл будет обновляться ежемесячно, и включать историческую информацию для всех 30 стран.</p>

<p>На веб-сайте OBS Tracker было представлено, по крайней мере, 75 заметок СМИ по 12-ти странам. Многие статьи были представлены в местных и национальных средствах массовой информации, а также были публикации и в международных блогах (в том числе в блоге Открытая Демократия и Фонд Открытое знание), на местных блогах ОГО и в отрывках телевизионных новостей. Веб-сайт Tracker получил наибольшее внимание в Доминиканской Республике и Вьетнаме, соответственно 27 и 26 заметок СМИ.</p>

<p>Для сотрудников МБП и наших партнёров также выдался насыщенный октябрь в ряде стран, в том числе в:</p>

<ul>
<li><strong>Доминиканской Республике</strong>: сотрудники МБП предоставили поддержку непосредственно на местах и дали интервью вместе с нашим партнёром на <a href="http://hoy.com.do/videos/todos/30-10-14unouno">национальных утренних теледебатах</a>.</li>
<li><strong>Египте</strong>: Министерство финансов встретилось с сотрудниками МБП и нашим партнёром по опросному листу ОООБ и выразило желание к совершенствованию прозрачности в налогово-финансовой сфере и подотчётности. Они рассказали о своих планах по запуску интернет-портала с финансовыми данными и анализом; и рассылке текстовых сообщений в адрес общественности каждый раз, когда на портале будет размещаться новый ключевой документ. Они также описали запланированную кампанию «Знай свой бюджет», в задачу которой будет входить распространение бюджетной информации через национальные ежедневные газеты.</li>
<li><strong>Нигерии</strong>: партнеру МБП, Центру развития ресурсов государственной службы и документации (CIRDDOC) удалось встретиться с министром финансов, чтобы обсудить прозрачность бюджета. Министр проявила заинтересованность в использовании методологии для опросного листа к ОООБ и Опроса для оценки открытости бюджета, и подчеркнула свою приверженность к улучшению прозрачности бюджета в стране.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li>Этап разработки бюджета бюджетного цикла в полном разгаре во многих странах, рассматриваемых в опросном листе ОООБ.  Десять стран должны опубликовать бюджетные предложения исполнительных органов в октябре. Мы будем следить за этим, а также за публикацией соответствующих гражданских бюджетов в ближайшие месяцы.</li>
<li>Мы будем внимательно следить за публикацией бюджетных предложений исполнительных органов в <strong>Боливии</strong>, <strong>Ираке</strong>, <strong>Палестине</strong>, <strong>Вьетнаме</strong> и <strong>Фиджи</strong>. Каждая из этих стран в настоящее время занимается разработкой документа, но пока ещё не сделали их доступными для общественности.</li>

<p>Заходите на веб-сайт <a href="http://www.obstracker.org">www.obstracker.org</a>, чтобы узнать о сроках бюджетных документов нажмите на ссылку страны. Все общедоступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке открытости бюджета</a> на веб-сайте (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
