{% extends "../../layout.html" %}

{% block page_title %}Обновление февраля{% endblock %}

{% block content %}
<h1>Уже доступны обновления от Электронной библиотеки МБП за февраль!</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности уже опубликовано 149 документов. Это улучшение на один с прошлого месяца.</li>
<li>Из 91 документа, не доступного общественности: 34 были разработаны, но не опубликованы, а 57 не поступали в производство или были опубликованы с опозданием.</li>
<li>19 бюджетных документов из 15 разных стран были опубликованы в феврале. Сюда входят 13 Текущих отчётов, три Утверждённых бюджета, два Гражданских бюджета, а также один Годовой отчёт. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке прозрачности бюджета</a> МБП.</li>
</ul>

<h2>Что сделано</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">Боливия</a> опубликовала <strong>Текущий отчёт</strong> за ноябрь 2014 г. Это возврат к прежней практике для Боливии, так как за исключением отчёта за октябрь 2014 г. правительство регулярно <a href="http://www.obstracker.org/country/Bolivia">публиковало</a> Текущие отчёты.</li>
<li><a href="http://www.obstracker.org/status/Iraq">Ирак</a> опубликовал <strong>Утверждённый бюджет</strong> на 2015 г. Это улучшение. В 2014 г. Ирак не смог принять бюджет и опирался на Утверждённый бюджет за 2013 г. В этом году Ирак принял и опубликовал Утверждённый бюджет.</li>
<li><a href="http://www.obstracker.org/status/Niger">Нигер</a> опубликовал <strong>Утверждённый бюджет</strong> на 2015 г. Это улучшение, так как предыдущий Утверждённый бюджет Нигера был разработан только для внутреннего пользования.</li>
</ul>

<h2>Что следует сделать</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Sierra%20Leone">Сьерра-Леоне</a> не смогла подготовить <strong>Годовой отчёт</strong> за 2013 г. Годовые отчёты важны, так как в них обобщаются расходы и поступления за весь год в сравнении с первоначальным Утверждённым бюджетом. В предыдущем фискальном году Сьерра-Леоне подготовила Годовой отчёт.
</li>
<li><a href="http://www.obstracker.org/status/Timor-Leste">Тимор-Лешти</a> подготовил <strong>Текущий отчёт</strong> за 4-й квартал 2014 г. но не опубликовал его. Текущие отчёты важны, потому что они обеспечивают своевременную информацию о реализации бюджета и тенденциях по поступлениям и расходам. Правительству Тимор-Леште необходимо до конца марта опубликовать Текущий отчёт за 4-й квартал 2014 г.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li>Правительство <a href="http://www.obstracker.org/status/Nigeria">Нигерии</a> до сих пор не опубликовало Бюджетное предложение исполнительной власти на 2015 г. несмотря на то, это предложение уже было подано на рассмотрение Национального собрания. Так как бюджет ещё не был принят, правительство должно срочно опубликовать этот документ.</li>
</ul>

<h2>Обновления</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Egypt">Страницы с информацией о прошлых периодах</a> на веб-сайте Электронной библиотеки МБП недавно были обновлены. На этих страницах пользователи могут отследить появление в наличии восьми основных бюджетных документов по ходу времени. Проверить их можно, перейдя по ссылке «См. историческую информацию» на странице каждой страны.</li>
<li>Зайдите на <a href="http://www.obstracker.org/press">страницу пресс-релизов Электронной библиотеки МБП</a>, чтобы узнать самые последние новости, а также прочитать интервью с партнёрами Электронной библиотеки МБП, редакторские заметки, статьи с новостями и многое другое.</li>
</ul>

<p>Обязательно зайдите на веб-сайт <a href="http://www.obstracker.org/">www.obstracker.org</a>, чтобы ознакомиться со сроками разработки и публикации бюджетных документов по интересующей вас стране.</p>

<p>Со всеми общедоступными документами можно ознакомиться в <a href="http://www.openbudgetlibrary.org/">Библиотеке прозрачности бюджета (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
