{% extends "../../layout.html" %}

{% block page_title %}обновление марта{% endblock %}

{% block content %}
<h1>Обновления за март уже доступны на веб-сайте Электронной библиотеки ИПБ!</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности уже опубликовано 142 документа. С прошлого месяца это означает уменьшение на 7 документов.</li>
<li>Из 98 недоступных общественности документов 39 были разработаны, но не опубликованы, а 59 вообще не производились или были опубликованы позже.</li>
<li>21 бюджетный документ из 15 разных стран был опубликован в марте. Это включает тринадцать Текущих отчетов, одно Предварительное бюджетное заявление, один Утвержденный бюджет, три Гражданских бюджетов, два Годовых отчета и один Аудиторский отчет. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<h2>Что сделано</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Egypt">Египет</a> опубликовал <strong>Предварительное бюджетное заявление</strong> на 2015-2016 финансовый год. Ранее Египет не публиковал Предварительное бюджетное заявление, содержащее важные подробности в отношении правительственных макроэкономических ориентировочных расчётов, используемых для определения политики.</li>
<li><a href="http://www.obstracker.org/status/Niger">Нигер</a> опубликовал <strong>Гражданский бюджет</strong> на 2015 год. Это первый Гражданский бюджет, разработанный республикой Нигер, и четвёртый бюджетный документ, который правительство опубликовало после того как начал работу веб-сайт Электронной библиотеки ИПБ.</li>
</ul>

<h2>Что необходимо сделать</h2>

<ul>
<li>Как <a href="http://www.obstracker.org/status/Dominican%20Republic">Доминиканская Республика</a>, так и <a href="http://www.obstracker.org/status/Nicaragua">Никарагуа</a> не успели опубликовать <strong>Текущий отчет</strong> за 4-ый квартал до срока 31 марта 2015 года. В предыдущие годы правительства обеих стран публиковали слишком поздно Текущие отчеты за 4-ый квартал с данными за весь год, чтобы они считались общедоступными.</li>
<li><a href="http://www.obstracker.org/status/Fiji">Фиджи</a> и <a href="http://www.obstracker.org/status/Ghana">Гана</a> не обеспечили общедоступность <strong>Утвержденного бюджета</strong> на 2015 год, хотя прошло три месяца после того, как Бюджетное предложение исполнительной власти было принято законодательной властью. В обеспечении прозрачности это означает шаг назад, так как бюджетный закон на 2015 год не был доступен для общественности.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li>Правительство <a href="http://www.obstracker.org/status/Nigeria">Нигерии</a> ещё не подготовило <strong>Бюджетное предложение исполнительной власти</strong> на 2015 год, несмотря на то, что оно уже было передано на рассмотрение Национальной ассамблеи. Пока бюджет ещё не был принят, для правительства будет своевременно опубликовать документ.</li>
<li><strong>Аудиторский отчет</strong> <a href="http://www.obstracker.org/status/Tanzania">Танзании</a> за 2013-2014 гг. завершён и передан в орган исполнительной власти, но ещё не опубликован. У правительства есть срок до 31 декабря для публикации этого документа.</li>
</ul>

<h2>Дополнительная информация</h2>

<ul>
<li>Текущий статус страницы для каждой страны сейчас <a href="http://www.obstracker.org/status/Niger">включает комментарии по отдельным документам</a>. Эти комментарии дают дополнительную информацию по документам, и они только доступны на английском или на национальном языке или языке исследователя.</li>
</ul>

<p>Все общедоступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке прозрачности бюджета на веб-сайте (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
