{% extends "../../layout.html" %}

{% block page_title %}September Update{% endblock %}

{% block content %}
<h1>September Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">232 budget documents monitored across all 29 countries</a>, a total of 142 have now been published. This is a net decrease of 2 from last month.</li>
<li>Of the 90 documents not publicly available: 37 were produced but not published, 9 were published late, and 44 were not produced at all.</li>
<li>17 budget documents from 13 different countries were published in September: 3 Executive’s Budget Proposals, 2 Citizens Budgets, 10 In-Year Reports, a Mid-Year Review, and an Audit Report. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Making progress</h2>

<ul>
<li>The <a href="http://www.obstracker.org/status/Dominican%20Republic">Dominican Republic</a> has published a <strong>Mid-Year Review</strong> for the first time. Mid-Year Reviews provide an update on budget execution and the government’s macro-economic assumptions.</li>
<li><a href="http://www.obstracker.org/status/Iraq">Iraq</a> has published the <strong>In-Year Report</strong> for August 2015. In-Year Reports provide a snapshot of budget implementation at different stages of the financial year. They should be published within three months of the end of the period that they report on.</li>
</ul>

<h2>Work to be Done</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Ecuador">Ecuador</a>, <a href="http://www.obstracker.org/status/Niger">Niger</a>, and <a href="http://www.obstracker.org/status/Sierra%20Leone">Sierra Leone</a> all failed to publish a <strong>Mid-Year Review</strong>, despite having done so last year. They join 19 other Tracker countries that fail to make the Mid-Year Review available to the public.</li>
<li><a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> failed to publish a <strong>Citizens Budget</strong> for 2015, despite having previously produced and published one for 2014. This continues a disappointing year for budget transparency in Nigeria, which also failed to make the 2015 Executive’s Budget Proposal publicly available.</li>
</ul>


<h2>The Month Ahead</h2>

<ul>
<li>As we head into the later months of the year, governments that operate on a January-to-December fiscal year should be publishing their Pre-Budget Statement, Executive’s Budget Proposal, and Enacted Budget for the upcoming budget year.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
