{% extends "../../layout.html" %}

{% block page_title %}Обновление за январь{% endblock %}

{% block content %}
<h1>Обновление за январь</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности уже опубликовано 149 документа.</li>
<li>Из 91-го документа не были доступны общественности: 34 было разработано, но не опубликовано, а 57 не поступали в производство и не публиковались.</li>
<li>26 бюджетных документов из 18 разных стран были опубликованы в январе. Это включает в себя восемь Текущих отчётов, 11 Утверждённых бюджетов, пять Гражданских бюджетов, а также два Предварительных бюджетных заявления. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке прозрачности бюджета</a> МБП.</li>
</ul>

<h2>Обновление на других языках</h2>

<ul>
<li>Материалы на веб-сайте Электронной библиотеки ИПБ сейчас доступны на пяти языках: <a href="http://www.obstracker.org/?locale=ar">арабском</a>, <a href="http://www.obstracker.org/?locale=en">английском</a>, <a href="http://www.obstracker.org/?locale=fr">французском</a>, <a href="http://www.obstracker.org/?locale=ru">русском</a> и <a href="http://www.obstracker.org/?locale=es">испанском</a>.</li>
</ul>
 
<h2>Что сделано</h2>

<p>За этот месяц в наблюдаемых странах не было замечено никаких подвижек.</p>

<h2>Что следует сделать</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">Эквадор</a> и <a href="http://www.obstracker.org/country/Bolivia">Боливия</a> не смогли выпустить <strong>Текущие отчёты</strong> за последний отчетный период, хотя ранее они публиковали их. Текущие отчёты важны, потому что они обеспечивают своевременную информацию о реализации бюджета и тенденциям по поступлениям и расходам.</li>
<li>Аналогичным образом <a href="http://www.obstracker.org/country/Armenia">Армения</a> не смогла подготовить <strong>Текущий отчёт</strong> за 4-ый квартал, хотя периодически выпускала по каждому кварталу 1-му, 2-му и 3-му.</li>
<li><a href="http://www.obstracker.org/country/Myanmar">Мьянма</a> по-прежнему ограничивает <strong>Бюджетное предложение исполнительной власти</strong> только для внутреннего пользования. В январе, однако, правительство опубликовало отдельные таблицы из предложения в двух газетах. Хотя это и не отвечает международным стандартам по общедоступности бюджетного предложения исполнительной власти, это уже шаг в верном направлении.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>

<li>Правительство <a href="http://www.obstracker.org/country/Nigeria">Нигерии</a> подало Бюджетное предложение исполнительной власти на 2015 год на рассмотрение Национального собрания, но не смогло опубликовать его. Хотя до сих пор бюджет ещё не был принят, а для правительства уже наступило время опубликовать его.</li>
<li>Хотя бюджет <a href="http://www.obstracker.org/country/Niger">Нигера</a> был уже принят на 2015 год, но до сих пор ещё не был опубликован. Согласно Международным стандартам Утверждённый бюджет должен быть опубликован в течение трех месяцев с момента его принятия, поэтому для правительства настало время опубликовать Утверждённый бюджет.</li>
<li>Следующий месяц будет также последней возможностью для многих стран, таких как <a href="http://www.obstracker.org/country/Ecuador">Эквадор</a>, опубликовать Текущий отчёт за 4-ый квартал 2014 года.</li>
</ul>

<p>Обязательно зайдите на веб-сайт <a href="http://www.obstracker.org/">www.obstracker.org</a> чтобы ознакомиться со сроками разработки и публикации бюджетных документов по интересующей вас стране. Со всеми общедоступными документами можно ознакомиться в <a href="http://www.openbudgetlibrary.org/">Библиотеке прозрачности бюджета</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
