{% extends "../../layout.html" %}

{% block page_title %}July Update{% endblock %}

{% block content %}
<h1>July Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">232 budget documents monitored across all 29 countries</a>, a total of 142 have now been published. This is a net decrease of 1 from last month.</li>
<li>Of the 90 documents not publicly available, 38 were produced but not published, 9 were published late, and 43 were not produced at all.</li>
<li>22 budget documents from 14 different countries were published in July. This includes 2 Pre-Budget Statements, 5 Enacted Budgets, 12 In-Year Reports, 2 Mid-Year Reviews, and 1 Audit Report. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Making progress</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/Tunisia">Tunisia</a> has published a Mid-Year Review for 2015 and an In-Year Report for Quarter 1 2015. Previously, Tunisia had not produced a Mid-Year Review. This is Tunisia’s first newly publicly available document since the OBS Tracker began monitoring in July 2014.</li>
</ul>

<h2>Work to be Done</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/Iraq">Iraq</a> has failed to publish the In-Year Report for April 2015, despite producing it for internal use. In-Year Reports should be published within three months of the end of the period that they report on.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
  <li>As we head into the later months of the year, we expect to see more Pre-Budget Statements, Executive’s Budget Proposals, and Mid-Year Reviews for the countries that operate on a January-to-December fiscal year.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
