{% extends "../../layout.html" %}

{% block page_title %}Обновлено в апреле{% endblock %}

{% block content %}
<h1>Обновление электронной библиотеки исследования прозрачности бюджета за апрель 2015 года</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности уже опубликовано 140 документов. По сравнению с прошлым месяцем это означает уменьшение на 2 документа.</li>
<li>Из 100 недоступных общественности документов 38 были разработаны, но не опубликованы, а 50 вообще не производились.</li>
<li>25 бюджетных документа из 20 разных стран были опубликованы в апреле. Это включает 16 Текущих отчётов, два Предварительных бюджетных заявления, одно Бюджетное предложение исполнительной власти, один Утверждённый бюджет, один Гражданский бюджет и 5 Годовых отчётов. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<h2>Что необходимо сделать</h2>

<ul>
<li>Правительство <a href="http://www.obstracker.org/status/Mali">Мали</a> опубликовало в апреле <strong>Текущий отчет</strong> за 4-ый квартал 2014 года, издание которого является слишком запоздалым, чтобы считать его общедоступным. Достоверные и своевременные текущие отчеты имеют решающее значение для контроля государственных финансов.</li>
<li>Правительству <a href="http://www.obstracker.org/status/Timor-Leste">Восточного Тимора</a> не удалось разработать <strong>Гражданский бюджет</strong> за 2015 год. Восточный Тимор ранее опубликовал Гражданский бюджет за предыдущий финансовый год.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li>Правительство <a href="http://www.obstracker.org/status/Nigeria">Нигерии</a> ещё не подготовило <strong>Бюджетное предложение исполнительной власти</strong> на 2015 год, несмотря на то, что оно уже было передано на рассмотрение Национальной ассамблеи. До утверждения бюджета правительство должно сделать общедоступным Бюджетное предложение исполнительной власти.</li>
<li><strong>Аудиторский отчет</strong> <a href="http://www.obstracker.org/status/Tanzania">Танзании</a> за 2013-2014 гг. завершён и передан в орган исполнительной власти, но ещё не опубликован. У правительства есть срок до 31 декабря для публикации этого документа.</li>
</ul>

<h2>Дополнительная информация</h2>

<ul>
<li>Текущий статус страницы для каждой страны сейчас <a href="http://www.obstracker.org/status/Niger">включает комментарии по отдельным документам</a>. Эти комментарии дают дополнительную информацию по документам, и они только доступны на английском или на национальном языке или языке исследователя.</li>
</ul>

<p>Все общедоступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке прозрачности бюджета на веб-сайте (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
