{% extends "../../layout.html" %}

{% block page_title %}Обновление июня{% endblock %}

{% block content %}
<h1>Обновление электронной библиотеки исследования прозрачности бюджета за июнь 2015 года</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">232 бюджетных документов, отслеживаемых в 29 странах</a>, в общей сложности уже опубликовано 143 документа. С прошлого месяца это чистое увеличение на 2 документов.</li>
<li>Из 89 недоступных общественности документов 37 были разработаны, но не опубликованы, 9 были опубликованы с запозданием, а 43 вообще не производились.</li>
<li>16 бюджетных документов из 14 разных стран были опубликованы в июне. Сюда входят 4 Аудиторских отчёта, 11 Текущих отчётов и 1 Годовой отчет. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<h2>Что сделано</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/Mali">Мали</a> опубликовала свой <strong>Текущий отчёт</strong> за 1-ый квартал 2015 г. Мали опубликовала предыдущий отчёт с большим запозданием, чтобы он мог считаться общедоступным.</li>
  <li>Республика <a href="http://www.obstracker.org/status/Senegal">Сенегал</a> опубликовала свой <strong>Аудиторский отчет</strong> за 2013 г. Аудиторский отчет за предыдущий финансовый год был опубликован с большим запозданием, чтобы рассматриваться общедоступным.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
  <li>Для стран с финансовым годом с января по декабрь, <strong>Полугодовые обзоры</strong> за 2015 год должны быть опубликованы в будущем году вместе с <strong>Предварительным проектом бюджета</strong> за 2016 г.</li>
</ul>

<p>Все общедоступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке прозрачности бюджета на веб-сайте (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
