{% extends "../../layout.html" %}

{% block page_title %}Обновление электронной библиотеки исследования прозрачности бюджета за май 2015 года{% endblock %}

{% block content %}
<h1>Обновление электронной библиотеки исследования прозрачности бюджета за май 2015 года</h1>

<h2>Обзор</h2>

<ul>
<li>Из <a href="http://www.obstracker.org/">240 бюджетных документов, отслеживаемых в 30 странах</a>, в общей сложности уже опубликовано 147 документов. С прошлого месяца это чистое увеличение на 7 документов.</li>
<li>Из 94 недоступных общественности документов 37 были разработаны, но не опубликованы, 10 были опубликованы с запозданием, а 46 вообще не производились.</li>
<li>29 бюджетных документов из 23 разных стран были опубликованы в мае. Это включает 2 предварительных бюджетных заявления, 2 бюджетных предложения исполнительной власти, 2 утверждённых бюджета, 18 текущих отчетов, 2 годовых отчета и 3 аудиторских отчёта. Эти документы доступны сейчас в <a href="http://www.openbudgetlibrary.org/">Библиотеке Открытости бюджета</a> МБП.</li>
</ul>

<h2>Что сделано</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">Боливия</a>, <a href="http://www.obstracker.org/status/Dominican%20Republic">Доминиканская Республика</a>, <a href="http://www.obstracker.org/status/Ecuador">Эквадор</a>, <a href="http://www.obstracker.org/status/Ghana">Гана</a>, <a href="http://www.obstracker.org/status/Iraq">Ирак</a>, <a href="http://www.obstracker.org/status/Nicaragua">Никарагуа</a> и <a href="http://www.obstracker.org/status/Niger">Нигер</a> все опубликовали <strong>текущие отчеты</strong> после неудачи в публикации этого документа в предыдущие рассматриваемые периоды.</li>
<li><a href="Tanzania">Танзания</a> опубликовала свой <strong>аудиторский отчет</strong> за 2013/2014. Этот отчёт был разработан ранее только для внутреннего использования; после его завершения он был направлен ​​в орган исполнительной власти и не был опубликован.</li>
</ul>

<h2>Что необходимо сделать</h2>

<ul>
<li>Правительство <a href="http://www.obstracker.org/status/Dem.%20Rep.%20of%20Congo">Демократической Республики Конго</a> разрабатывало <strong>текущие отчеты</strong> за апрель и май 2015 года, но еще не опубликовало эти документы. Достоверные и своевременные текущие отчеты имеют решающее значение для контроля государственных финансов.</li>
<li>Правительству <a href="http://www.obstracker.org/status/Nigeria">Нигерии</a> не удалось опубликовать <strong>бюджетное предложение исполнительной власти</strong> за 2015 год до того как бюджет был принят в качестве закона. Бюджетное предложение исполнительной власти является одним из самых важных бюджетных документов, показывающих, как правительство воплощает большинство ключевых политических целей в конкретные действия. Если гражданское общество хочет иметь какие-нибудь перспективы воздействия на разработку и реализацию политических целей, то оно должно иметь доступ к информации о том, на что правительство намеревается потратить финансовые средства и как она намерена финансировать свою деятельность до того, как бюджет будет принят в качестве закона.</li>
</ul>

<h2>Предстоящий месяц</h2>

<ul>
<li><strong>Аудиторские отчеты</strong> за 2013 год должны быть произведены в конце июня для тех стран, финансовый год которых начинается с января по декабрь. Это включает в себя <a href="http://www.obstracker.org/status/Bolivia">Боливию</a>, <a href="http://www.obstracker.org/status/El%20Salvador">Сальвадор</a>, <a href="http://www.obstracker.org/status/Senegal">Сенегал</a> и <a href="http://www.obstracker.org/status/Vietnam">Вьетнам</a>.</li>
<li>Ожидается, что <strong>бюджетные предложения исполнительных органов</strong> <a href="http://www.obstracker.org/status/Egypt">Египта</a> будут опубликованы в следующем месяце. За предыдущий финансовый год Египет опубликовал бюджетное предложение исполнительной власти слишком поздно, чтобы оно могло считаться общедоступным.</li>
</ul>

<h2>Дополнительная информация</h2>

<ul>
<li>Текущий статус страницы для каждой страны сейчас <a href="http://www.obstracker.org/status/Niger">включает комментарии по отдельным документам</a>. Эти комментарии дают дополнительную информацию по документам, и они только доступны на английском или на национальном языке или языке исследователя.</li>
</ul>

<p>Все общедоступные документы можно найти в <a href="http://www.openbudgetlibrary.org/">библиотеке прозрачности бюджета на веб-сайте (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
