{% extends "../../layout.html" %}

{% block page_title %}August Update{% endblock %}

{% block content %}
<h1>August Update</h1>

<h2>Overview</h2>

<ul>
<li>Of the <a href="http://www.obstracker.org/">232 budget documents monitored across all 29 countries</a>, a total of 144 have now been published. This is a net increase of 2 from last month.</li>
<li>Of the 88 documents not publicly available, 37 were produced but not published, 8 were published late, and 43 were not produced at all.</li>
<li>24 budget documents from 18 different countries were published in August. This includes 2 Pre-Budget Statements, 1 Executive’s Budget Proposal, 1 Enacted Budget, 17 In-Year Reports, 1 Year-End Report, and 1 Audit Report. These documents are all available on IBP’s <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Making progress</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/El%20Salvador">El Salvador</a> has published a <strong>Pre-Budget Statement</strong> for 2016. Previously, El Salvador had published its Pre-Budget Statement too late to be considered publicly available. Pre-Budget Statements set out the government’s fiscal strategies for the upcoming budget year, and should be published no less than one month prior before the budget proposal is submitted to the legislature.</li>
  <li><a href="http://www.obstracker.org/status/Timor-Leste">Timor-Leste</a> has published the <strong>In-Year Report</strong> for the First Quarter of 2015. This is the first In-Year Report that Timor-Leste has published since June 2014. In-Year Reports provide a snapshot of the budget’s implementation during the budget year, and should be published within three months of the end of the period that they report on.</li>
</ul>

<h2>The Month Ahead</h2>

<ul>
<li>As we head into the later months of the year, governments that operate on a January-to-December fiscal year should be publishing their Pre-Budget Statement, Executive’s Budget Proposal, and Enacted Budget for the upcoming budget year.</li>
<li>Also for those countries, the deadline to publish the Mid-Year Review is 30 September, which is three months after the mid-point of the current budget year.</li>
</ul>

<p>All publicly available documents can be accessed through the <a href="http://www.openbudgetlibrary.org/">Open Budget Library (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
