/* Unchanged */
/*International Budget Project Screen Stylesheet | adrian Turner aturner@matrixgroup.net*/

ul#skipLinks, ul#utility-nav, #search, div#logo a, ul#navigation, #secondary-navigation, blockquote, .photo-gallery-container, div.module, #tertiary-container, #tertiary-container.home, #footer ul#beta  { 
	display:none; }
table { margin:10px 0; width:100%; }
th { text-align:left; }

#printLogo { display:block; height:114px; width:433px; }
#logo a { display:none; }
div#content dl { float:left; margin-bottom:10px; }
div#content dl p { padding-bottom:0; }
div#content dt, div#content dd { float:left; margin:0; padding:0; }
div#content dl { width:100%; }
div#content dt { width:20px; }
div#content dd { width:480px; }

/*footer*/
#footer-container { clear:left; background:#fff; color:#fff; font-size:.88em; padding:0 0 30px 0; width:868px; }
#footer { background:#0066a4; float:left; margin-bottom:10px; padding:10px; width:848px; }
#footer a { color:#fff; text-decoration:none; }
#footer a:hover { text-decoration:underline; }

#footer ul { float:left; list-style-type:none; }
#footer ul li { border-left:1px solid #fff; float:left; padding:0 15px; }
#footer ul li:first-child { border:none; padding-left:0; }

#footer ul#alpha { margin:0; padding:0; width:100%; }


#footer-container p.matrix { color:#0066a4; font-size:.85em; font-weight:bold; padding-left:10px; }
#footer-container p.matrix a { color:#0066a4; text-decoration:none; }
#footer-container p.matrix a:hover { text-decoration:underline; }
