/* Unchanged */
/*International Budget Project Screen Stylesheet | adrian Turner aturner@matrixgroup.net*/

/*reset*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, th, td {
	margin:0;
	padding:0;
}

/*skip links*/
ul#skipLinks { float:right; left:-999px; margin-top:-50px; padding:0 0 20px 0; position:absolute; top:-9999px; }

body {
	background:#dadada;
	color:#434240;
	font-family:Verdana, Arial, Helvetica, sans-serif;;
	font-size:100%; /*16 pixel text*/
}

/*generics*/
.left { float:left; margin-right:7px; }
.right { float:right; margin-left:7px; }
.clearing { clear:left; }
.clearAll { clear:both; }
.photo-left { border:1px solid #106b9a; background:#f1edee; float:left; margin:5px 10px 5px 0;}
.photo-right { border:1px solid #106b9a; background:#f1edee; float:right; margin:5px 0px 10px 10px;}
.caption { padding:0 5px; width:233px; }
label { cursor:pointer; }
table { margin:10px 0; width:100%; }
.center { text-align:center; }
.shade { background-color:#FDE6D4; }
.bold { font-weight:bold; }
/*
.newslettertable {border:0px; cellpadding:0; cellspacing:0; border-collapse: collapse; bordercolor:800000; width:100%;  height:1; align:left; bordercolorlight:F3F3F3; bordercolordark:F3F3F3; bgcolor:F3F3F3;}
*/
table#newsletters { vertical-align:baseline; }
table#newsletters th { padding:5px 8px; background-color:transparent; vertical-align:baseline; }
table#newsletters td { padding:5px 8px; background-color:transparent; vertical-align:baseline; }
table#newsletters .year th { border-bottom:1px solid #a3a3a3; }
table#newsletters .year th a { float:right; text-decoration:none; text-transform:uppercase; }
table#newsletters .year-cont { padding:3px 0; }
table#newsletters .year-cont th { background-color:#f0ded0; text-transform:uppercase; color:#43bfdb; text-align:left; }
table#newsletters .year-cont td { background-color:#f0ded0; text-align:left; }
/*table#newsletters .year-cont th.alt, table#newsletters .year-cont td.alt { background-color:#fff; }*/
table#newsletters .year-cont td ul { list-style:none; padding:0; margin:0; }
table#newsletters .year-cont td li { list-style:none; padding:0; margin:0; }
table#newsletters .year-cont td h4 { color:#434240; }
table#newsletters .year-cont.current td { border-bottom:1px solid #f57200; }
table#newsletters .year.current th { color:#f57200; xborder-top:1px solid #f57200; border-bottom:none; }


th { background:#ffc394; margin:0; padding:3px 5px; text-align:left; }
td { margin:0; padding:3px 5px; }
td.newsletter {vertical-align: top;  bgcolor:FFFFFF; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top: 1px solid F3F3F3; border-bottom-style: solid; border-bottom-width: 1;}
div#newslettersubtitle {font-family:Verdana; font-size:10px; color:#808080;  font-weight:bold;}
div#newsletterLinkTitle {color:#808080; font-family:Verdana; font-size:9px;}
div#newsletterYearText {  font-size:12px; font-weight:bold;}

tr.odd { background:#fde6d4; }
.cleanup { display:none; }
.spanish { background:url(../images/icons/icon_spanish.gif) no-repeat top right; padding-right:20px; }
.french { background:url(../images/icons/icon_french.gif) no-repeat top right; padding-right:40px; }
label { cursor: pointer; }
div#content a { color:#00aae3; }
div#content a:hover { color:#00aae3; text-decoration:none; }
.feature { border:1px solid #fbc69e; float:right; margin:0 0 5px 5px; padding:10px; width:210px; background-color:#f9ebe0; }
.feature h2 { font-weight:normal; }
#content .feature h2 a { text-decoration:none; color:#F18431; }
iframe { width:501px; }
.imgWrapperRight { float: right; margin-left: 10px; }
.imgWrapperLeft { float: left; margin-right: 10px; }
.did-you-know { padding: 10px; border: 1px #F58026 solid; background-color: #f9ebe0; margin-top: 1em; }
.clear { clear:both; }
.design-toggle .fakelink { color:#00aae3; text-decoration: underline; }

/* attribute selectors */
.pdf-key { background-position:100% 50%; background-repeat:no-repeat; padding:0 20px 3px 0; }
.pdf-key { background-image:url(../images/icons/icon_pdf.gif); }

.html-key { background-position:100% 50%; background-repeat:no-repeat; padding:0 20px 3px 0; }
.html-key { background-image:url(../images/icons/icon_html.gif); }

.newsletter-lang-row {
  margin: 5px 0;
  text-align: right;
}


div#content h1 { background:#0066a4; color:#fff; font-size:22px; margin-bottom:20px; margin-left:-16px; padding:7px 0 7px 16px; width:519px; }
#content h1.obi { margin-bottom:50px; padding-right:125px; width:394px; }
#content h2.obi { background:url(obi-logo.png) 0 0 no-repeat; width:99px; height:70px; padding:0; position:absolute; top:8px; right:13px; z-index:9999; text-indent:-9999px; }

div#content h2 { color:#0066a4; font-size:18px; padding-bottom:18px; }
#content h2.eng { font-size:16px; }
#content h3.foreign { color:#0066a4; padding-bottom:18px; font-size:14px; }
div#content h3 { color:#f18431; font-size:15px; }
div#content h4 { color:#0066a4; font-size:13px; }
div#content h5 { font-size:12px; padding-bottom:.91em; }
div#content h6 { font-size:12px; padding-bottom:1em; }
div#content p, div#content ul, div#content ol { font-size:12px; line-height:1.3em; padding-bottom:.8em; }
div#tertiary-container p { padding-bottom:.9em; }
div#content p.last { padding-bottom:0; }
div#content ul, div#content ol { margin-bottom:.5em; margin-left: 1em; }

div#content ul#listYears {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	} 

div#content ul#listYears li {
	margin-left: 0;
	padding: 0 5px;
	border-left: 1px solid #777;
	list-style: none;
	display: inline;
	}
	
		
div#content ul#listYears li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
	}



div#content dl { float:left; margin-bottom:10px; }
div#content dl p { padding-bottom:0; }
div#content dt, div#content dd { float:left; margin:0; padding:0; }
div#content dl { width:100%; }
div#content dt { width:20px; }
div#content dd { width:480px; }

div#content ul li, div#content ol li { line-height:1.5em; margin-left:2.0em; }

/*header*/
ul#utility-nav { float:right; font-size:11px; margin-top:10px; padding-right:15px; width:auto; }
ul#utility-nav li { display:inline; border-left:1px solid #88b8d5; padding-left:5px; }
ul#utility-nav li:first-child { border:none; }
ul#utility-nav li a { color:#88b8d5; text-decoration:none; }
ul#utility-nav li a:hover { text-decoration:underline; }


#header-container {
  background: url("nav-background.gif") repeat-x scroll left bottom #FFFFFF;
  float: left;
  height: 190px;
  padding: 0;
  position: relative;
  width: 100%;
}
#header { margin:0 auto; width:868px; }
#header h1#logo {
  height: 114px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 433px;
}
#header h1#logo span { background:url(ibp-logo.jpg); height:100%; position:absolute; width:100%; }
.printLogo { display:none; }
/*search*/
#cse-search-box { clear:right; float:right; font-size:11px; margin:40px 0 0 0; padding:0; width:358px; }
#cse-search-box.notfoundNotauthorized { clear:right; float:right; font-size:11px; margin:40px 0 0 0; padding:0; width:150px; }

form select#findDocuments { float:left; margin-right:30px; width:170px; }
form input#s { float:left; width:105px; margin:0; padding:0; }
form input#submit { background:none; border:none; color:#ff961e; cursor:pointer; font-weight:bold; text-transform:uppercase }

/*sign our newsletter*/
#header .itt_widget_newsletter_signup {
  clear: right;
  float: right;
  font-size: 11px;
  margin: 10px 0 0;
  padding: 0;
  width: 358px;
}
form input#email-signup {
  width: 307px;
}
form input#signup { background:none; border:none; color:#ff961e; cursor:pointer; font-weight:bold; text-transform:uppercase }

/*Homepage Major Initiatives style*/
div#content ul.home-major-initiatives li {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
}



/*form select#findDocuments { float:left; margin-right:30px; width:170px; }
form input#site-search { float:left; width:105px; margin:0; padding:0; }
form input#submit { background:none; border:none; color:#ff961e; cursor:pointer; font-weight:bold; text-transform:uppercase }*/


/*navigation*/
/*
ul#navigation { float:left; width:100%; }
ul#navigation.no-nav { margin-top:20px; }

ul#navigation li { float:left; font-size:11px; font-weight:bold; list-style-type:none; margin:0; padding:0; width:auto; }
ul#navigation li a { color:#fff; display:block; padding:5px 9px 8px 15px; text-decoration:none; }
ul#navigation li a:hover, ul#navigation li.on a  { background:url(../images/template/nav-bullet.gif) no-repeat center left; color:#f7cc92; padding-left:15px; }
*/

ul#menu-main {
  bottom: 0;
  float: left;
  position: absolute;
}
ul#menu-main.no-nav { margin-top:20px; }

ul#menu-main li { float:left; font-size:11px; font-weight:bold; list-style-type:none; margin:0; padding:0; width:auto; }
ul#menu-main li a { color:#fff; display:block; padding:5px 9px 8px 15px; text-decoration:none; }
ul#menu-main li a:hover, 
ul#menu-main li.on a, 
ul#menu-main li.current-menu-item a,
ul#menu-main li.current-page-ancestor a { 
	color:#f7cc92; 
	padding-left:15px; 
}



/*content-container*/
#super-container { border-bottom:1px solid #0864a3; border-left:1px solid #0864a3; border-right:1px solid #0864a3; background:#fff; margin:0 auto 20px auto; padding:0; width:868px; }
/* world map */
.wide #super-container { width:960px; }
#mapHelpText { background-color:#b2d1e4; padding:10px; }
#mapHelpText h2 { font-size:16px; }
#mapHelpText ul { font-size:12px; padding:1.5em 0 1.5em 15px; }

#content-container {
  background: url("content-background.gif") repeat-y scroll right top #FFFFFF;
  clear: both;
  float: left;
  padding-top: 20px;
}
#content-container.forum { background:#fff; clear:both; float:left; margin-top:20px; padding-bottom:50px; width:868px; }

body.home #content-container { background:#fff url(../images/template/content-background-home.gif) repeat-y top left; padding-bottom:5px; }

div.page-header { border:1px solid #0864a3; height:166px; margin-left:-15px; margin-bottom:20px; width:529px; }
div#content div.page-header h1 { background:none; font-size:26px; margin-top:35px; padding-left:50px; width:513px; }
div.page-header.who-we-are { background:url(../images/who-we-are/header-background.jpg) no-repeat top left; }
div.page-header.what-we-do { background:url(../images/what-we-do/header-background.jpg) no-repeat top left; }
div.page-header.getting-started { background:url(../images/getting-started/header-background.jpg) no-repeat top left; }
div.page-header.budget-analysis { background:url(../images/budget-analysis/header-background.jpg) no-repeat top left; }
div.page-header.budget-advocacy { background:url(../images/budget-advocacy/header-background.jpg) no-repeat top left; }
div.page-header.who-does-budget-work { background:url(../images/who-does-budget-work/header-background.jpg) no-repeat top left; }
div.page-header.library { background:url(../images/library/header-background.jpg) no-repeat top left; }

/*secondary navigation*/
div#nav-ads { float:left; width:166px; }
#secondary-navigation { border-bottom:1px solid #f38129; float:left; font-size:12px; width:166px; margin-bottom:20px;}
ul#secondary-navigation  li { list-style-type:none; width:auto; }
ul#secondary-navigation  li a { background:#d9e7f0; border-top:1px solid #f38129; color:#063455; display:block; padding:10px; text-decoration:none; }
ul#secondary-navigation  li a:hover { background:#fbc69e; }

ul#secondary-navigation  li a.on { background:#fbc69e; }
/*
ul#secondary-navigation  li a.on,
ul#secondary-navigation  li.current_page_item a,
ul#secondary-navigation  li.current-page-ancestor a { background:#fbc69e; }
*/
ul#secondary-navigation  li ul li { color:#f28028; }
ul#secondary-navigation  li ul li a:hover, ul#secondary-navigation  li ul li a.on { background:none; color:#f28028; border:none; }
ul#secondary-navigation  li ul { margin:0 0 0 10px; padding:0; width:auto }
ul#secondary-navigation  li ul li { list-style-type:disc; margin-left:10px; padding:0px; }
ul#secondary-navigation  li ul li a { border:none; padding:3px 0; }
ul#secondary-navigation  li ul, ul#secondary-navigation  li ul li { background:#fff; }
ul#secondary-navigation  li ul li a { background:#fff; }
ul#secondary-navigation  li ul li ul li { list-style-type:none; margin-left:0px; width:100%; }
/*
ul#secondary-navigation li ul { background-color: #FFFFFF; color: #000000;}
ul#secondary-navigation li ul li { background-color: #FFFFFF; color: #000000;}
ul#secondary-navigation li ul li a { background-color: #FFFFFF; color: #000000;}
ul#secondary-navigation li ul li.current_page_item a { background-color: #FFFFFF; color: #FBC69E;}
*/
div#nav-ads div.module { clear:left; background:#efedee; border:none; float:left; margin-bottom:20px; padding:10px; width:146px; }

div.module.about { background:#d9e8f1;  border-bottom:1px solid #0368a5; border-right:1px solid #0368a5; border-top:1px solid #0368a5; float:left; font-size:1.15em; padding:15px; width:190px; }
div.module.about p { padding-bottom:.5em; }
div.module.about strong { color:#0066a4; }
div.module.about a { color:#514f4b; font-weight:bold; text-decoration:none; }
div.module.about a:hover { text-decoration:underline; }

/*branding*/
#feature { float:right; width:630px; overflow:hidden; margin:0 0 10px 15px; padding:0; border:1px solid #f68026; border-right:none; position:relative; }
#panel-wrap { overflow:hidden; height:268px;  }
#panel-wrap #feature-nav { position:absolute; bottom:2px; right:5px; margin:0; padding:0; list-style:none; z-index:2; }
#panel-wrap #feature-nav li { float:left; margin:0; padding:0; }
#panel-wrap #feature-nav a { display:block; float:left; font-weight:bold; color:#0066a4; text-decoration:none; padding:0 5px; outline:none; }
#panel-wrap #feature-nav a:hover, #panel-wrap #feature-nav a:active, #panel-wrap #feature-nav a:focus { color:#00aae3; }
#panel-wrap #feature-nav a.current { color:#f78631; }
#panel-wrap .article { height:inherit; width:630px; background-position:0 0; background-repeat:no-repeat; background-color:#D9E8F1; text-indent:-9999px; }


div.module-home { float:left; width:630px; }
div.module-home h2 { color:#f18431; }

/*content*/
#content { float:left; padding:0 16px; width:501px; font-size:12px; position:relative; }
#content.forum { float:left; padding:0; width:868px; }
#content .duo { float:left; width:240px; margin:0 10px 1.5em 0; }
#content .duo.alt { width:250px; margin-right:0; }
#content .bush { border:1px solid #aaa; padding:20px 20px 0 20px; margin-bottom:1.38em; }

body.home #content { float:left; padding:0; width:868px; }
#content #home-content { float:left; width:655px; }

#home-content div.module-home { float:left; margin-bottom:15px; padding-left:15px; width:615px; }
#home-content div.module-home a { color:#504f4b; }
#home-content div.module-home a:hover { color:#504f4b; text-decoration:none; }
#home-content div.module-home a.more { font-weight: bold, text-decoration:none; }

#home-content div.module-home h2 { font-size:17px; }
#home-content div.module-home.index { background:#dae8f1; border-bottom:1px solid #f68028; border-top:1px solid #f68028; padding:15px; }
#home-content div.module-home.index h2, #home-content div.module-home.index h2 a { color:#0066a4; text-decoration:none; }
#home-content div.module-home.index ul { float:left; list-style-type:none; margin:0; padding:0;  }
#home-content div.module-home.index ul li { margin:0; padding:0 0 5px 0; font-weight:bold; }
#home-content div.module-home.index ul a { color:#0066a4; text-decoration:none; }
#home-content div.module-home.index ul a:hover { text-decoration:underline; }
#home-content div.module-home.report { background:#feece0; border-bottom:1px solid #f68028; border-top:1px solid #f68028; padding:15px; }
#home-content div.module-home span { float:left; font-size:3em; line-height:.8em; margin:0px 0; }
#home-content div.module-home span.pdf-key { float:none; font-size:1em; }
#home-content div.module-home h2, #home-content div.module-home h2 a { color:#f18431; text-decoration:none; }
#home-content div.module-home h2 a:hover { color:#f18431; text-decoration:underline; }
#home-content div.module-home p.lead { color:#0066a4; margin-bottom:0; padding-bottom:0; }

#super-container #legend { border:1px solid #ccc; background-color:#eee; font-size:12px; margin-bottom:18px; padding:5px; }
#super-container #legend h3, #content #search-results #legend h3 { font-size:14px; color:#333; margin-bottom:6px; font-weight: bold; }
#super-container #legend ul { margin:0; padding:0; list-style-type: none; }
#super-container #legend li { margin:0px; padding:0; }

/* =Sub Feature */
.sf-content { background-color:#ffebe0; border-top:1px solid #fe802b; border-bottom:1px solid #fe802b; padding:16px; margin:18px 0; }
#sf .caption { width:485px; padding:8px; background-color:#eee; }
#sf .caption p { font-size:11px; }
/* nav */
#sf-nav { line-height:20px; margin-bottom:18px; text-align:center; }
#content #sf-nav a { text-decoration:none; background-color:#fff; color:#0163a0; border:1px solid #0163a0; font-weight:bold; margin:0 3px; padding:0 3px; }
#content #sf-nav a:hover, #content #sf-nav a:active, #content #sf-nav a:focus, #content #sf-nav .activeSlide { background-color:#0163a0; color:#fff; }
#sf-direct { display:inline; }

#content #sf-nav #prev, #content #sf-nav #next { background:none; border:none; padding:0; }
#prev img, #next img { border:none; }
/*tertiary*/
#tertiary-container { float:left; font-size:12px; padding:10px 0; width:169px; }
#tertiary-container.home { float:left; font-size:.95em; padding:0; width:213px; }
#tertiary-container h3 { font-size:14px; }
#tertiary-container h4 { font-size:12px; }
#tertiary-container h3, #tertiary-container h4, #tertiary-container p { padding:0 10px; }
#tertiary-container h4 { text-transform:uppercase; }
#tertiary-container h3, #tertiary-container h4, #tertiary-container h5 { padding-bottom:.87em; }
#tertiary-container h3, #tertiary-container a { color:#00AAE3; font-weight:bold; text-decoration:none; }
#tertiary-container a:hover { text-decoration:underline; }

.home #tertiary-container div.module { background:#f0ded0; border-bottom:1px solid #f58026; border-top:1px solid #f58026; float:left; margin-bottom:10px; padding:20px 0; width:213px; }

#tertiary-container div.module{ background:#f0ded0; border-bottom:1px solid #f58026; border-top:1px solid #f58026; float:right; margin:10px 0; padding:20px 0; width:166px; }

#tertiary-container div.module.country { background:none; border:none; margin-top:0; padding:0; }
#tertiary-container div.module.country p { margin-left:0px; }
#tertiary-container div.module.country p.usa { background:url(../images/template/usa-icon.gif) no-repeat top left; padding-left:40px; margin-left:10px; }

#tertiary-container.home div.module { background:none; border-bottom:1px solid #f58026; border-top:none; padding:0 0 20px 0; }
#tertiary-container.home div.module p.rss { margin-top:20px; }
#tertiary-container.home div.module p.rss a { background:url(../images/template/rss-icon.gif) no-repeat top left; clear:left; margin-left:10px; padding:4px 0 5px 20px; }
#tertiary-container.home div.module p.rss a:hover { text-decoration:underline; }
#tertiary-container.home div.module form { font-size:.9em; padding-left:10px; }
#tertiary-container.home div.module form.browse { margin-top:20px; }
#tertiary-container.home div.module form.browse p { margin-left:-10px; }
#tertiary-container.home div.module form input { float:left; height:14px; margin-bottom:5px; }
#tertiary-container.home div.module form p { margin-left:-10px; }
#tertiary-container.home div.module form input#signup { background:url(../images/template/email-signup.gif) no-repeat top left; border:none; display:block; height:20px; margin-left:5px; width:37px; }
#tertiary-container div.module select { width:185px; }
#tertiary-container.home div.module.last { border-bottom:none; }

/* House Ads: homepage
----------------------------------------------- */
#tertiary-container.home div.module .pics { 
	height: 153px; 
	width: 118px; 
	padding:0 !important; 
	margin:0 auto !important; 
	overflow: hidden;
	}
#tertiary-container.home div.module .pics img { 
	height: 153px; 
	width: 118px; 
	padding:0; 
	margin:0; 
	border: 1px solid #ccc; 
	background-color: #eee; 
	/* top:15px !important; 	
	left:15px !important;  */
	}
#tertiary-container.home div.module .pics img a {
	height: 150px; 
	width: 180px; 
	padding:0; 
	margin:0; 
	border: 0px !important; 
	background-color: #eee; 
	/* top:15px !important; 	
	left:15px !important;  */
	}

/* navigation for house ad */	
#tertiary-container.home div.module ul#nav {
	height: 12px;
	background: transparent;
	margin: 1px 0 0 74px !important;
	padding:0;
	position: absolute;
	width:70px;
	display: block;
	float: left;
	}
#tertiary-container.home div.module ul#nav li {
	float: left;
	width: 16px;
	height: 12px;
	list-style-type:none;
	margin:0;
	padding:0;
	}

#tertiary-container.home div.module ul#nav a {
	display: block;
	width: 15px;
	height: 12px;
	margin:0;
	padding:0;
	float: left;
	background-color: #D6D9DD;
	color: #D6D9DD;
	outline: none;
	text-align: center;
	border-right: 1px solid #EFEFF0 !important;
	font-size: 1px;
	}
#tertiary-container.home div.module ul#nav a:hover,
#tertiary-container.home div.module ul#nav a.activeSlide {
	background-color: #C2C7CE;
	color: #C2C7CE;
	text-decoration: none;
	}
#tertiary-container.home div.module ul#nav a:first-child {
	border-left: 1px solid #fff;
	}
/* previous and next nav */
#tertiary-container.home div.module div#prevNext {
	background:none;
	height: 12px;
	margin: 0;
	padding:0;
	width: 100%;
	display: block;
	position: relative;
	}
#tertiary-container.home div.module div#prevNext a#prev,
#tertiary-container.home div.module div#prevNext a#next {
	background-color: #B2B8C1;
	width: 17px;
	height: 12px;
	display: block;
	float: none !important;
	background: transparent;
	padding:0;
	margin:1px 0 0 0;
	outline: none;
	position: absolute;
	}
#tertiary-container.home div.module div#prevNext a#next {
	background: #b2b8c1 url(../images/template/houseAdNext.png) no-repeat center center;
	right:57px;
	border-left: 1px solid #fff;
	}
#tertiary-container.home div.module div#prevNext a#prev {
	background: #b2b8c1 url(../images/template/houseAdPrevious.png) no-repeat center center;
	left:57px;
	border-right: 1px solid #fff;
	}
#tertiary-container.home div.module div#prevNext a span {	
	margin-left: -999em;
	display: block;
	width: 15px;
	height: 12px;
	}

/* House Ads: content pages
----------------------------------------------- */
#content div.module .pics div { 
	height: 134px; 
	width: 243px; 
	padding:0 !important; 
	margin:0 auto !important; 
	overflow: hidden;
	}
#content div.module .pics div img { 
	height: 134px; 
	width: 243px; 
	padding:0; 
	margin:0; 
	border: 1px solid #ccc; 
	background-color: #eee; 
	/* top:15px !important; 	
	left:15px !important;  */
	}
#content div.module .pics div img a {
	height: 134px; 
	width: 243px; 
	padding:0; 
	margin:0; 
	border: 0px !important; 
	background-color: #eee; 
	/* top:15px !important; 	
	left:15px !important;  */
	}
/* navigation for house ad */	
#content div.module ul#nav {
	height: 12px;
	background: transparent;
	margin: -5px 0 0 74px !important;
	padding:0;
	position: absolute;
	width:70px;
	display: block;
	float: left;
	}
#content div.module ul#nav li {
	float: left;
	width: 16px;
	height: 12px;
	list-style-type:none;
	margin:0;
	padding:0;
	}

#content div.module ul#nav a {
	display: block;
	width: 15px;
	height: 12px;
	margin:0;
	padding:0;
	float: left;
	background-color: #D6D9DD;
	color: #D6D9DD;
	outline: none;
	text-align: center;
	border-right: 1px solid #EFEFF0 !important;
	font-size: 1px;
	}
#content div.module ul#nav a:hover,
#content div.module ul#nav a.activeSlide {
	background-color: #C2C7CE;
	color: #C2C7CE;
	text-decoration: none;
	}
#content div.module ul#nav a:first-child {
	border-left: 1px solid #fff;
	}
/* previous and next nav */
#content div#prevNext {
	background:url(../images/template/content-prevNext-background.gif) repeat-x bottom left;
	height: 19px;
	margin:-12px 0 0 -2px;
	padding:0;
	float:left;
	width: 245px;
	display: block;
	}
#content div#prevNext a#prev,
#content div#prevNext a#next {
	width: 17px;
	height: 12px;
	display: block;
	float:left !important;
	background: transparent;
	padding:0;
	margin:5px 0 0 1px;
	outline: none;
	}
#content div#prevNext a#next {
	background: url(../images/template/houseAd-contentNext.gif) no-repeat center center;
	border-left:1px solid #606060;
	padding-left:5px;
	}
#content div#prevNext a#prev {
	background: url(../images/template/houseAd-contentPrevious.gif) no-repeat 0 0;
	padding-right:0px;
	margin-left:5px;
	}
#content div#prevNext a span {	
	margin-left: -999em;
	display: block;
	width: 15px;
	height: 12px;
	}
	
.photo-gallery-container { float:right; margin:0 0 0 10px; padding:0 0 9px 0; width:243px; }

#content blockquote p { color:#f48026; float:left; font-size:1.6em; font-weight:bold; padding-bottom:20px; padding-right:10px; width:220px; }

/*footer*/
#footer-container { clear:left; background:#fff; color:#fff; font-size:11px; padding:0 0 30px 0; width:868px; }
#footer { background:#0066a4; float:left; margin-bottom:10px; padding:10px; width:848px; }
.wide #footer-container { width:940px; }
.wide #footer { width:940px; }
#footer a { color:#fff; text-decoration:none; }
#footer a:hover { text-decoration:underline; }

#footer ul { float:left; list-style-type:none; }
#footer ul li { border-left:1px solid #fff; float:left; padding:0 10px; }
#footer ul li:first-child { border:none; padding-left:0; }

#footer ul#alpha { width:400px; }
#footer ul#beta { float:right; } 

#footer-container #copyright { padding-left:10px; color:#000; font-size:10px; margin-bottom:10px; }
#footer-container p.matrix { color:#0066a4; font-size:10px; font-weight:bold; padding-left:10px; }
#footer-container p.matrix a { color:#0066a4; text-decoration:none; }
#footer-container p.matrix a:hover { text-decoration:underline; }

.centeredImage { text-align:center; margin-top:0; margin-bottom:0; padding:0; }
ol.paragraphed li { padding-bottom:20px; }
ol.paragraphed li ul li { padding-bottom:0; font-size:1.2em; }
ol.alpha  li { list-style-type:upper-alpha; }
ul.none li { list-style:none; }

#content .highlight { background-color:#f00; font-weight:bold; font-size:14px; color:#eee; }
#content .highlight a { color:#aaa; font-size:16px; }

#content blockquote p { color:#f48026; float:left; font-size:1.1em; font-weight:bold; padding-top:10px; padding-bottom:0px; padding-right:10px; width:220px; }
#content blockquote.right { color:#f48026; float:right; font-size:1.1em; font-weight:bold; padding-top:10px; padding-bottom:20px; padding-right:10px; padding-left:10px; width:220px; }
#content blockquote p.rightauth { color:#f48026; text-align:right; font-size:.85em; font-weight:bold; padding-top:10px; padding-bottom:20px; padding-right:10px; padding-left:10px; width:220px; }

table.style { width:100%; text-align:left; margin-bottom:1.286em;/* 18/14 */ }
table.style caption { font-weight:bold; color:#0066a4; font-size:115%; margin-bottom:1.2em; }
table.style th { font-weight:bold; text-align:left; vertical-align:baseline; }
table.style thead th { border:1px solid #ccd; padding:8px; background-color:#dde; color:#0070af; font-size:1.143em;/* 16/14 */ }
table.style tbody th { border:1px dotted #ccd; padding:5px; background-color:#e8e8f7; color:#4c9bc7; vertical-align:baseline; }
table.style tbody td { border:1px solid #ccc; padding:5px; text-align:left; vertical-align:baseline; }

#search-criteria { border:1px solid #aaa; padding:10px; background-color:#eee; margin-bottom:1.5em; font-size:12px; color:#777; }
#content #search-criteria h2 { color:#666; font-style:italic; }
#search-again { float:right; }
#content #search-criteria ul { margin-left:0; padding:0; list-style:none; }
#content #search-criteria li { margin-left:0; padding:0; list-style:none; }
#content #search-results .country { font-weight:normal; text-transform:uppercase; font-style:italic; color:#666; letter-spacing:0.4px; font-size:14px; }
#content #search-results h3 { color:#913e07; font-size:18px; font-weight:normal; }
.results-detail { margin-bottom:2.5em; /*border-bottom:4px double #999;*/ }
#content .results-detail h5 { text-transform:uppercase; letter-spacing:0.5px; padding:0; margin-top:1.5em; }
#content .results-detail ul, #content .results-detail li { margin:0; padding:0; /*list-style:none;*/ }
#content .results-detail ul { padding-left:15px; }
#content .results-detail p { padding:0; }
.results-contact .title { font-size:11px; color:#999; font-style:italic; }

#content .groups { margin:0 0 1em 15px; padding:0; margin:0 0 2em 0; list-style:none; }
#content .groups li { margin:0 0 1.2em; /*width:100%; overflow:hidden;*/ }
#content .groups .relatedItems li {margin:0 !important;}
#content .groups h3 { padding-bottom:3px; /*background-color:#eee;*/ clear:both; /*float:left;*/ }
#content .results-detail h5 { clear: both; }
#content .groups a { text-decoration:none; }
#content .groups .codes, #content #search-results .codes { display:block; height:16px; width:16px; background:url(../images/icons/codes.gif) 0 0 no-repeat; text-indent:-9999px; float:left; margin:0 5px 16px 0; }
#content .groups .obi, #content #search-results .obi { background-position:0 -16px; }
#content .groups .tta, #content #search-results .tta { background-position:0 -32px; }
#content .groups .mem-grp { display:block; font-style:italic; /*border-top:1px solid #ccc; background-color:#ddd;*/ text-transform:uppercase; color:#666; font-size:14px; } 
.groups .link { display:block; }
.groups .acc { display:block; }

.group-find{}
.group-find h3 {
  border-bottom: 2px solid;
  margin-bottom: 15px;
}
.group-find .submit-cell{}
.group-find-or td{}

.figure { border: 1px #ccc solid; background-color: #eee; padding: 10px 10px 0; margin-bottom: 1.6em; }

#women-deliver-signup { margin-top:1.5em; }
#content #women-deliver-signup ul { list-style:none; margin:0; padding:0; }
#content #women-deliver-signup li { margin:0 0 16.5px 0; }
#women-deliver-signup br { display:none; }
#women-deliver-signup label { display:block; }
#women-deliver-signup .required { color:#aa4646; font-size:11px; font-style:italic; }
#content #women-deliver-signup .duo { float:left; width:240px; margin-right:10px }
#women-deliver-signup input { width:235px; }
#women-deliver-signup .butt input { width:auto; }
#women-deliver-signup .error { color:red; font-style:italic; }

/******CountryData********/
ul#countryData {
	padding-top: 10px;	
}
ul#countryData li.header{
	font-size: 1.5em;
	list-style: none; 
	margin-left: -5px;
}
ul#countryData li a:hover{ text-decoration: underline; }
h3#countryUpdate {padding-top: 10px;}
div.relatedItems {padding-top: 10px;}


/**********Datasets****************/
div#datasetDocs li.yearHeader{
	list-style: none;	
	margin: 5px 0 0 -5px;
	color: #F58026;
}

.listing { list-style: none; margin: 0; }
.listing li { margin:0 0 20px 10px; }
.listing li:last-child, .listing .last { margin-bottom: 0; }

div#legendMultimedia{
	float: right; 
	border: 1px solid #f58026; 
	background: #feecdf;
	color: #333;
	padding: 5px;
	font-size: .9em;
	margin-top: -30px;
}
div#legend img {
	padding-right: 3px;
	padding-top: 2px;
}

ul.articlesList li.audio, ul#multimediaDocs li.audio { list-style-type: none; list-style-image: url(../images/icons/music.png);
	list-style-position:outside;
}
ul.articlesList li.audio a, ul#multimediaDocs li.audio a{
	padding: 5px 0 5px 0;
	/*background: transparent url(../images/icons/music.png) no-repeat center left;*/
}
ul.articlesList li.video, ul#multimediaDocs li.video { list-style-type: none; list-style-image: url(../images/icons/video2.png);
	list-style-position:outside;
}
ul.articlesList li.video a, ul#multimediaDocs li.video a{
	background: none;
	padding: 5px 0 5px 0;
	/*background: transparent url(../images/icons/video2.png) no-repeat center left;*/
}

#content .did-you-know h3 {
	margin-bottom: 10px;
}

#content .home-header {
	float: left;
	width: 100%;
}

#content #home-feature-slides {
	border:1px solid #fbc69e; 
	float:right; 
	margin:0 0 5px 5px; 
	padding:0px; 
	width:637px; 
	height: 268px;
	background-color:#f9ebe0;
}

#content ul.home-panel-slides {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 268px;
	overflow: hidden;
}

#content ul.home-panel-slides li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#content .home-panel-slides-controls {
    float: right;
    position: relative;
    right: 0;
    top: -20px;
    z-index: 99;
	margin-right: 7px;
}

#content .home-panel-slides-controls a {
	padding: 0 7px;
	text-decoration: none;
	color: #0066A4;
	font-weight: bold;
}

#content .home-panel-slides-controls a.activeSlide {
	color: #F78631;
}


#tertiary-container h3.widget-title {
    color: #F18431;
    font-size: 15px;
}

#tertiary-container h3.widget-title a {
    color: #F18431;
}
#tertiary-container div.widget_text .major-initiatives{
	  padding: 0 10px;
}
#tertiary-container div.widget_text .major-initiatives ul {
  font-size: 0.9em;
  list-style: none outside none;
}
#tertiary-container div.widget_text .major-initiatives ul li{
  margin-bottom: 5px;
}


#tertiary-container .widget_ibp_categoryposts ul {

}

#tertiary-container .widget_ibp_categoryposts ul li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#tertiary-container .widget_ibp_categoryposts ul li p {	
	padding-left: 0;
	padding-right: 0;
}



div#content h3.item-title {
	font-size: 12px;
}


div#content h3.item-title {
	font-size: 12px;
}

div.report-container h3.item-title {
  margin-top: 0.8em;
}
div.report-container .report-item {
  padding-left: 18px;
}
div.report-container div.group-container {
  margin-bottom: 1em;
}
div.report-container .publication-sub-title{
  font-style: italic;
}

/*MEDIA ICONS*/
div.report-container .ico_video {
background: url("../images/icons/video2.png") no-repeat scroll left top transparent;
}
div.report-container .ico_audio {
background: url("../images/icons/music.png") no-repeat scroll left top transparent;
}

.group-search-result{
   margin-bottom: 1em;
}
.paginator{
  text-align: center;
}
.useful-links li{
    margin: 0 0 10px;
}

.country-news {
  margin-top: 1em;
}
.country-news li {
    margin-bottom: 1em;
    font-weight: bold;
}

td.required-error{
  font-weight: bold;
  color: red;
}




/*                                                    */
/*  CFORM STYLING                 */
/*                                                    */


.cform legend {
  -moz-font-feature-settings: inherit;
  -moz-font-language-override: inherit;
  color: #0066A4;
  font-family: inherit;
  font-size: 18px;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: bold;
  line-height: inherit;
  margin-left: 10px;
  padding: 0 2px;
}



.cform fieldset {
  background: white!important;
  border: medium none!important;
}

.cform label span {
  width: auto!important;
}

label.cf-group-after {
  width: 230px !important;
}
label.cf-group-after span{
  width: auto!important;
}


.cform { 
	margin:10px auto 0 auto; 
}

.cform fieldset	{ 
	margin-top:10px; 
	padding:5px 0 15px 0; 
	border:1px solid #adadad; 
	border-left-color:#ececec; 
	border-top-color:#ececec; 
	background:#f7f7f7; 
}

.cform .cf_hidden {
	display:none; 
	border:none!important;
	background:none!important;
	padding:0!important;
	margin:0!important;
}



ol.cf-ol { 
	margin:0!important; 
	padding:0!important;
}

ol.cf-ol li	{
	background:none!important; 
	margin:5px 0!important;
	padding:0; 
	list-style:none!important; 
	text-align:left;
	line-height:1.3em;
}


/*                                                    */
/* just for text-only fields (no input)               */
/*                                                    */

ol.cf-ol li.textonly {
	background:#F0F0F0 !important;
	letter-spacing:1px;
	margin:10px 0pt !important;
	padding:5px 0pt;
	text-align:center;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */

.cform label {
  display: inline-block;
  margin: 4px 10px 0 30px;
  text-align: left;
  vertical-align: top;
  width: 140px;
}

.cform label span {
	width:90px; /* must be the same as above!*/
	display:block; 
}

label.cf-before {
	margin:4px 10px 0 0; 
}

label.cf-after 	{
	margin:4px 15px 0pt 6px;
	text-align:left;
	width:115px;
}

label.cf-after span {
	width:115px;
	display:block;
}

label.cf-group-after {
	margin:3px 4px 0 2px;
	width:72px;
	text-align:left;
}
label.cf-group-after span {
	width:72px;
	display:block;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input,
.cform textarea,
.cform select { 
	padding:3px;
	background: #f9f9f9; 
	border: 1px solid #888888; 
	vertical-align:top;
}
.cform input:hover,
.cform textarea:hover,
.cform select:hover	{
	background:#CEDDDF; 
}

.cform input:focus,
.cform textarea:focus,
.cform select:focus	{ 
	background:#F3F8F8; 
}

.cform textarea,
.cform input {
	width:250px; 
}
.cform select {
	width:250px; /* attempt to have equal length */
	padding:2px 0;
}  

.cform select.cfselectmulti	{ 
	height:7.5em; 
}

.cform textarea {
	font-family: arial;
	font-size: 0.9em;
	overflow:auto;
}

/*                                                    */
/*   radio button title                               */
/*                                                    */

ol.cf-ol li.cf-box-title {
  font-weight: bold;
  padding-left: 31px;
}

/*                                                    */
/*   check boxes                                      */
/*                                                    */

.cform input.cf-box-a,
.cform input.cf-box-b 	{ 
	margin:2px 0 0 0; 
	width:14px;
	height:22px;
	border:none!important;
	background:none!important; 
}

.cform input.cf-box-a 	{ 
	margin-left:100px; /* check with label 'width' incl. */
} 


/*                                                    */
/* check box groups                                   */
/*                                                    */

ol.cf-ol li.cf-box-group {
	margin:10px 0pt 0px !important;
	padding-left: 140px; 
} 

/*                                                    */
/* formatting for text:  "(required)"  & other        */
/*                                                    */

span.reqtxt,
span.emailreqtxt { 
	margin:3px 0 0 3px;
	font-size:0.9em;
	display: -moz-inline-box; 
	vertical-align:top;
}

/*                                                    */
/*   FORM submit button                               */
/*                                                    */

p.cf-sb {
	text-align:right;
	padding: 0!important;
	margin: 0;
}
.cform input.backbutton,
.cform input.resetbutton,
.cform input.sendbutton	{ 
	width:100px;  
	padding:5px; 
	margin: 10px 0 0 5px;
	font-size:0.8em;
	background:url(../images/button-bg.gif) repeat-x; 
	border:1px solid #adadad!important;
	border-left-color:#ececec!important; 
	border-top-color:#ececec!important;
}
.cform input.resetbutton {
	width: auto;
	padding:5px 1em;
}
.cform input.backbutton {
	width: auto;
	padding:5px 1em;
}

/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */
ol.cf-ol li.cf_li_err {
	background:#FFDFDF url(li-err-bg.png) repeat!important;
	border-color:#DF7D7D;
	border-style:solid;
	border-width:1px 0pt;
	padding:5px 0!important;
	margin:5px 0!important;
}

ol.cf-ol li ul.cf_li_text_err {
	height:1%;
	min-height:1%;
	margin:0 0 0 100px;
	padding:0;
	color:#333;
}

ol.cf-ol ul.cf_li_text_err li {
	background:url(icon-alert.png) no-repeat left 1px!important;
	list-style:none!important;
	font-weight:bold;
	text-indent:0;
	margin:0 0 2px!important;
	padding-left:15px;
}
ol.cf-ol ul.cf_li_text_err li:before {
	content:'';
}

/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */

label.secq,
label.seccap {
	vertical-align:text-bottom;
	margin-bottom:4px;
}

input.secinput {
	vertical-align:text-bottom;
}

#cforms_captcha6,
#cforms_captcha5,
#cforms_captcha4,
#cforms_captcha3,
#cforms_captcha2,
#cforms_captcha {
	height:15px;
	width:50px;
	padding: 4px 4px;
	margin: 0;
}

img.captcha	{
	vertical-align:text-bottom;
	margin:0 0 0 10px!important;
	padding:0!important;
	border:none!important;
	float:none!important;
}

img.captcha-reset {
	vertical-align:text-bottom;
	background:	url(captcha_reset_grey.gif) no-repeat;
	margin:0 0 2px 3px;
	width:21px;
	height:21px;
	border:none;
}

img.imgcalendar {
	border:none;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
	color:#333;
	display:none;
	padding:10px 15px!important;
	line-height:1.3em;
	margin:10px auto;
}
div.cf_info ol {
	margin:0;
	padding:5px 15px 0 30px;
}
div.cf_info ol li {
	padding:1px 0;
	margin:2px 0;
}
div.cf_info a	{
	color:#ad2929!important;
	text-decoration:underline!important;
}
div.success {
	background:#F7F7F7 none repeat scroll 0% 50%;
	color:#444444;
	display:block;
}
div.failure {
	display:block;
	background:#FFDFDF url(li-err-bg.png) repeat!important;
	border-color:#DF7D7D;
	border-style:solid;
	border-width:1px 0pt;
}
div.waiting {
	background:#F9F9F9;
	color:#AAAAAA;
	display:block;
}
/*                                                    */
/*   formatting for invalid user inputs               */
/*                                                    */
.cform .cf_error { 
	color:#ad2929; 
	border:1px solid #ad2929; 
}
div.mailerr {
	display:block;
}
.mailerr,
.cform .cf_errortxt {
	color:#ad2929; 
}

/*                                                    */
/* disabled fields [disabled] does not work on IE!    */
/*                                                    */

[disabled] {
	color:#dddddd;
	border-color:#dddddd!important;
	background:none!important;
}
.disabled {
	border-color:#dddddd!important;
}

/*                                                    */
/* upload box styling                                 */
/*                                                    */
.cform input.cf_upload  {
	width:220px;
	background: #f9f9f9;
	border:1px solid #888888;
}

/*                                                    */
/*  Other: link love                                  */
/*                                                    */
.linklove {
	width:410px;
	margin:0 auto 10px!important;
	padding:0!important;	
	text-align:center!important;
}
.linklove a,
.linklove a:visited {
	font-size: 0.8em;
	font-family: Tahoma;
	color:#aaaaaa!important;
}

/*                                                    */
/*  Other: browser hacks                              */
/*                                                    */
* html .cform fieldset {
	position: relative;
	margin-top:15px;
	padding-top:25px; 
}
* html .cform legend { 
	position:absolute; 
	top: -10px; 
	left: 10px; 
	margin-left:0;
}
*+html .cform fieldset {
	position: relative;
	margin-top:15px;
	padding-top:25px; 
}
*+html .cform legend { 
	position:absolute; 
	top: -10px; 
	left: 10px; 
	margin-left:0;
}

* html ol.cf-ol,
* html ol.cf-ol li,
* html span.reqtxt,
* html span.emailreqtxt { 
	display: inline-block;  /*for ie6*/
}
*+html .cform label,
*+html ol.cf-ol,
*+html ol.cf-ol li,
*+html span.reqtxt,
*+html span.emailreqtxt {
	display: inline-block; /*for ie7*/
}

* html img.captcha {
	margin-bottom:1px!important;
}
*+html img.captcha {
	margin-bottom:1px!important;
}


/* SEARCH RESULT THEMING */
.search-results h3.item-title {
  color: #FFFFFF !important;
  clear: both;
  background: none repeat scroll 0 0 #0066A4;  
    padding: 3px;
}
.search-results h3.item-title a:link, .search-results h3.item-title a:visited{
  color: #FFFFFF !important;
  text-decoration: none
}
.page-type {
  float: right;
  font-weight: bold;
  text-align: right;
}
#datasetDocs .summary-docs{
  margin-bottom: 10px; 
}

.publication-item{
  margin-bottom: 20px;
}


/* ORBIT  Bullets*/

.orbit-wrapper ul.orbit-bullets {
  position: absolute;
  background: #F18431; 
  z-index: 30;
  list-style: none;
  bottom: 0px;
  left: 0;
  margin-left: 0px!important;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}
.orbit-wrapper .orbit-bullets .has-thumb{
  border: 3px solid #F18431;
  margin: 8px 0px 8px 0px;
  height: 35px;
  width: 80px;
}
div#content ul li, div#content ol li {
margin-left: 5px;
}

div#content ul, div#content ol {
  margin-bottom: 0px;
  padding-bottom: 0em;
}

.orbit-wrapper .orbit-bullets .has-thumb.active{
  border-top: 3px solid red;
  border: 3px solid red;
}

/* ORBIT  slides */

.orbit-wrapper .slider-nav { display: none; }

.orbit-wrapper .slide-title, .orbit-wrapper .backing{
    position: absolute;
    width: 600px;
    bottom: 70px;
    height: 70px;
}

.orbit-wrapper .backing{
    opacity: 0.7;
    background: #000;
}
.orbit-wrapper .pdf-key { display: none; }
.orbit-wrapper .slide-title{
  position: absolute;
  font-size: 20px;
  padding: 5px 10px;
  height: 60px;
}
div#content .orbit-wrapper .slide-title a{
  text-decoration: none;
  color: #F18431;
}

#see-all-cases {
  display: block;
  position: absolute;
  right: 30px;
  font-size: 12px;
}
div#content .orbit-wrapper .slide-title #see-all-cases a:hover{  text-decoration: underline;}

div.orbit-wrapper div.slider-nav {
display: none!important;
}

body.home .sharedaddy{
  display: none;
}

.did-you-know .addthis_toolbox{
  display: none;
}

.addthis_toolbox{
  margin: 30px 0 30px 0;
}
