<div class="scores">
    {{#each years}}
        <div class="year-box past year-{{this}} badge">
            <span class="top">{{this}}</span><span class="bottom"></span>
        </div>
    {{/each}}
    <div class="clearfix"></div>
</div>
<br/>
