<div id="report-generator">
</div>
<ul id="explorer-nav" class="nav nav-pills">
  <li><a href="#">View Map</a></li>
  <li><a href="#map">Map</a></li>
  <li><a href="#rankings">View Rankings</a></li>
</ul>
<div id="explorer">
</div>

