<ul id="explorer-nav" class="nav nav-pills">
  <li><a href="#">Home</a></li>
  <li><a href="#map">Map</a></li>
  <li><a href="#query">Query</a></li>
  <li><a href="#rawdata">RawData</a></li>
</ul>
<div id="explorer">
</div>

