<div class="row">
  <div class="span8">
    <ul class="nav nav-pills">
      <li><a href="#">Home</a></li>
      <li><a href="#map">Map</a></li>
      <li><a href="#query">Query</a></li>
      <li><a href="#rawdata">RawData</a></li>
    </ul>
  </div>
</div>
<div id="explorer">
</div>

