<div id="report-generator">
</div>
<ul id="explorer-nav" class="nav nav-pills">
  <li><a href="#map">Map View</a></li>
  <li><a href="#timeline">Timeline View</a></li>
  <li><a href="#rankings">Country Rankings</a></li>
  <li><a href="#profile">Country Datasheet</a></li>
</ul>
<div id="explorer">
</div>

