{{#if last}}
    <div>
        <a id="profile-toggle" class="inactive" href="#">Show 2017 Calculator »</a>
    </div>
{{/if}}
<div class="scores">
    {{#each years}}
        <div class="year-box year-{{this}} badge">
            <span class="top">{{this}}</span><span class="bottom"></span>
        </div>
    {{/each}}
    {{#if last}}
        <div class="year-box year-2017 badge badge-success future">
            <span class="top">2017</span><span class="bottom"></span>
        </div>
    {{/if}}
    <div class="clearfix"></div>
</div>
<br/>
{{#if last}}
    <div class="explanation future">
        <p>Click on the letters below to calculate the possible outcome of the 2017
            survey.<br/>Changing the value of a question automatically updates the score.</p>

        <p>You can bookmark or share this page for later viewing.</p>
        <ul class="share-buttons future">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank"
                   onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img
                    src="images/social-icons/Facebook.png"></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"
                   onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img
                    src="images/social-icons/Twitter.png"></a></li>
            <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"
                   onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img
                    src="images/social-icons/Google+.png"></a></li>
            <li><a href="http://www.reddit.com/submit?url=&title=" target="_blank" title="Submit to Reddit"
                   onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img
                    src="images/social-icons/Reddit.png"></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank"
                   title="Share on LinkedIn"
                   onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img
                    src="images/social-icons/LinkedIn.png"></a></li>
            <li><a href="mailto:?subject=&body=:%20" target="_blank" title="Email"
                   onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img
                    src="images/social-icons/Email.png"></a></li>
            <li><button class="btn" id="print-answered">Print/PDF Results</button></li>
            <li><button class="btn" id="print-plain">Print/PDF Survey</button></li>
            <li><button class="btn" id="print-table">Print/PDF table</button></li>
        </ul>
    </div>
{{/if}}
