<div class="document-availability">
    <iframe
            src="{{tracker_url}}"
            id="trackerIFrame"
            width="100%"
            height="900px"
            frameborder="0"
            scrolling="no">
    </iframe>
</div>
