<div>
  <h2>Download Data</h2>
</div>

<div class="dl-nav-select-outer">
<h3>Download:&nbsp;&nbsp;
<select class="dl-nav-select">
<option value="">Choose one...</option>
<option value="fd">Full datasets</option>
<option value="sf">Statistical files</option>
<option value="cr">Custom reports</option>
</select></h3>
</div>

<div id="dl-selection">
  <div id="dl-mode">
  </div>
</div>
<div class="clearfix"></div>
