<div class="year-selector btn-group" id="map-toggles">
    {{#each button_years}}
    <button data-year="{{this}}" class="btn">{{this}}</button>
    {{/each}}
</div>
<div id="map" class="pull-left"></div>
<div id="map-gradient" class="pull-left"></div>
<div id="map-gradient-label" class="pull-left">
  <p class="first">100</p>
  <p>80</p>
  <p>60</p>
  <p>40</p>
  <p class="penultimate">20</p>
  <p>0</p>
</div>
<div class="clearfix"></div>
