<div class="country-rankings">
    <div class="year-selector btn-group" id="rankings-toggles">
            {{#each button_years}}
            <button data-year="{{this}}" class="btn">{{this}}</button>
            {{/each}}
    </div>
    <table id="rankings-table">
        <thead>
            <tr>
                <th class="col1" colspan="2"><a href="#" class="sortbyname" data-sortbyname="true"><span class="text">Name</span> <span class="caret"></span></a></th>
                <th class="col2" colspan="2"><a href="#" class="sortbyname" data-sortbyname="false"><span class="text">Score</span> <span class="caret"></span></a></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
