<div class="splash">
  <a href="#map" class="banner">
    The <strong>Open Budget Survey</strong> is a comprehensive analysis and survey that evaluates whether governments give the public access to budget information and opportunities to participate in the budget process at the national level.<br /><br />The Survey also assesses the capacity and independence of formal oversight institutions. The IBP works with civil society partners in 115 countries to collect the data for the Survey.
  </a>
  <div class="row">
    <div class="span4 pod rankings">
      <a class="image" href="#rankings"></a>
      <a class="text" href="#rankings">To easily measure the commitment to transparency, IBP created the <strong>Open Budget Index</strong> from the Survey. </a>
    </div>
    <div class="span4 pod timeline">
      <a class="image" href="#timeline"></a>
      <a class="text" href="#timeline">The <strong>Open Budget Index</strong> allows for comparisons among countries and across years.
      </a>
    </div>
    <div class="span4 pod calculator">
      <a class="image" href="#calculator"></a>
      <a class="text" href="#calculator">Use the <strong>{{ calc_year }} calculator</strong> to predict the outcome of the next survey and see where transparency, participation, and oversight can improve.</a>
    </div>
  </div>
</div>
