<div class="timeline-header">
    <h2 class="pull-left">Timeline</h2>
    <h4 class="pull-left">View:</h4>
    <div class="timeline-toggle pull-left">
      <label class="radio">
        <input type="radio" name="timeline" value="rankings" checked>
        Rankings
      </label>
      <label class="radio">
        <input type="radio" name="timeline" value="scores">
        Open Budget Index
      </label>
    </div>
    <div class="clearfix"></div>
</div>
<div id="timeline-columns"></div>
