
#availability {
    width: 700px;
    margin: 0 auto;
    td.dot {
        width: 50px;
    }
    thead {
        td {
            font-size: 11px;
            line-height: 12px;
            text-align: center;
            vertical-align: bottom;
        }
    }
    tbody {
        td {
            text-align: center;
            vertical-align: middle;
            &.country {
                font-size: 11px;
                text-align: right;
                a {
                    color: #000;
                }
            }
            &.flag {
                padding: 0 10px;
                vertical-align: middle;
            }
        }
    }


}
