
#availability-key {
	float: left;
	width: 140px;
	font-size: 10px;
	line-height: 12px;
	border: 1px solid #999;
	th {
		background: #999;
		color: #fff;
		font-weight: bold;
		text-align: center;
		padding: 4px 0;
	}
	td.dot {
		text-align: center;
		width: 22px;
	}
}

#availability {
    width: 700px;
    margin: 0 auto;
    td.dot {
        width: 50px;
    }
    thead {
        td {
            font-size: 11px;
            line-height: 12px;
            text-align: center;
            vertical-align: bottom;
        }
    }
    tbody {
        td {
            text-align: center;
            vertical-align: middle;
            &.country {
                font-size: 11px;
                text-align: right;
                a {
                    color: #000;
                }
            }
            &.flag {
                padding: 0 10px;
                vertical-align: middle;
            }
        }
    }
}
