#content {
  margin-top: 70px;
  min-height: 300px;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-bottom: 40px;

  .footer-links a {
    &:hover {
      text-decoration: none;
    }
    display: block;
    margin-top: 20px;
  }
}


#map {
    border-radius: 15px;
    border: 3px solid #888;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.question {
    margin-bottom: 10px;
    .text {

        .number {
            font-weight: bold;
        }
    }
    .answer {
        display: block;
        color: #999;
        font-size: 11px;
        line-height: 16px;
    }
}

.question-toggles {
    background: #eee;
    @per_row: 18;
    width: @per_row*27px;
    .toggle {
        border: 1px solid #000;
        margin-left: -1px;
        margin-top: -1px;
        float: left;
        width: 26px;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 11px;
        font-weight: bold;
        &.hover {
            background: #fcc;
        }
    }

}
