#content {
  margin-top: 70px;
  min-height: 300px;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-bottom: 40px;

  .footer-links a {
    &:hover {
      text-decoration: none;
    }
    display: block;
    margin-top: 20px;
  }
}


#map {
    border-radius: 15px;
    border: 3px solid #888;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.question {
    margin-bottom: 10px;
    .text {

        .number {
            font-weight: bold;
        }
    }
    .answer {
        display: block;
        color: #999;
        font-size: 11px;
        line-height: 16px;
    }
}
