div#content {
    /* Constrained by the layout of the IBP framework */
    margin-top: 70px;
    min-height: 300px;
    background: #fff; 
    margin-top: -20px; 
    padding: 20px 0;
    width: 868px;

    h1 {
        margin-left: 0;
        background: none;
        color: #000;
    }
    #explorer-nav {
        background: #0066A4;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 0;
        a {
            color: #fff;
        }
        a:hover {
            background: #64A0C5;
        }
        .active a {
            background: lighten(#68A6CB, 35%);
            color: #000;
        }
    }
    #explorer {
        padding: 0 4px;
        min-height: 380px;
    }

    .footer {
        margin-top: 40px;
        border-top: 1px solid #ccc;
        padding-bottom: 40px;

        .footer-links a {
            &:hover {
                text-decoration: none;
            }
            display: block;
            margin-top: 20px;
        }
    }

    #map {
        border-radius: 15px;
        border: 3px solid #888;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    }

    #report-generator {
        margin-bottom: 10px;
        h1 {
            width: 100%;
            padding: 5px 10px;
            margin: 0 0 0 0;
            font-size: 26px;
            small {
                font-size: 18px;
            }
        }
        .expand-collapse {
            margin: 0 0 0 30px;
            font-weight: bold;
        }
        .inner {
            padding-bottom: 7px;
            padding-left: 7px;
        }
        .select-or-clear {
            padding-bottom: 8px;
            text-align: center;
        }
        .group-toggler {
            &.active {
                text-decoration: underline;
                color: #000;
            }
        }

        #toggle-boxes {
            @per_row: 14;
            width: @per_row*27px;
            padding-left: 9px;
            position: relative;
            .toggle-box {
                position: relative;
                background: #f0f0f0;
                color: #ccc;
                display: block;
                text-decoration: none;
                border: 1px solid #ccc;
                margin-left: -1px;
                margin-top: -1px;
                float: left;
                width: 25px;
                text-align: center;
                padding-top: 4px;
                padding-bottom: 4px;
                font-size: 11px;
                letter-spacing: -1px;
                &:hover,
                &.hover {
                    background: #fdd !important;
                    color: #888;
                }
                &.select {
                    background: #fff;
                    color: #000;
                    border-color: #000;
                    z-index: 1;
                }
            }
        }

        .grouplist {
            h6 {
                line-height: 13px;
                font-size: 11px;
                border-bottom: 1px solid #ccc;
                margin: 6px 0 4px 0;
                padding: 0 0 2px 5px;
            }
            ul {
                margin-left: 3px;
                list-style-type: none;
                li {
                    line-height: 13px;
                    font-size: 11px;
                }
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

    .timeline-header {
        height: 70px;
        width: 860px;
        h2 {
            margin: 30px 0 0 30px;
            padding-bottom: 0;
            font-size: 25px;
        }
        .timeline-toggle {
            margin: 38px 0 0 40px;
            .text { 
                font-size: 15px; 
                font-weight: bold; 
                padding: 5px 10px 0 0;
            }
        }

    }

    .timeline-column {
        float: left;
        padding: 0 22px;
        &#timeline-column-2006 {
            padding-left: 4px;
        }
        &#timeline-column-2012 {
            padding-right: 0;
        }

        h4 {
            padding-left: 20px;
            margin-bottom: 2px;
        }

        table {
            /* Column widths: */
            @c1: 116px;
            @c2: 20px;
            @c3: 44px;

            background: #f0f0f0;
            font-size: 11px;
            border-radius: 5px;
            width: @c1 + @c2 + @c3;
            margin-top: 0;

            tr:nth-child(even) {
                td {
                    background: #f7f7f7;
                }
            }
            tr {
                th {
                    background: #555;
                    color: #fff;
                    padding: 4px 5px;
                }
                .timeline-cell-name {
                    width: @c1 - 11px;
                    max-width: @c1 - 11px;
                    padding-left: 4px;
                    padding-right: 7px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: right;
                }
                .timeline-cell-flag {
                    width: @c2;
                    max-width: @c2;
                    padding: 0 0 2px 0;
                }
                th.timeline-cell-score {
                    text-align: center;
                    display: none;
                }
                td.timeline-cell-score {
                    text-align: right;
                    padding-right: 2px;
                    display: none;
                    width: @c3 - 2px;
                    max-width: @c3 - 2px;
                }
                th.timeline-cell-rank {
                    text-align: center;
                }
                td.timeline-cell-rank {
                    text-align: right;
                    padding-right: 8px;
                    width: @c3 - 8px;
                    max-width: @c3 - 8px;
                }
                &.hover {
                    td {
                        background: #ccc;
                    }
                }
            }
        }
    }


    #map {
        width: 840px;
        margin: 10px auto 0 auto;
        height: 450px;
    }
    #rankings-toggles,
    #map-toggles {
        margin: 10px 0;
        text-align: center;
        button {
            width: 90px;
        }
    }

    #rankings {
        .country {
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 140px;
            max-width: 140px;
        }
        .score {
            width: 30px;
            max-width: 30px;
            text-align: right;
            padding-right: 10px;
        }
        .flag {
            width: 20px;
            max-width: 20px;
            text-align: center;
        }
        .bar {
            padding: 0 0 0 0;
        }

        .percentbar {
            width: 620px;
            height: 20px; 
            > * { 
                height: 20px; 
                float: left;
            }
            background: #f0f;
            .a { background: #22aa33; }
            .b { background: #DAC402; }
            .c { background: #F58024; }
            .d { background: #B7282E; }
            .e { background: #aaa; }
        }
    }
}

.question-tooltip {
  padding: 10px 4px;
  text-align: left;
}
