.splash {
  font-family: Lato, sans-serif;
  font-size:18px;
  line-height:22px;
  margin-bottom: 20px;
}
.splash .banner {
  height:240px;
  padding:30px 600px 30px 25px;
  background-image:url('../images/map-banner.png');
  display:block;
  color:#333333;
  text-decoration:none;
  margin-top:10px;
  margin-bottom:30px;
}
.splash .pod {
  width: 220px;
  display:block;
  color:#333333;
  text-decoration:none;
  padding-top:150px;
  margin-bottom:15px;
  background-repeat:no-repeat;
}
.splash .pod.rankings {
  background-image:url('../images/1.png');
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  background-position: 10px 0;
}
.splash .pod.timeline {
  background-image:url('../images/2.png');
  background-position: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
}
.splash .pod.calculator {
  background-image:url('../images/3.png');
  background-position: 10px 0;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
.splash .pod.participation {
  background-image:url('../images/3.png');
  background-position: 10px 0;
  width: 200px;
  padding-left: 10px;
}

