/* Every Page */
/* ========== */
header {
  background: #f0f0f0;
  margin-top: 10px;
}
header h1 {
  padding-left: 50px;
  padding-top: 20px;
}
header h1 a,
header h1 a:hover,
header h1 a:visited {
  color: #000;
  text-decoration: none;
}
header h2 {
  margin-left: 50px;
  font-family: monospace;
  font-size: 18px;
}
header #ibp-watermark {
  float: right;
  margin: 20px 20px 0 0;
}
nav {
  padding: 8px 20px;
}
nav ul.nav {
  margin: 0;
}
nav a,
nav a:visited {
  color: #08c;
}
#content {
  min-height: 400px;
}
#main {
  margin-top: 30px;
}
footer {
  margin-top: 50px;
  background: #f0f0f0;
}
footer .okfn-credit {
  float: right;
  margin: 30px 0;
}
footer .okfn-credit img {
  margin-left: 6px;
}
footer .okfn-credit:hover
footer .okfn-credit:visited,
footer .okfn-credit {
  color: #666;
  text-decoration: none;
}
#sidebar {
  background: #f0f0f0;
  min-height: 400px;
  margin-top: 10px;
  padding: 20px 10px;
}


/* General Purpose */
/* =============== */
#content h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 14px;
}
.li-add {
  margin-top: 8px;
}
.data-dump {
  max-height: 200px; 
  overflow: scroll;
}
.country-sidebar {
  list-style-type: none;
  margin: 0;
}
.country-sidebar li {
  display: block;
  height: 21px;
  text-align: right;
}
.country-sidebar .bar {
  padding-left: 12px;
}
.letter {
  font-family: monospace;
  font-weight: bold;
}
.letter-a { background: #faeac8 !important; }
.letter-b { background: #f8c175 !important; }
.letter-c { background: #f5854e !important; color: #fff; }
.letter-d { background: #cb3727 !important; color: #fff; }
.letter-e { background: #ccc !important;  font-weight: normal; font-size: 80%;}

/* Country Tables */
/* ============== */
.country-table .q-id,
.country-table th {
  background: #999 !important;
  color: #fff;
  text-align: center;
}
.country-table td {
  padding: 1px 0 0 0;
}
.country-table .q-id {
  width: 30px;
}
.country-table .q-answer {
  width: 30px;
  text-align: center;
  font-family: monospace;
}
.country-table .q-answer.number {
  text-align: right;
  width: 45px;
}
.country-table .q-answer.letter {
  font-weight: bold;
}
.country-table .q-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 200px;
  font-size: 10px;
}

.country-comparison th.q-answer {
  padding: 0 2px;
  font-family: inherit;
  font-size: 10px;
}
.country-comparison .q-answer {
  width: 60px;
  max-width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hover-hint {
  margin-left: 290px;
}
.rankings-table {
  width: 100%;
}
.rankings-table .country {
  font-size: 10px;
  padding-right: 10px;
  text-align: right;
  color: #999;
  width: 120px;
}
.rankings-table .letter:hover {
  background: #fff !important;
}
.rankings-tooltip {
  position: absolute;
  left: 300;
  top: 600;
  background: rgba(0,0,0,0.5);
  font-size: 9px;
  z-index: 10;
  padding: 8px;
  line-height: 11px;
  color: #fff;
  width: 250px;
}

/* View : Home */
/* =========== */

/* View : Profile/Table */
/* ==================== */

/* View : Profile/Table */
/* ==================== */
.country-grid .cell {
  width: 28px;
  padding: 7px 0 5px 0;
  float: left;
  vertical-align: middle;
  text-align: center;
}
.country-stripes .stripe {
  height: 150px;
  width: 3px;
  float: left;
  border: 1px solid transparent;
}
.country-stripes .stripe:hover {
  border: 1px solid #000;
}
.stripe-text {
  width: 580px;
}

/* View : Compare */
/* ============== */
#view-compare .compare-without {
  list-style-type: none;
  margin: 0;
}
#view-compare #sidebar select {
  width: 280px;
}
#view-compare .compare-without .close {
  float: none !important;
  font-size: 12px;
  padding-right: 8px;
}
