{% extends "layout.html" %}
{% import "helpers.html" as h %}

{% block page_title %}{{ country.country + gettext(" - Open Budget Survey - Tracker") }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-9">
    <h1>{{ gettext(country.country) }}</h1>
    {%- if country.message %}
    <div class="alert alert-danger">{{ gettext(country.message) }}</div>
    {% endif %}
    <div>
      <h2>{{ gettext("Open Budget Index") }} <small><a href="/about"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></small></h2>
      {% if country.obi_scores %}
      {% set lastscore = country.obi_scores|last %}
      <p>
	<span class="lead">
	{{ lastscore.score }}/100
	</span>
	<small class="text-muted">
	{% if lastscore.score <= 20 %}
	{{ gettext('Provides <strong>scant</strong> information to the public in its budget documents during the year') }}
	{% elif lastscore.score <= 40 %}
	{{ gettext('Provides <strong>minimal</strong> information to the public in its budget documents during the year') }}
	{% elif lastscore.score <= 60 %}
        {{ gettext('Provides <strong>some</strong> information to the public in its budget documents during the year') }}
	{% elif lastscore.score <= 80 %}
        {{ gettext('Provides <strong>significant</strong> information to the public in its budget documents during the year') }}
        {% else %}
        {{ gettext('Provides <strong>extensive</strong> information to the public in its budget documents during the year') }}
        {% endif %}
        ({{ date_format({'year':lastscore.year}, 'YYYY') }})
        </small>
      </p>
      {% else %}
      <p class="text-muted">{{ gettext('N/A -- This country was not included in the Open Budget Survey') }}</p>
      {% endif %}
    </div>
  </div>
  <div class="col-md-3">
    <div class="row top20">
      <a href="{{ country.library }}" target="_blank" class="btn btn-primary col-md-12">{{ gettext("View the Budget Library") }}</a>
    </div>
    <div class="row top5">
      <a href="/country/{{ country.country }}" class="btn btn-primary col-md-12">{{ gettext("View historical information") }}</a>
    </div>
  </div>
</div>

<h2>{{ gettext("Current Status") }}</h2>
<table class="table table-hover status-table">
  <colgroup>
    <col width="22%">
    <col width="10%">
    <col width="18%">
    <col width="4%">
    <col width="16%">
    <col width="30%">
  </colgroup>
  <thead>
    <tr>
      <th>{{ gettext("Document") }}</th>
      <th>{{ gettext("Fiscal Year") }}</th>
      <th>{{ gettext("Current Status") }}</th>
      <th>{{ gettext("Comments") }}</th>
      <th>{{ gettext("Date of Publication") }}</th>
      <th><span class="text-muted">{{ gettext("Next Publishing Period") }}</span></th>
    </tr>
  </thead>
  <tbody>
    {% for doc in docs %}
      {% set cell = undefined %}
      {% set fiscal_year = '-' %}
      {% for year in country.documents|reverse %}
        {% if not cell %}
          {% if doc.title in country.documents[year] %}
            {% set fiscal_year = year %}
            {% set cell = country.documents[year][doc.title]|first %}
          {% endif %}
        {% endif %}
      {% endfor %}
    <tr>
      <th scope="row" data-toggle="popover" data-placement="top" data-content="{{ gettext(doc.description) }}"{% if lang == 'es' %} style="font-size:90%;"{% endif %}{% if lang == 'ru' %} style="font-size:70%;"{% endif %}>
        {{ gettext(doc.title) }}
      </th>
      <td class="text-center">{{ date_format({'year':fiscal_year}, 'YYYY') }}</td>
      <td>
	{% if cell %}
        <span class="badge state state-{{ cell.state|replace(' ', '-') }}">
          <span>{{ h.state(cell.state) }}</span>
        </span>
        {{ h.state(cell.state) }}
	{% else %}
        <span class="badge state state-not-produced">
          <span>{{ h.state("not produced") }}</span>
        </span>
        {{ h.state("not produced") }}
	{% endif %}
      </td>
      <td class="text-center">
	{% if cell.comments %}
	<span data-toggle="popover" data-placement="top" data-content="{{ cell.comments }}" class="text-info glyphicon glyphicon-comment"></span>
	{% endif %}
      </td>
      <td>
	{% if cell %}
        {% if cell.date_published %}
          {{ date_format(Date.parse(cell.date_published), 'll') }}
        {% else %}
        <span class="text-muted">
          {{ gettext("Unavailable") }}
        </span>
        {% endif %}
	{% else %}
        <span class="text-muted">{{ gettext("Unavailable") }}</span>
	{% endif %}
      </td>
      <td>
        <span class="text-muted">
          {#
          Special cases:
          * In-Year Report
          * Citizens Budget
	  
          For these next publication should just be described with
          static text since they cannot be computed and are dependent
          on each government's budget cycle.
          #}
          {% set static_expected = {
          'in-year report': gettext('Publishing period for each report is one to three months after a particular month/quarter ends.'),
          "citizens budget": gettext('Same as either the Executive Budget Proposal or Enacted Budget.') }
          %}
          {% if doc.title|lower in static_expected %}
            {{ static_expected[doc.title|lower] }}
          {% else %}
            {% set search_dates_found = false %}
            {% for site in country.sites %}
              {% if !search_dates_found && site.type == doc.title %}
                {% set start_date = Date.parse(site.search_dates.start) %}
                {% set end_date = Date.parse(site.search_dates.end) %}
                {% if end_date >= Date.now() %}
                  {%- if start_date < Date.now() %}
                    {{ i18nformat(gettext('Before %s'), [date_format(Date.parse(site.search_dates.end), 'll')]) }}
                  {%- else %}
                    {{ date_format(Date.parse(site.search_dates.start), 'll') }} - {{ date_format(Date.parse(site.search_dates.end), 'll') }}
                  {% endif %}
                  {% set search_dates_found = true %}
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if !search_dates_found %}
              {{ gettext("Unavailable") }}
            {% endif %}
          {% endif %}
	</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="row top20">
  <p class="text-muted">
    <small>{{ gettext('Note: Comments are only shown if present and only available in English or language of origin/researcher') }}</small>
</p>
</div>
{% endblock %}
