{% extends "../../layout.html" %}

{% block page_title %}Actualización de octubre{% endblock %}

{% block content %}
<h1>¡Conozca las actualizaciones de la Herramienta de Seguimiento de Presupuesto Abierto del mes de octubre!</h1>

<p>La <a href="http://www.obstracker.org">Herramienta de seguimiento de la Encuesta de Presupuesto Abierto</a> (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>) verifica si los gobiernos centrales de 30 países publica a tiempo cada uno de los ocho documentos presupuestarios clave en virtud de las normas internacionales. Utilizando los datos recopilados por expertos en presupuesto independientes en los 30 países, la herramienta de seguimiento OBS Tracker verifica en tiempo real información sobre:</p>

<ul>
<li>qué documentos presupuestarios han sido publicados;</li>
<li>qué documentos han sido elaborados pero no han sido publicados; y</li>
<li>qué documentos no han sido elaborados.</li>
</ul>

<p>Consulte la última información del OBS Tracker, noticias y a qué debe estar atento en los próximos meses.</p>

<h2>Actualización del mes de octubre</h2>

<p>Información general:</p>

<ul>
<li>De los 240 documentos evaluados en los 30 países, en la actualidad se han publicado un total de 150 documentos presupuestarios. Esto representa un aumento neto de tres documentos en el último mes.</li>
<li>De los 90 documentos que no están a disposición del público, 34 fueron elaborados pero no fueron publicados; y 56 no fueron elaborados.</li>
<li>En el mes de octubre se publicaron 28 documentos presupuestarios de 20 países diferentes. Esto incluye 11 informes entregados durante el año, 10 propuestas de presupuesto del ejecutivo, tres presupuestos ciudadanos, un informe de fin de año y tres informes de auditoría. Estos documentos pueden ser consultados en la Biblioteca de Presupuesto Abierto del IBP.</li>
</ul>

<p>Avances</p>

<ul>
<li><strong>Costa de Marfil</strong> ha publicado su Propuesta de Presupuesto del Ejecutivo para el año fiscal 2015. Anteriormente, <strong>Costa de Marfil</strong> había elaborado la Propuesta de Presupuesto del Ejecutivo pero no la había puesto a disposición del público.</li>
<li><strong>Egipto</strong> ha publicado un Presupuesto ciudadano para el Presupuesto aprobado del año fiscal 2014/2015. En el pasado, Egipto no preparaba un presupuesto ciudadano.</li>
<li><strong>Fiyi</strong> ha publicado un Informe de auditoría para el año fiscal 2013. En el pasado, Fiyi no publicaba un Informe de auditoría.</li>
</ul>

<p>Trabajo por hacer:</p>

<ul>
<li><strong>Senegal</strong> publicó su Revisión de mitad de año para el año fiscal 2014 después del plazo de tres meses, lo cual significa que su situación se modificará de “elaborado para uso interno únicamente” a “publicación tardía”.</li>
</ul>

<h2>Últimas noticias</h2>

<p>La <a href="http://www.obstracker.org/data.csv">información sin procesar</a> de la Herramienta de Seguimiento de Presupuesto Abierto OBS Tracker ahora está disponible en formato legible por máquina (.CSV). El archivo será actualizado en forma mensual e incluye la información histórica de los 30 países.</p>

<p>Se publicaron por lo menos 75 noticias de 12 países en la Herramienta de Seguimiento de Presupuesto Abierto OBS Tracker. Muchos son artículos en medios de comunicación locales y nacionales, pero también hubo cobertura en blogs internacionales (incluso los blogs de Open Democracy y Open Knowledge Foundation), en blogs de OSC locales y en segmentos de noticias televisados. La Herramienta de seguimiento ha recibido más atención en la República Dominicana y en Vietnam, donde se publicaron 27 y 26 noticias, respectivamente.</p>

<p>El personal de IBP y nuestros socios también tuvieron mucho trabajo en octubre en diversos países, como:</p>

<ul>
<li><strong>República Dominicana</strong>: El personal de IBP brindó apoyo en campo y fue entrevistado junto con nuestro socio en un <a href="http://hoy.com.do/videos/todos/30-10-14unouno">programa de entrevistas matutino en un canal nacional</a>.</li>
<li><strong>Egipto</strong>: El Ministerio de Finanzas se reunió con el personal de IBP y con nuestro socio de OBS Tracker y se comprometió a mejorar la transparencia fiscal y la rendición de cuentas. Los funcionarios describieron sus planes de lanzar un portal en línea con información financiera y análisis; y de enviar mensajes de texto al público cada vez que se publique un nuevo documento clave en el portal. También describieron la campaña “Conozca su Presupuesto”, que divulgará la información presupuestaria en los periódicos nacionales.</li>
<li><strong>Nigeria</strong>: El Centro de Documentación y Desarrollo de Recursos Civiles (CIRDDOC), socio del IBP, mantuvo una exitosa reunión con el Ministro de Finanzas para hablar sobre la transparencia presupuestaria. El Ministro solicitó aclaraciones metodológicas sobre la herramienta OBS Tracker y la Encuesta de Presupuesto Abierto y resaltó su compromiso de mejorar la transparencia presupuestaria en el país.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>La etapa de formulación del presupuesto del ciclo presupuestario está a toda marcha en muchos de los países incluidos en la herramienta OBS Tracker. Las Propuestas de Presupuesto del Ejecutivo deben ser publicadas en octubre en diez países. Seguiremos de cerca este proceso, junto con los Presupuestos ciudadanos correspondientes, y publicaremos noticias en los próximos meses.</li>
<li>Seguiremos de cerca la publicación de las Propuestas de Presupuesto del Ejecutivo en <strong>Bolivia</strong>, <strong>Irak</strong>, <strong>Palestina</strong>, <strong>Vietnam</strong> y <strong>Fiyi</strong>. Cada uno de los países ya elabora el documento en la actualidad, pero todavía no los ha puesto a disposición del público.</li>
</ul>

<p>Ingrese a <a href="http://www.obstracker.org">www.obstracker.org</a> y haga clic en el país para saber cuándo debe presentar los documentos presupuestarios. Todos los documentos a disposición del público pueden ser consultados en la <a href="http://www.openbudgetlibrary.org">Biblioteca de Presupuesto Abierto</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
