{% extends "../../layout.html" %}

{% block page_title %}Actualización de noviembre{% endblock %}

{% block content %}
<h1>¡Conozca las actualizaciones de la Herramienta de Seguimiento de Presupuesto Abierto disponibles del mes de noviembre!</h1>

<p>La <a href="http://www.obstracker.org">Herramienta de seguimiento de la Encuesta de Presupuesto Abierto</a> (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>) verifica si los gobiernos centrales de 30 países publican a tiempo cada uno de los ocho documentos presupuestarios clave en virtud de las normas internacionales.Utilizando los datos recopilados por expertos en presupuesto independientes en los 30 países, la herramienta de seguimiento OBS Tracker verifica en tiempo real información sobre:</p>

<ul>
<li>qué documentos presupuestarios han sido publicados;</li>
<li>qué documentos han sido elaborados pero no han sido publicados; y</li>
<li>qué documentos no han sido elaborados.</li>
</ul>

<p>Consulte la última información del OBS Tracker, noticias y a qué debe estar atento en los próximos meses.</p>

<h2>Actualización de noviembre</h2>

<p>Información general:</p>

<ul>
<li>De los 240 documentos presupuestarios evaluados en los 30 países, en la actualidad se han publicado un total de 152 documentos. Esto representa un aumento neto de dos documentos en el último mes.</li>
<li>De los 88 documentos que no están a disposición del público, 33 fueron elaborados pero no fueron publicados; y 55 no fueron elaborados.</li>
<li>En el mes de noviembre se publicaron 31 documentos presupuestarios de 20 países diferentes. Esto incluye 19 informes entregados durante el año, dos documentos preliminares, cinco propuestas de presupuesto del ejecutivo, un presupuesto ciudadano, dos presupuestos aprobados, un informe de fin de año y un informe de auditoría. Estos documentos pueden ser consultados en la <a href="http://www.openbudgetlibrary.org">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<p>Avances:</p>

<ul>
<li><strong>Fiyi</strong> ha publicado su <strong>Propuesta de Presupuesto del Ejecutivo</strong> para el año fiscal 2015. Anteriormente, <strong>Fiyi</strong> había elaborado la Propuesta de Presupuesto del Ejecutivo pero no la había puesto a disposición del público.</li>
<li><strong>Kenia</strong> ha publicado un <strong>Informe de fin de año</strong> para el año fiscal 2013/14. Anteriormente, Kenia había elaborado el Informe de fin de año pero no la había puesto a disposición del público.</li>
</ul>

<p>Trabajo por hacer:</p>

<ul>
<li><strong>Fiyi elaboró un Documento Preliminar para el año fiscal 2015, pero no lo puso a disposición del</strong> público. <strong>Esto representa un retroceso, ya que Fiyi ya había puesto el Documento Preliminar a disposición del público en años anteriores.</strong></li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>Muchos de los países incluidos en la herramienta de seguimiento OBS Tracker están en la etapa de formulación del presupuesto. Seguiremos de cerca este proceso para las <strong>Propuestas de Presupuesto del Ejecutivo</strong> del año fiscal 2015, junto con los correspondientes <strong>Presupuestos ciudadanos</strong>.</li>
<li>Las Propuestas de Presupuesto del Ejecutivo para el año fiscal 2015 han sido publicadas en 20 países. Esto significa que aún hay seis países que deben publicar este documento de suma importancia para el año fiscal que comienza el 1° de enero de 2015.</li>
<li>De estos seis países, <strong>Bolivia</strong>, <strong>Irak</strong>, <strong>Palestina</strong> y <strong>Vietnam</strong> han elaborado una Propuesta de Presupuesto del Ejecutivo para el año fiscal 2014 pero no la pusieron a disposición del público. <strong>Níger</strong> y <strong>Nigeria</strong> pusieron sus Propuestas de Presupuesto del Ejecutivo a disposición del público en el año fiscal 2014.</li>
<li>En los próximos meses, también vigilaremos los <strong>Presupuestos aprobados</strong> y los <strong>Presupuestos ciudadanos</strong> para el año fiscal 2015.</li>
</ul>

<p>Ingrese a <a href="http://www.obstracker.org">www.obstracker.org</a> y haga clic en el país o los países de su interés para saber cuándo debe presentar los documentos presupuestarios. Todos los documentos a disposición del público pueden ser consultados en la <a href="http://www.openbudgetlibrary.org">Biblioteca de Presupuesto Abierto</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
