{% extends "../../layout.html" %}

{% block page_title %}Actualización de agosto{% endblock %}

{% block content %}
<h1>¡Conozca las actualizaciones de la Herramienta de Seguimiento de Presupuesto Abierto disponibles del mes de agosto!</h1>

<h2>Se espera la publicación de más documentos en los próximos meses</h2>

<p>El 11 de septiembre, el IBP lanzó la Herramienta de Seguimiento de la Encuesta de Presupuesto Abierto (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>), una herramienta en línea que le permite a los ciudadanos, a la sociedad civil, a los medios y a otras personas y organizaciones monitorear en tiempo real si los gobiernos centrales están publicando la información requerida sobre cómo el gobierno administra las finanzas públicas. Desde entonces, la Herramienta de Seguimiento ha registrado sus primeros cambios, que se destacan debajo.</p>

<p><strong>Los documentos presupuestarios registrados en agosto de 2014 incluyen:</strong></p>

<ul>
<li>Se publicaron 24 documentos presupuestarios de 18 países diferentes. 22 de esos documentos ya habían sido publicado en el periodo presupuestario anterior.</li>
<li>Los documentos publicados incluyen 13 informes entregados durante el año en forma trimestral o mensual, 5 informes de fin de año y nuestras dos primeras propuestas de presupuesto del ejecutivo para el año fiscal 2015 de la República de Kirguistán y las Filipinas.</li>
<li>Una nueva Revisión de mitad de año (en el año presupuestario anterior no lo había preparado) de Nigeria, junto con el Informe de fin de año del país (el Informe de fin de año del periodo anterior había sido preparado por el gobierno para uso interno únicamente).</li>
</ul>

<p>Para muchos países, septiembre es un mes importante en el ciclo presupuestario, ya que marca el inicio de la etapa de formulación del presupuesto.</p>

<p><strong>Esperamos informar de la publicación de nuevos documentos en los próximos meses, entre ellos:</strong></p>

<ul>
<li>Documentos preliminares;</li>
<li>Propuestas de Presupuesto del Ejecutivo;</li>
<li>Presupuestos aprobados; y</li>
<li>Revisiones de mitad de año (esto se debe a que muchos países, incluso Ecuador y Myanmar, ya han preparado el documento pero no lo han puesto a disposición del público).</li>
</ul>

<p>Para conocer la disponibilidad de estos documentos, ingrese a la <a href="http://www.obstracker.org/">página de inicio de la Herramienta de Seguimiento OBS Tracker</a>, haga clic en un país y visualice la columna “Siguiente periodo de publicación”.</p>

<p>Los gobiernos de los 30 países que forman parte de la Herramienta de Seguimiento OBS Tracker han publicado 148 de los 240 documentos presupuestarios que monitoreamos (ocho documentos por país). Esto representa un leve aumento de los 146 documentos presupuestarios que fueron publicados en julio de 2014. Si bien esta mejora en las prácticas de divulgación es bienvenida, aún quedan 92 documentos presupuestarios sin publicar, y 35 de ellos están disponibles para uso interno únicamente. Puede visualizar todos los documentos publicados en la biblioteca de documentos presupuestarios, ingresando a <a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>.</p>

<p>Para obtener más información sobre la metodología de la Herramienta de Seguimiento de la Encuesta de Presupuesto Abierto, consulte la <a href="http://www.obstracker.org/pdfs/sept_2014_obstracker_report_es.pdf">Guía de la Herramienta de Seguimiento de la Encuesta de Presupuesto Abierto</a> y asegúrese de consultar este espacio para conocer las actualizaciones en el futuro.</p>
{% endblock %}
