{% extends "../../layout.html" %}

{% block page_title %}Actualización de diciembre{% endblock %}

{% block content %}
<h1>¡Conozca las actualizaciones de la Herramienta de Seguimiento de Presupuesto Abierto disponibles del mes de diciembre!</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">240 documentos presupuestarios evaluados en los 30 países</a>, en la actualidad se han publicado un total de 153 documentos. Esto representa un aumento de un documento en el último mes.</li>
<li>De los 87 documentos que no están a disposición del público, 34 fueron elaborados pero no fueron publicados; y 53 no fueron elaborados.</li>
<li>En el mes de noviembre se publicaron 23 documentos presupuestarios de 17 países diferentes. Esto incluye 11 informes entregados durante el año, 5 presupuestos aprobados, 5 informes de fin de año y dos informes de auditoría. Estos documentos pueden ser consultados en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Actualización de idiomas</h2>

<ul>
<li>El sitio web de la Herramienta de Seguimiento de Presupuesto Abierto está ahora disponible en cinco idiomas: <strong>árabe</strong>, <strong>inglés</strong>, <strong>francés</strong>, <strong>ruso</strong> y <strong>español</strong>. Puede tener <a href="http://www.obstracker.org/">acceso a estos idiomas</a> haciendo clic en el nombre del idioma, en el extremo superior derecho de la página.</li>
</ul>

<h2>Avances</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Niger">Níger</a> ha publicado su <strong>Informe de auditoría</strong> para el año fiscal 2013. Para el año fiscal anterior, Níger no había producido un informe de auditoría.</li>
<li><a href="http://www.obstracker.org/country/Tanzania">Tanzania</a> ha publicado un <strong>Informe de fin de año</strong> para el año fiscal 2013/14. Para el año fiscal anterior, Tanzania no había producido un Informe de fin de año.</li>
</ul>

<h2>Trabajo por hacer</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Fiji">Fiyi</a> no publicó un <strong>Informe de fin de año</strong> para el año fiscal 2013. Anteriormente, Fiyi había publicado el Informe de fin de año.</li>
<li><a href="http://www.obstracker.org/country/Iraq">Irak</a> continúa restringiendo su Propuesta de presupuesto del ejecutivo a uso interno solamente. A fines de diciembre del año pasado, el gobierno divulgó algo de información sobre la propuesta en el periódico <em>Al Sabaah</em>. Aunque no cumple con los estándares internacionales de publicación de una Propuesta de presupuesto del ejecutivo, es un pequeño avance en la dirección correcta.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>Continuamos esperando que se publiquen <strong>Presupuestos aprobados</strong> en el año fiscal 2015. Una vez que la legislatura apruebe el Presupuesto aprobado, los gobiernos tienen tres meses para publicarlo.</li>
<li>También continuamos esperando <strong>Presupuestos ciudadanos</strong> para el año fiscal 2015. Se espera que los Presupuestos ciudadanos se publiquen al mismo tiempo que los documentos en los que se basan.</li>
</ul>

<p>Asegúrese de visitar <a href="http://www.obstracker.org/">www.obstracker.org</a> para consultar las fechas límite de publicación de los documentos presupuestarios en el país que sea de su interés.</p>

<p>Todos los documentos a disposición del público pueden ser consultados en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
