{% extends "../../layout.html" %}

{% block page_title %}Actualización de septiembre{% endblock %}

{% block content %}
<h1>¡Conozca las actualizaciones de la Herramienta de Seguimiento de Presupuesto Abierto disponibles del mes de septiembre!</h1>

<p>La Herramienta de seguimiento de la Encuesta de Presupuesto Abierto (OBS Tracker, www.obstracker.org) verifica si los gobiernos centrales de 30 países publica a tiempo cada uno de los ocho documentos presupuestarios clave en virtud de las normas internacionales. Utilizando los datos recopilados por expertos en presupuesto independientes en los 30 países, la herramienta de seguimiento OBS Tracker verifica en tiempo real información sobre:</p>

<ul>
<li>qué documentos presupuestarios han sido publicados;</li>
<li>qué documentos han sido elaborados pero no han sido publicados; y</li>
<li>qué documentos no han sido elaborados.</li>
</ul>

<p>Todos los documentos a disposición del público pueden ser consultados en la <a href="http://www.openbudgetlibrary.org">Biblioteca de Presupuesto Abierto</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>

<p>Consulte la última información del OBS Tracker, noticias del equipo y a qué debe estar atento en los próximos meses.</p>

<h2>Actualizaciones de datos</h2>

<p>Información general:</p>

<ul>
<li>De los 240 documentos evaluados en los 30 países por la herramienta de seguimiento OBS Tracker, en la actualidad se han publicado un total de 150 documentos presupuestarios. Esto representa un aumento neto de dos documentos en el último mes.</li>
<li>De los 90 documentos que no están a disposición del público, 35 fueron elaborados pero no fueron publicados; y 55 no fueron elaborados.</li>
<li>En el mes de septiembre se publicaron 24 documentos presupuestarios de 16 países diferentes. Esto incluye 16 informes entregados durante el año, tres propuestas de presupuesto del ejecutivo, un presupuesto aprobado, tres revisiones de mitad de año y un informe de fin de año.</li>
</ul>

<p>Cambios positivos:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">Ecuador</a> ha publicado su <strong>Revisión de mitad de año</strong> para el año fiscal 2014. Anteriormente, Ecuador había elaborado una Revisión de mitad de año pero no la había puesto a disposición del público.</li>
<li><a href="http://www.obstracker.org/country/Sierra%20Leone">Sierra Leona</a> ha publicado su <strong>Revisión de mitad de año</strong> para el año fiscal 2014. Anteriormente, Sierra Leona había elaborado una Revisión de mitad de año pero no la había puesto a disposición del público.</li>
<li><a href="http://www.obstracker.org/country/Senegal">Senegal</a> ha publicado un <strong>Informe de fin de año</strong> para el año fiscal 2013. Anteriormente, Senegal ha ni siquiera había preparado un Informe de fin de año.</li>
</ul>

<p>Trabajo por hacer:</p>

<ul>
<li><a href="http://www.obstracker.org/country/Nicaragua">Nicaragua</a> y <a href="http://www.obstracker.org/country/C%C3%B4te%20d%E2%80%99Ivoire">Costa de Marfil</a> han preparado una <strong>Revisión de mitad de año</strong> para el año fiscal 2014 pero no los han puesto a disposición del público.</li>
<li><a href="http://www.obstracker.org/country/Tanzania">Tanzania</a> y <a href="http://www.obstracker.org/country/Timor-Leste">Timor-Leste</a> no han publicado sus últimos <strong>Informes entregados durante el año</strong> en forma oportuna.</li>
</ul>

<h2>Últimas noticias</h2>

<p>En septiembre, el personal del IBP brindó apoyo en campo a sus socios en <a href="http://www.laprensa.com.ni/2014/10/02/economia/213937-presupuesto-claro-mejorara-riesgo-pais-nicaragua-con-bajo-puntaje-en-indice-de-presupuesto-abierto">Nicaragua</a> y <a href="http://bizlive.vn/kinh-te-dau-tu/co-bat-thuong-khi-cong-khai-ngan-sach-viet-nam-xep-vao-nhom-cuoi-494026.html">Vietnam</a>.</p>

<h2>El mes que viene</h2>

<ul>
<li>Un grupo de países incluidos en la herramienta de seguimiento OBS Tracker están ingresando en la etapa de formulación de sus ciclos presupuestarios. Esto significa que en los próximos meses estaremos atentos a la versión publicada de los siguientes documentos: Documentos preliminares, Propuestas de Presupuesto del Ejecutivo, Presupuestos aprobados y Presupuestos ciudadanos.</li>
<li>Las Propuestas de Presupuesto del Ejecutivo corresponden a <strong>Bolivia</strong>, <strong>Costa de Marfil</strong> y <strong>Fiji</strong>. Estos documentos son preparados en cada uno de estos países pero hasta el momento no han estado a disposición del público.</li>
</ul>

<p>Ingrese a <a href="http://www.obstracker.org">www.obstracker.org</a> y haga clic en el país para saber cuándo debe presentar los documentos presupuestarios.</p>
{% endblock %}
