{% extends "../../layout.html" %}

{% block page_title %}Actualización de marzo{% endblock %}

{% block content %}
<h1>¡Conozca las actualizaciones del mes de marzo de la Herramienta de Seguimiento de la Encuesta de Presupuesto Abierto!</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">240 documentos presupuestarios evaluados en los 30 países</a>, en la actualidad, se han publicado un total de 142 documentos. Esto representa una disminución de 7 respecto del último mes.</li>
<li>De los 98 documentos que no están a disposición del público, 39 fueron elaborados pero no se publicaron; y 59 no fueron elaborados o se publicaron en forma tardía.</li>
<li>En marzo, se publicaron 21 documentos presupuestarios de 15 países diferentes. Esto incluye 13 informes entregados durante el año, 1 documento preliminar, 1 presupuesto aprobado, 3 presupuestos ciudadanos, 2 informes de fin de año y 1 informe de auditoría. Estos documentos están disponibles en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Avances</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Egypt">Egipto</a> publicó su <strong>documento preliminar</strong> para el año fiscal 2015-2016. Anteriormente, Egipto no publicaba un documento preliminar, el cual ofrece detalles importantes sobre las presunciones macroeconómicas que el gobierno utiliza para establecer políticas.</li>
<li><a href="http://www.obstracker.org/status/Niger">Níger</a> publicó un <strong>presupuesto ciudadano</strong> para 2015. Este es el primer presupuesto ciudadano que Níger produce, y el cuarto documento presupuestario que el gobierno publica desde que se lanzó la Herramienta de seguimiento de la Encuesta de Presupuesto Abierto.</li>
</ul>

<h2>Trabajo por hacer</h2>

<ul>
<li>Ni la <a href="http://www.obstracker.org/status/Dominican%20Republic">República Dominicana</a> ni <a href="http://www.obstracker.org/status/Nicaragua">Nicaragua</a> publicaron un <strong>informe entregado durante el año</strong> para el cuarto trimestre de 2014 antes del plazo límite del 31 de marzo de 2015. En años anteriores, ambos gobiernos habían publicado informes entregados durante el año para el cuarto trimestre, con datos del año completo, demasiado tarde para que se los considerara a disposición del público.</li>
<li><a href="http://www.obstracker.org/status/Fiji">Fiyi</a> y <a href="http://www.obstracker.org/status/Ghana">Ghana</a> no han publicado su <strong>presupuesto aprobado</strong> para 2015, incluso aunque ya han pasado más de tres meses desde que la legislatura aprobó la propuesta de presupuesto del ejecutivo. Esto representa un paso hacia atrás en la transparencia, ya que la ley presupuestaria para 2015 no está a disposición del público.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>El gobierno de <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> aún no ha puesto a disposición del público la <strong>propuesta de presupuesto del ejecutivo</strong> para 2015, a pesar de que ya la presentó ante la Asamblea nacional. Dado que el presupuesto no se ha aprobado aún, ahora es el momento para que el gobierno publique el documento.</li>
<li>El <strong>informe de auditoría</strong> para 2013-2014 de <a href="http://www.obstracker.org/status/Tanzania">Tanzania</a> se completó y se envió al ejecutivo, pero aún no se ha publicado. El gobierno tiene hasta el 31 de diciembre para publicar este documento.</li>
</ul>

<h2>Actualizaciones</h2>

<ul>
<li>La página de estado actual de cada país ahora <a href="http://www.obstracker.org/status/Niger">incluye comentarios para ciertos documentos</a>. Estos comentarios brindan información adicional sobre los documentos y solo están disponibles en inglés o en el idioma de origen o del investigador.</li>
</ul>

<p>Todos los documentos que están a disposición del público pueden consultarse en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
