{% extends "../../layout.html" %}

{% block page_title %}Actualización de febrero{% endblock %}

{% block content %}
<h1>¡Actualizaciones de febrero de OBS Tracker ahora disponibles!</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">240 documentos del presupuesto controlados en los 30 países</a>, se publicó un total de 149. Esto representa una mejora de un documento en el último mes.</li>
<li>De los 91 documentos que no están a disposición del público, 34 fueron elaborados pero no fueron publicados; y 57 no fueron elaborados o fueron publicados tarde.</li>
<li>
En febrero se publicó un total de 19 documentos del presupuesto de 15 diferentes países. Esto incluye 13 informes entregados durante el año, tres presupuestos aprobados, dos presupuestos del ciudadano y un informe de fin de año. Estos documentos están todos disponibles en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Avances</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">Bolivia</a> publicó un <strong>informe entregado durante el año</strong> para noviembre de 2014. Se trata de un regreso a la práctica pasada para Bolivia ya que, con excepción del informe que cubre octubre de 2014, el gobierno ha <a href="http://www.obstracker.org/country/Bolivia">publicado</a> de forma consistente informes entregados durante el año.</li>
<li><a href="http://www.obstracker.org/status/Iraq">Iraq</a> publicó el <strong>presupuesto aprobado</strong> para 2015. Esto representa una mejora. En 2014, Iraq no aprobó el presupuesto y utilizó el presupuesto aprobado de 2013. Este año, Iraq aprobó y publicó el presupuesto aprobado.</li>
<li><a href="http://www.obstracker.org/status/Niger">Níger</a> publicó el <strong>presupuesto aprobado</strong> para 2015. Se trata de una mejora ya que el presupuesto aprobado anterior de Nigeria se elaboró solamente para uso interno.</li>
</ul>

<h2>Trabajo por hacer</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Sierra%20Leone">Sierra Leona</a> no ha elaborado un <strong>informe de fin de año</strong> para 2013. Los informes de fin de año son importantes porque consolidan los gastos e ingresos de todo el año en relación con el presupuesto aprobado original.  Para el año fiscal anterior, Sierra Leona había producido un Informe de fin de año.</li>
<li><a href="http://www.obstracker.org/status/Timor-Leste">Timor-Leste</a> ha elaborado un informe entregado durante el año para el cuarto trimestre de 2014 pero no se encuentra a disposición del público. Los Informes entregados durante el año son importantes porque ofrecen una instantánea de la implementación del presupuesto y las tendencias en los ingresos y los gastos. El gobierno de Timor-Leste tiene hasta fin de mayo para poner a disposición del público el informe entregado durante el año para el cuarto trimestre de 2014.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>El gobierno de <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> aún no a puesto a disposición del público la Propuesta de presupuesto del ejecutivo para 2015, a pesar de haberla presentado ante la Asamblea nacional. Como el presupuesto aún no ha sido aprobado, el gobierno debería poner este documento a disposición del público con urgencia.</li>
</ul>

<h2>Actualizaciones</h2>

<ul>
<li>Las <a href="http://www.obstracker.org/country/Egypt">páginas de información histórica</a> en el sitio web de OBS Tracker recientemente han sufrido una actualización. Estas páginas permiten a los usuarios seguir la disponibilidad de los ocho documentos presupuestarios clave a lo largo del tiempo. Visítelas haciendo clic en “Ver información histórica” en la página de cada país.</li>
<li>Visite la <a href="http://www.obstracker.org/press">Sala de prensa de OBS Tracker</a> para mantenerse actualizado sobre las últimas noticias, incluidas entrevistas con socios de OBS Tracker, así como editoriales, artículos de noticias y más.</li>
</ul>

<p>Asegúrese de visitar <a href="http://www.obstracker.org/">www.obstracker.org</a> para consultar las fechas límite de publicación de los documentos presupuestarios en el país que sea de su interés.</p>

<p>Todos los documentos a disposición del público pueden ser consultados en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
