{% extends "../../layout.html" %}

{% block page_title %}Actualización de junio{% endblock %}

{% block content %}
<h1>Actualización de junio de 2015 sobre la Herramienta de seguimiento de la Encuesta de Presupuesto Abierto</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">232 documentos presupuestarios evaluados en los 29 países</a>, en la actualidad, se han publicado un total de 143 documentos. Esto representa un aumento neto de 2 respecto del último mes.</li>
<li>De los 89 documentos que no están a disposición del público, 37 fueron elaborados pero no fueron publicados, 9 se publicaron tarde y 43 no fueron elaborados.</li>
<li>En junio, se publicaron 16 documentos presupuestarios de 14 países diferentes. Esto incluye 4 Documentos preliminares, 11 Informes entregados durante el año y 1 Informe de fin de año. Estos documentos están disponibles en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Avances</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/Mali">Mali</a> ha publicado su <strong>Informe entregado durante el año</strong> para el primer trimestre de 2015.  Mali había publicado el informe anterior demasiado tarde para que se lo considere a disposición del público.</li>
  <li><a href="http://www.obstracker.org/status/Senegal">Senegal</a> ha publicado su <strong>Informe de auditoría</strong> para 2013. El Informe de auditoría del año fiscal anterior se había publicado muy tarde para que se lo considere a disposición del público.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
  <li>Para los países cuyo año fiscal se extiende de enero a diciembre, las <strong>Revisiones de mitad de año</strong> para 2015 deberían publicarse el próximo mes, junto con los <strong>Documentos preliminares</strong> para 2016.</li>
</ul>

<p>Todos los documentos que están a disposición del público pueden consultarse en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
