{% extends "../../layout.html" %}

{% block page_title %}Actualización de abril{% endblock %}

{% block content %}
<h1>Actualización de abril de 2015 sobre la Herramienta de seguimiento de la Encuesta de Presupuesto Abierto</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">240 documentos presupuestarios evaluados en los 30 países</a>, en la actualidad, se han publicado un total de 140 documentos. Esto representa una disminución neta de 2 respecto del último mes.</li>
<li>De los 100 documentos que no están a disposición del público, 38 fueron elaborados pero no fueron publicados, 12 se publicaron tarde y 50 no fueron elaborados.</li>
<li>En abril, se publicaron 25 documentos presupuestarios de 20 países diferentes. Esto incluye 16 Informes entregados durante el año, 1 Documento preliminar, 1 Propuesta de presupuesto del ejecutivo, 1 Presupuesto ciudadano, 1 Presupuesto aprobado y 5 Informes de fin de año. Estos documentos están disponibles en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Trabajo por hacer</h2>

<ul>
<li>El gobierno de <a href="http://www.obstracker.org/status/Mali">Mali</a> publicó el <strong>Informe entregado durante el año</strong> para el cuarto trimestre de 2014 en abril, lo cual es demasiado tarde para que se lo considere a disposición del público. Los Informes entregados durante el año coherentes y oportunos son fundamentales para monitorear las finanzas del gobierno.</li>
<li>El gobierno de <a href="http://www.obstracker.org/status/Timor-Leste">Timor Oriental</a> no elaboró un <strong>Presupuesto ciudadano</strong> para 2015. Este país había publicado anteriormente dicho documento para el año fiscal anterior.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>El gobierno de <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> aún no ha puesto a disposición del público la <strong>Propuesta de presupuesto del ejecutivo</strong> para 2015, a pesar de que ya la presentó ante la Asamblea nacional. El gobierno tiene tiempo hasta que se apruebe el presupuesto para poner este documento a disposición del público.</li>
<li>El <strong>Informe de auditoría</strong> de <a href="http://www.obstracker.org/status/Tanzania">Tanzania</a> para 2013-2014 ha sido completado y enviado al Ejecutivo, pero aún no se ha publicado. El gobierno tiene hasta el 31 de diciembre para publicar este documento.</li>
</ul>

<h2>Actualizaciones</h2>

<ul>
<li>La página de estado actual de cada país ahora <a href="http://www.obstracker.org/status/Niger">incluye comentarios para ciertos documentos</a>. Estos comentarios brindan información adicional sobre los documentos y solo están disponibles en inglés o en el idioma de origen o del investigador.</li>
</ul>

<p>Todos los documentos que están a disposición del público pueden consultarse en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
