{% extends "../../layout.html" %}

{% block page_title %}Actualización de mayo de 2015 sobre la Herramienta de seguimiento de la Encuesta de Presupuesto Abierto{% endblock %}

{% block content %}
<h1>Actualización de mayo de 2015 sobre la Herramienta de seguimiento de la Encuesta de Presupuesto Abierto</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">240 documentos presupuestarios evaluados en los 30 países</a>, en la actualidad, se han publicado un total de 147 documentos. Esto representa un aumento neto de 7 respecto del último mes.</li>
<li>De los 94 documentos que no están a disposición del público, 37 fueron elaborados pero no fueron publicados, 10 se publicaron tarde y 46 no fueron elaborados.</li>
<li>En mayo, se publicaron 29 documentos presupuestarios de 23 países diferentes. Esto incluye 2 Documentos preliminares, 2 Propuestas de presupuesto del ejecutivo, 2 Presupuestos aprobados, 18 Informes entregados durante el año, 2 Informes de fin de año y 3 Informes de auditoría. Estos documentos están disponibles en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Avances</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">Bolivia</a>, la <a href="http://www.obstracker.org/status/Dominican%20Republic">República Dominicana</a>, <a href="http://www.obstracker.org/status/Ecuador">Ecuador</a>, <a href="http://www.obstracker.org/status/Ghana">Ghana</a>, <a href="http://www.obstracker.org/status/Iraq">Iraq</a>, <a href="http://www.obstracker.org/status/Nicaragua">Nicaragua</a> y <a href="http://www.obstracker.org/status/Niger">Níger</a> publicaron <strong>Informes entregados durante el año</strong>, documento que en períodos anteriores de monitoreo no habían publicado.</li>
<li><a href="http://www.obstracker.org/status/Tanzania">Tanzania</a> ha publicado su <strong>Informe de auditoría</strong> para 2013/2014. Anteriormente, este informe fue producido solo para uso interno, ya que había sido completado y presentado ante el ejecutivo, pero no se había publicado.</li>
</ul>

<h2>Trabajo por hacer</h2>

<ul>
<li>El gobierno de la <a href="http://www.obstracker.org/status/Dem.%20Rep.%20of%20Congo">República Democrática del Congo</a> ha producido <strong>Informes entregados durante el año</strong> para abril y mayo de 2015, pero no los ha publicado aún. Los Informes entregados durante el año coherentes y oportunos son fundamentales para monitorear las finanzas del gobierno.</li>
<li>El gobierno de <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> no publicó la <strong>Propuesta de presupuesto del ejecutivo</strong> para 2015 antes de que el presupuesto se convirtiera en ley. La Propuesta de presupuesto del ejecutivo es uno de los documentos presupuestarios más importantes, dado que a través de él los gobiernos convierten gran parte de los objetivos clave de las políticas en acciones. Si la sociedad civil desea tener alguna posibilidad de influir sobre el diseño y la implementación de políticas, el público debe tener acceso a información sobre lo que el gobierno pretende gastar en estas áreas, así como la manera en la que pretende financiar sus actividades antes de que el presupuesto se convierta en ley.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>Los <strong>Informes de auditoría</strong> para 2013 deben presentarse a fines de junio para los países cuyos años fiscales se extienden de enero a diciembre. Entre ellos, se encuentran <a href="http://www.obstracker.org/status/Bolivia">Bolivia</a>, <a href="http://www.obstracker.org/status/El%20Salvador">El Salvador</a>, <a href="http://www.obstracker.org/status/Senegal">Senegal</a> y <a href="http://www.obstracker.org/status/Vietnam">Vietnam</a>.</li>
<li>Se espera que la <strong>Propuesta de presupuesto del ejecutivo</strong> de <a href="http://www.obstracker.org/status/Egypt">Egipto</a> para 2015/2016 se publique el próximo mes. Para el año fiscal anterior, Egipto publicó su Propuesta de presupuesto del ejecutivo muy tarde para que se la considere a disposición del público.</li>
</ul>

<h2>Actualizaciones</h2>

<ul>
<li>La página de estado actual de cada país ahora <a href="http://www.obstracker.org/status/Niger">incluye comentarios para ciertos documentos</a>. Estos comentarios brindan información adicional sobre los documentos y solo están disponibles en inglés o en el idioma de origen o del investigador.</li>
</ul>

<p>Todos los documentos que están a disposición del público pueden consultarse en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
