{% extends "../../layout.html" %}

{% block page_title %}Actualización de enero{% endblock %}

{% block content %}
<h1>Actualización de enero</h1>

<h2>Información general</h2>

<ul>
<li>De los <a href="http://www.obstracker.org/">240 documentos presupuestarios evaluados en 30 países</a>, en la actualidad se han publicado un total de 149 documentos.</li>
<li>De los 91 documentos que no se publicaron: 34 se produjeron pero no se publicaron y 57 no se produjeron o se publicaron tarde.</li>

<li>En enero, se publicaron 26 documentos presupuestarios de 18 países diferentes. Entre ellos, se incluyen ocho Informes entregados durante el año, 11 Presupuestos aprobados, cinco Presupuestos ciudadanos y dos Documentos preliminares. Estos documentos están todos disponibles en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> del IBP.</li>
</ul>

<h2>Actualización de idiomas</h2>

<ul>
<li>El sitio web de la Herramienta de Seguimiento de Presupuesto Abierto está ahora disponible en cinco idiomas: <a href="http://www.obstracker.org/?locale=ar">árabe</a>, <a href="http://www.obstracker.org/?locale=en">inglés</a>, <a href="http://www.obstracker.org/?locale=fr">francés</a>, <a href="http://www.obstracker.org/?locale=ru">ruso</a> y <a href="http://www.obstracker.org/?locale=es">español</a>.</li>
</ul>
 
<h2>Avances</h2>

<p>No se ha registrado progreso por parte de los países de la herramienta de seguimiento este mes.</p>

<h2>Trabajo por hacer</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">Ecuador</a> y <a href="http://www.obstracker.org/country/Bolivia">Bolivia</a> no produjeron <strong>Informes entregados durante el año</strong> para el período más reciente, a pesar de que los publicaron anteriormente. Los Informes entregados durante el año son importantes porque ofrecen una instantánea de la implementación del presupuesto y las tendencias en los ingresos y los gastos.</li>
<li>En forma similar, <a href="http://www.obstracker.org/country/Armenia">Armenia</a> no produjo el <strong>Informe entregado durante el año</strong> para el cuarto trimestre, después de haberlo producido en forma constante durante el primer, segundo y tercer trimestre.</li>
<li><a href="http://www.obstracker.org/country/Myanmar">Myanmar</a> continúa restringiendo su Propuesta de presupuesto del ejecutivo a uso interno solamente. En enero, sin embargo, el gobierno publicó algunas tablas de la propuesta en dos periódicos. Aunque esto no cumple con los estándares internacionales de publicación de la Propuesta de presupuesto del ejecutivo, es un paso en la dirección correcta.</li>
</ul>

<h2>El mes que viene</h2>

<ul>
<li>El gobierno de <a href="http://www.obstracker.org/country/Nigeria">Nigeria</a>ha presentado la Propuesta de presupuesto del ejecutivo para 2015 ante la Asamblea nacional, pero no la ha puesto a disposición del público. Dado que el presupuesto no se ha aprobado aún, ahora es el momento para que el gobierno publique el documento.</li>
<li>El presupuesto de <a href="http://www.obstracker.org/country/Niger">Níger</a> para 2015 ya se ha aprobado, pero aún no se ha puesto a disposición del público. Los estándares internacionales exigen que el Presupuesto aprobado se ponga a disposición del público dentro de los tres meses anteriores a ser aprobado, de modo que ahora es el momento para que el gobierno publique el Presupuesto aprobado.</li>
<li>El próximo mes, también será la última oportunidad para que muchos países, como <a href="http://www.obstracker.org/country/Ecuador">Ecuador</a>, pongan su Informe entregado durante el año para el cuarto trimestre de 2014 a disposición del público.</li>
</ul>

<p>Asegúrese de visitar <a href="http://www.obstracker.org/">www.obstracker.org</a> para consultar las fechas límite de publicación de los documentos presupuestarios en el país que sea de su interés. Todos los documentos a disposición del público pueden ser consultados en la <a href="http://www.openbudgetlibrary.org/">Biblioteca de Presupuesto Abierto</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
