<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Budget Survey Data</title>

  <link rel="stylesheet" href="include/bootstrap.min.css"/>
  <link rel="stylesheet" href="include/budgetdata.css"/>
  <!-- Google hosted jQuery core -->
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	
	<script src="include/spin.min.js"></script>
	<script src="include/jquery.spin.js"></script>
	<script src="include/budgetdata.js"></script>
</head>
<body>
    <header>
      <div class="container">
        <h1><a href="/">{{ page.title }}</a></h1>
      </div>
    </header>
    <section>
      <div class="container">
        {{ content }}
      </div>
    </section>
  </div>
</body>
</html>
