{% extends "../../layout.html" %}

{% block page_title %}تحديث سبتمبر{% endblock %}

{% block content %}
<h1>تحديثات شهر سبتمبر من برنامج تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>

<p>يراقب <a href="http://www.obstracker.org">موقع تتبع مسح الموازنة المفتوحة</a> (والذي يطلق عليه بالإنجليزية اسم OBS Tracker، وهو متاح في الموقع <a href="http://www.obstracker.org">www.obstracker.org</a>) ما إذا كانت الحكومات المركزية في 30 دولة تقوم بنشر كل وثائق الموازنة الثمانية الرئيسية في الوقت المناسب وفقًا للمعايير الدولية أم لا. ومن خلال استخدام البيانات التي يتم تجميعها من خلال خبراء الموازنة المستقلين في 30 دولة، يوفر موقع تتبع مسح الموازنة المفتوحة تقارير في الوقت الفعلي حول ما يلي:</p>

<ul>
<li>وثائق الموازنة التي تم نشرها، و</li>
<li>الوثائق التي تم إنتاجها ولكن لم يتم نشرها، و</li>
<li>الوثائق التي لم يتم إنتاجها على الإطلاق.</li>
</ul>

<p>يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org">مكتبة الموازنة المفتوحة</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>

<p>اطلع على أحدث بيانات وأخبار برنامج تتبع مسح الموازنة المفتوحة من فريق العمل وما يمكن انتظاره خلال الشهور القادمة.</p>

<h2>تحديثات البيانات</h2>

<p>نظرة عامة:</p>

<ul>
<li>من بين 240 وثيقة تمت مراقبتها بين كل الدول التي عددها 30 دولة من خلال برنامج تتبع مسح الموازنة المفتوحة، تم نشر ما إجماليه 150 وثيقة من وثائق الموازنة حاليًا. وتمثل تلك زيادة صافية بمقدار الضعف عن الشهر الماضي.</li>
<li>من بين الـ 90 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 35 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 55 وثيقة على الإطلاق.</li>
<li>تم نشر 24 وثيقة من وثائق الموازنة من 16 دولة مختلفة في شهر سبتمبر. ويشتمل ذلك على 16 تقريرًا دوريًا، و3 مقترحات من مقترحات الموازنة للسلطة التنفيذية، وموازنة مقررة واحدة، وثلاث مراجعات منتصف العام، وتقرير واحد لنهاية العام.</li>
</ul>

<p>النقاط الهامة الإيجابية:</p>

<ul>
<li>قامت <a href="http://www.obstracker.org/country/Ecuador">الإكوادور</a> بنشر مراجعة منتصف العام الخاصة بها للعام المالي (FY) 2014. في السابق، كانت الإكوادور قد قامت بإنتاج مراجعة منتصف العام إلا أنها لم تقم بإتاحتها للعامة.</li>
<li>قامت <a href="http://www.obstracker.org/country/Sierra%20Leone">سيراليون</a> بنشر مراجعة منتصف العام الخاصة بها للعام المالي (FY) 2014. في السابق، كانت سيراليون قد قامت بإنتاج مراجعة منتصف العام إلا أنها لم تقم بإتاحتها للعامة.</li>
<li>قامت <a href="http://www.obstracker.org/country/Senegal">السنغال</a> بنشر تقرير نهاية العام للعام المالي 2013. في الماضي، لم تكن السنغال قد قامت حتى بإنتاج تقرير نهاية العام.</li>
</ul>

<p>العمل الذي يجري تنفيذه:</p>
<ul>
<li>قامت <a href="http://www.obstracker.org/country/Nicaragua">نيكاراجوا</a> و<a href="http://www.obstracker.org/country/Côte%20d’Ivoire">كوت ديفوار</a> بإنتاج مراجعة منتصف العام للعام المالي 2014، إلا أنها لم تقوما بإتاحة تلك المراجعة للعامة.</li>
<li>فشلت <a href="http://www.obstracker.org/country/Tanzania">تنزانيا</a> و<a href="http://www.obstracker.org/country/Timor-Leste">تيمور ليستي</a> في نشر أحدث التقارير الدورية الخاصة بها في الوقت المناسب.</li>
</ul>

<h2>أحدث الأخبار</h2>

<p>في شهر سبتمبر، قام فريق العمل في شراكة الموازنة الدولية بتوفير دعم على أرض الواقع في <a href="http://www.laprensa.com.ni/2014/10/02/economia/213937-presupuesto-claro-mejorara-riesgo-pais-nicaragua-con-bajo-puntaje-en-indice-de-presupuesto-abierto">نيكاراجوا</a> و<a href="http://bizlive.vn/kinh-te-dau-tu/co-bat-thuong-khi-cong-khai-ngan-sach-viet-nam-xep-vao-nhom-cuoi-494026.html">فيتنام</a>.</p>

<h2>الشهر القادم</h2>

<ul>
<li>يجري حاليًا إشراك مجموعة من الدول المضمنة في برنامج تتبع مسح الموازنة المفتوحة في مرحلة تكوين الموازنة بدورات الموازنة الخاصة بها. وهذا يعني أنه على مدار الشهور العديد القادمة، من المتوقع أن يتم إصدار نسخ منشورة مما يلي: بيانات تمهيدية للموازنة؛ ومقترحات الموازنة التنفيذية؛ وموازنات مقررة؛ وموازنات المواطنين.</li>
<li>مقترحات الموازنة للسلطة التنفيذية واجبة النشر لبوليفيا وكوت ديفوار وفيجي. يتم إنتاج هذه الوثائق في كل دولة من هذه الدول إلا أنه لم تتم إتاحتها للعامة بعد.</li>
</ul>

<p>تحقق من زيارة الموقع <a href="http://www.obstracker.org">www.obstracker.org</a> والنقر على الدولة لرؤية موعد استحقاق وثائق الموازنة.</p>
{% endblock %}
