{% extends "../../layout.html" %}

{% block page_title %}{% endblock %}

{% block content %}
<h1>تحديثات شهر نوفمبر من موقع تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>

<p><a href="http://www.obstracker.org">www.obstracker.org</a>) ما إذا كانت الحكومات المركزية في 30 دولة تقوم بنشر كل وثائق الموازنة الثمانية الرئيسية في الوقت المناسب وفقًا للمعايير الدولية أم لا. ومن خلال استخدام البيانات التي يتم تجميعها من خلال خبراء الموازنة المستقلين في 30 دولة، يوفر موقع تتبع مسح الموازنة المفتوحة تقارير في الوقت الفعلي حول ما يلي:</p>

<ul>
<li>وثائق الموازنة التي تم نشرها، و</li>
<li>الوثائق التي تم إنتاجها ولكن لم يتم نشرها، و</li>
<li>الوثائق التي لم يتم إنتاجها على الإطلاق.</li>
</ul>

<p>اطلع على أحدث بيانات وأخبار موقع تتبع مسح الموازنة المفتوحة وما يمكن انتظاره خلال الشهور القادمة.</p>

<h2>تحديثات شهر نوفمبر</h2>

<p>نظرة عامة:</p>
<ul>
<li>من بين 240 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 30 دولة، تم نشر ما إجماليه 152 وثيقة من وثائق الموازنة حاليًا. وتمثل تلك زيادة صافية بمقدار الضعف عن الشهر الماضي.</li>
<li>من بين الـ 88 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 33 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 55 وثيقة على الإطلاق.</li>
<li>تم نشر 31 وثيقة من وثائق الموازنة من 20 دولة مختلفة في شهر نوفمبر. ويشتمل ذلك على 19 تقريرًا دوريًا، وبيانين تمهيديين للموازنة، وخمس مقترحات من مقترحات الموازنة للسلطة التنفيذية، وموازنة مواطنين واحدة، وموازنتين مقررتين، وتقرير واحد لنهاية السنة، بالإضافة إلى تقرير مراجعة واحد. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<p>التقدم:</p>
<ul>
<li><strong>فيجي</strong> قامت بنشر <strong>مقترح الموازنة للسلطة التنفيذية</strong> للعام المالي (FY) 2015. في الماضي، كانت <strong>فيجي</strong> قد قامت بإنتاج مقترح الموازنة للسلطة التنفيذية إلا أنها لم تقم بإتاحته للعامة.</li>
<li><strong>كينيا</strong> قامت بنشر <strong>تقرير نهاية العام</strong> للعام المالي 2013/2014. في الماضي، كانت كينيا قد قامت بإنتاج تقرير نهاية العام إلا أنها لم تقم بإتاحته للعامة.</li>
</ul>

<p>العمل الذي يجري تنفيذه:</p>

<ul>
<li><strong>قامت فيجي بإنتاج البيان التمهيدي للموازنة للعام المالي 2015، إلا أنها لم تقم بإتاحته للعامة. ويعد ذلك في واقع الأمر بمثابة انتكاسة للخلف، حيث إن فيجي في الماضي قد أتاحت البيان التمهيدي للموازنة للعامة.</strong></li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>العديد من الدول المضمنة في موقع تتبع مسح الموازنة المفتوحة حاليًا في مرحلة تكوين الموازنة. وسوف نستمر في مراقبة وانتظار <strong>مقترحات الموازنة للسلطة التنفيذية</strong> للعام المالي 2015، بالإضافة إلى <strong>موازنات المواطنين</strong> ذات الصلة بها.</li>
<li>تم نشر مقترحات الموازنة للسلطة التنفيذية للعام المالي 2015 في 20 دولة. وهذا يعني أن هناك 6 دول لم تنشر بعد هذه الوثيقة المهمة للعام المالي الذي يبدأ من الأول من يناير 2015.</li>
<li>ومن بين هذه الدول الستة، قامت <strong>بوليفيا والعراق وفلسطين وفيتنام</strong> بإنتاج مقترح الموازنة للسلطة التنفيذية للعام المالي 2014، إلا أنها لم تقم بإتاحته للعامة. أما <strong>النيجر ونيجيريا</strong> فقد قامتا بإتاحة وثائق مقترح الموازنة للسلطة التنفيذية لهما في العام المالي 2014.</li>
<li>في الشهور القادمة، سوف نترقب إصدار <strong>الموازنات المقررة وموازنات المواطنين</strong> للعام المالي 2015.</li>
</ul>

<p>تحقق من زيارة الموقع <a href="http://www.obstracker.org">www.obstracker.org</a> والنقر على الدولة أو الدول التي ترغب في رؤية موعد استحقاق وثائق الموازنة لها. يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال<a href="http://www.openbudgetlibrary.org"> مكتبة الموازنة المفتوحة</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>
{% endblock%}
