{% extends "../../layout.html" %}

{% block page_title %}تحديث أكتوبر{% endblock %}

{% block content %}
<h1>تحديثات شهر أكتوبر من موقع تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>

<p>يراقب <a href="http://www.obstracker.org">موقع تتبع مسح الموازنة المفتوحة</a> (والذي يطلق عليه بالإنجليزية اسم OBS Tracker، وهو متاح في الموقع <a href="http://www.obstracker.org">www.obstracker.org</a>) ما إذا كانت الحكومات المركزية في 30 دولة تقوم بنشر كل وثائق الموازنة الثمانية الرئيسية في الوقت المناسب وفقًا للمعايير الدولية أم لا. ومن خلال استخدام البيانات التي يتم تجميعها من خلال خبراء الموازنة المستقلين في 30 دولة، يوفر موقع تتبع مسح الموازنة المفتوحة تقارير في الوقت الفعلي حول ما يلي:</p>

<ul>
<li>وثائق الموازنة التي تم نشرها، و</li>
<li>الوثائق التي تم إنتاجها ولكن لم يتم نشرها، و</li>
<li>الوثائق التي لم يتم إنتاجها على الإطلاق.</li>
</ul>

<p>اطلع على أحدث بيانات وأخبار موقع تتبع مسح الموازنة المفتوحة وما يمكن انتظاره خلال الشهور القادمة.</p>

<h2>تحديثات شهر أكتوبر</h2>

<p>نظرة عامة:</p>

<ul>
<li>من بين 240 وثيقة تمت مراقبتها بين كل الدول التي عددها 30 دولة، تم نشر ما إجماليه 150 وثيقة من وثائق الموازنة حاليًا. وتمثل تلك زيادة صافية بمقدار الثلث عن الشهر الماضي.</li>
<li>من بين الـ 90 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 34 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 56 وثيقة على الإطلاق.</li>
<li>تم نشر 28 وثيقة من وثائق الموازنة من 20 دولة مختلفة في شهر أكتوبر. ويشتمل ذلك على 11 تقريرًا دوريًا، و10 مقترحات من مقترحات الموازنة للسلطة التنفيذية وثلاثة موازنات للمواطنين وتقرير واحد لنهاية السنة، بالإضافة إلى ثلاثة تقارير مراجعة. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<p>التقدم:</p>

<ul>
<li><strong>كوت ديفوار</strong> قامت بنشر مقترح الموازنة للسلطة التنفيذية للعام المالي (FY) 2015. في الماضي، كانت <strong>كوت ديفوار</strong> قد قامت بإنتاج مقترح الموازنة للسلطة التنفيذية إلا أنها لم تقم بإتاحته للعامة.</li>
<li><strong>مصر</strong> قامت بنشر موازنة المواطنين للموازنة المقررة للعام المالي 2014 / 2015. في الماضي، لم تكن مصر قد قامت بإنتاج موازنة المواطنين.</li>
<li><strong>فيجي</strong> قامت بنشر تقرير المراجعة للعام المالي 2013. في الماضي، لم تكن فيجي قد قامت بإنتاج تقرير مراجعة.</li>
</ul>

<p>العمل الذي يجري تنفيذه:</p>

<ul>
<li><strong>أطلقت السنغال المراجعة نصف السنوية للعام المالي 2014 بعد موعدها بثلاثة أشهر، مما يعني أن حالتها سوف تتغير من "إنتاج للاستخدام الداخلي فقط" إلى " تأخر".</strong></li>
</ul>

<h2>أحدث الأخبار</h2>

<p>البيانات الأولية لموقع تتبع مسح الموازنة المفتوحة متاحة الآن بتنسيق يمكن قراءته من خلال الأجهزة (تنسيق .CSV). وسيتم تحديث الملف بصفة شهرية، وسيشتمل على المعلومات التاريخية للدول الثلاثين كلها.</p>

<p>تم نشر على الأقل 75 منشورًا إعلاميًا في 12 دولة حول موقع تتبع مسح الموازنة المفتوحة. والعديد منها عبارة عن مقالات في المنافذ الإعلامية المحلية والقومية، إلا أنه تم عمل تغطية في المدونات الدولية (بما في ذلك مدونة الديمقراطية المفتوحة ومدونة مؤسسة المعرفة المفتوحة)، بالإضافة إلى مدونات CSO المحلية، وكذلك عبر البث الإخباري المتلفز. وقد حظى موقع التتبع بأقصى قدر من الاهتمام في جمهورية الدومينيكان وفي فيتنام، حيث تم نشر 27 منشورًا و26 منشورًا في هاتين الدولتين على التوالي.</p>

<p>كما كان فريق عمل شراكة الموازنة الدولية وشركاؤنا منشغلين للغاية في شهر أكتوبر في عدد من الدول، بما في ذلك:</p>

<ul>
<li><strong>جمهورية الدومينيكان</strong>: قام فريق عمل شراكة الموازنة الدولية بتوفير دعم ميداني، وتم إجراء مقابلات معه، بالإضافة إلى شريكنا، في<a href="http://hoy.com.do/videos/todos/30-10-14unouno"> برنامج حواري صباحي قومي</a>.</li>
<li><strong>مصر</strong>: التقت وزارة المالية مع فريق عمل شراكة الموازنة الدولية ومع شريكنا الخاص بموقع تتبع مسح الموازنة المفتوحة، والتزمت بتحسين مستوى الشفافية والمحاسبة المالية لديها. وقد تطرق الحوار إلى خططهم لإنشاء موقع مدخلي عبر الإنترنت يحتوي على البيانات المالية والتحليلات، بالإضافة إلى إرسال رسائل نصية إلى العامة في كل مرة يتم فيها نشر وثيقة رئيسية جديدة على الموقع المدخلي. كما قاموا كذلك بوصف حملة "تعرف على موازنتك" التي ستهدف إلى نشر المعلومات المتعلقة بالموازنة عبر الصحف القومية اليومية.</li>
<li><strong>نيجيريا</strong>: قد نجح شريك شراكة الموازنة الدولية، وهو مركز تنمية وتوثيق الموارد المدنية (CIRDDOC) في عقد اجتماع مع وزيرة المالية لمناقشة شفافية الموازنة. وقد طلبت الوزيرة الحصول على توضيحات منهجية حول موقع تتبع مسح الموازنة المفتوحة واستبيان الموازنة المفتوحة، وركزت على التزامها بتحسين شفافية الموازنة في دولتها.</li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>تجري مرحلة صياغة الموازنة في دورة الموازنة على قدم وساق في العديد من الدول المضمنة في موقع تتبع مسح الموازنة المفتوحة. وموعد نشر مقترحات الموازنة للسلطة التنفيذية مستحق في 10 دول في شهر أكتوبر. وسوف ننتظر الحصول على تلك المقترحات، بالإضافة إلى موازنات المواطنين ذات الصلة، والتي من المتوقع نشرها في الأشهر القادمة.</li>
<li>وسوف نقوم بمراقبة نشر مقترحات الموازنة للسلطة التنفيذية في <strong>بوليفيا والعراق وفلسطين وفيتنام وفيجي</strong>. وتقوم كل دولة من هذه الدول حاليًا بإنتاج الوثائق، إلا أنها لم تقوم حتى هذه اللحظة بإتاحتها للعامة.</li>
</ul>

<p>تحقق من زيارة الموقع <a href="http://obstracker.org">www.obstracker.org</a> والنقر على الدولة لرؤية موعد استحقاق وثائق الموازنة. يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
