{% extends "../../layout.html" %}

{% block page_title %}تحديث ديسمبر{% endblock %}

{% block content %}
<h1>تحديثات شهر ديسمبر من برنامج تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>


<h2>نظرة عامة</h2>

<ul>
<li>من بين <a href="http://www.obstracker.org">240 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 30 دولة</a>، تم نشر ما إجماليه 153 وثيقة من وثائق الموازنة حاليًا. وتمثل تلك زيادة بمقدار وثيقة واحدة عن الشهر الماضي.</li>
<li>من بين الـ 87 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 34 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 53 وثيقة على الإطلاق.</li>
<li>تم نشر 23 وثيقة من وثائق الموازنة من 17 دولة مختلفة في شهر نوفمبر. ويشتمل ذلك على 11 تقريرًا دوريًا، و5 موازنات مقررة، و5 تقارير نهاية السنة، بالإضافة إلى 2 تقارير مراجعة. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<h2>تحديثات اللغة</h2>

<ul>
<li><strong>يتاح موقع ويب برنامج تتبع مسح الموازنة المفتوحة الآن بخمس لغات: وهي العربية والإنجليزية والفرنسية والروسية والإسبانية</strong>. يمكنك <a href="http://www.obstracker.org">الوصول إلى هذه اللغات</a> من خلال النقر على اسم اللغة في الركن العلوي الأيمن من الصفحة.</li>
</ul>

<h2>التقدم</h2>

<ul>
<li>قامت <a href="http://www.obstracker.org/country/Niger">النيجر</a> بنشر <strong>تقرير المراجعة</strong> الخاص بها للعام المالي (FY) 2013. بالنسبة للعام المالي السابق، لم تكن <strong>النيجر</strong> قد قامت بإنتاج تقرير مراجعة.</li>
<li><strong>قامت</strong> <a href="http://www.obstracker.org/country/Tanzania">تنزانيا</a> بنشر <strong>تقرير نهاية العام</strong> للعام المالي 2013 / 2014. بالنسبة للعام الماضي السابق، لم تكن تنزانيا قد قامت بإنتاج تقرير نهاية العام.</li>
</ul>

<h2>العمل الذي يجري تنفيذه</h2>

<ul>
<li><strong>لم تقم <a href="http://www.obstracker.org/country/Fiji">فيجي</a> بإنتاج تقرير نهاية العام للعام المالي 2013. في الماضي، كانت فيجي قد أتاحت تقرير نهاية العام للعامة.</strong></li>
<li><strong>ما زالت <a href="http://www.obstracker.org/country/Iraq">العراق</a> تقصر استخدام مقترح الموازنة للسلطة التنفيذية الخاص بها على الاستخدام الداخلي فقط. في أواخر ديسمبر من العام الماضي، قامت الحكومة بإصدار بعض المعلومات حول المقترح لصحيفة الصباح. رغم أن ذلك لا يفي بالمعايير الدولية لإتاحة مقترح الموازنة للسلطة التنفيذية للعامة، إلا أنها تعد بمثابة خطوة بسيطة في الاتجاه الصحيح.</strong></li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>نستمر في توقع <strong>الموازنات المقررة</strong> للعام المالي 2015. بمجرد أن تقوم السلطات التشريعية بالموافقة على الموازنة المقررة، يكون أمام الحكومات ثلاثة أشهر لإتاحتها للعامة.</li>
<li>كما أننا نستمر كذلك في انتظار <strong>موازنات المواطنين</strong> للعام المالي 2015. ومن المتوقع أن يتم نشر موازنات المواطنين في نفس وقت نشر الوثائق التي تعتمد عليها.</li>
</ul>

<p>تحقق من زيارة الموقع <a href="http://www.obstracker.org">www.obstracker.org</a> ومعرفة وقت استحقاق نشر الوثائق في الدول التي تهتم بها.</p>

<p>يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org">مكتبة الموازنة المفتوحة</a> (<a href="http://www.openbudgetlibrary.org">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
