{% extends "../../layout.html" %}

{% block page_title %}أغسطس التحديثات{% endblock %}

{% block content %}
<h1>تحديثات شهر أغسطس من برنامج تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>
<h2>من المتوقع أن يتم نشر المزيد من الوثائق في الشهور القادمة</h2>

<p>في الحادي عشر من سبتمبر، قامت شراكة الموازنة المفتوحة بإطلاق برنامج تتبع مسح الموازنة المفتوحة (برنامج تتبع مسح الموازنة المفتوحة (OBS)، www.obstracker.org)، وهو عبارة عن أداة متاحة عبر الإنترنت تسمح للمواطنين والمجتمع المدني ووسائل الإعلام وغيرهم بمراقبة ما إذا كانت الحكومات المركزية تقوم بإصدار المعلومات المطلوبة حول الكيفية التي تقوم بها الحكومات بإدارة الأموال العامة، في الوقت الفعلي. ومنذ ذلك الحين، سجل برنامج التتبع أول تغييرات حدثت به، والتي يتم إلقاء الضوء عليها أدناه.</p>

<p><strong>اشتملت وثائق الموازنة المسجلة في أغسطس 2014 على ما يلي:</strong></p>

<ul>
<li>أربع وعشرون وثيقة موازنة من 18 دولة مختلفة. تم نشر اثنتان وعشرون وثيقة من تلك الوثائق كذلك في فتة الموازنة السابقة.</li>
<li>وتشتمل الوثائق التي تم نشرها على 13 تقريرًا دوريًا ربع سنوي أو شهريًا وخمس تقارير لنهاية السنة وأول مقترحين للموازنة للسلطة التنفيذية للعام المالي 2015 من جمهورية قيرغز والفلبين.</li>
<li>مراجعة منتصف عام جديدة (في عام الموازنة السابق، لم يتم إنتاجها) من النيجر، بالإضافة إلى تقرير نهاية العام من الدولة (تم إنتاج تقرير نهاية العام السابق من خلال الحكومة من أجل أغراض الاستخدام الداخلي فقط).</li>
</ul>

<p>بالنسبة للعديد من الدول، يعد شهر سبتمبر شهرًا مهمًا في دورة الموازنة، حيث إنه يعد بداية مرحلة تكوين الموازنة.</p>

<p><strong>ونحن نتوقع أن نرى مجموعة جديدة من الوثائق يتم نشرها على مدار الشهور العديدة التالية، بما في ذلك:</strong></p>

<ul>
<li>البيانات التمهيدية للموازنة؛</li>
<li>مقترحات الموازنة للسلطة التنفيذية؛</li>
<li>الموازنات المقررة؛ و</li>
<li>مراجعات منتصف العام (وهي واجبة النشر في شهر سبتمبر بالنسبة للعديد من الدول، بما في ذلك الإكوادور وميانمار، وكلتا الدولتين قامتا بنشر الوثائق، إلا أنهما لم تقوما بإتاحتهما للعامة).</li>
</ul>

<p>يمكنك تتبع إتاحة هذه الوثائق من خلال <a href="http://www.obstracker.org/updates/2014-11">الصفحة الرئيسية لبرنامج تتبع مسح الموازنة المفتوحة</a> من خلال النقر على اسم الدولة واستعراض عمود "فترة النشر التالية (Next Publishing Period)".</p>

<p>وقد قامت الحكومات في الدول الثلاثين التي تشكل برنامج تتبع مسح الموازنة المفتوحة بنشر 148 وثيقة موازنة من وثائق الموازنة البالغة 240 وثيقة والتي نقوم بمراقبتها (8 وثائق لكل دولة). ويمثل ذلك زيادة طفيفة عن الـ 146 وثيقة موازنة التي تم نشرها في يوليو من عام 2014. ورغم أننا نقدر هذا التحسين في ممارسات الكشف عن المعلومات، إلا أن هناك 92 وثيقة ما زالت لا يتم إنتاجها، منها 35 وثيقة متاحة لدى الحكومات من أجل الاستخدام الداخلي فقط. يمكنك عرض كل الوثائق التي تم نشرها في مكتبة وثائق الموازنة في الموقع <a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>.</p>

<p>للحصول على المزيد من المعلومات حول منهجية استخدام برنامج تتبع مسح الموازنة المفتوحة، قم بقراءة <a href="http://www.obstracker.org/pdfs/sept_2014_obstracker_report_ar.pdf">دليل برنامج تتبع مسح الموازنة المفتوحة</a>، وتحقق من مراقبة هذه المساحة للتعرف على التحديثات المستقبلية.</p>
{% endblock %}
