{% extends "../../layout.html" %}

{% block page_title %}تحديث أبريل{% endblock %}

{% block content %}
<h1>تحديث برنامج تتبع مسح الموازنة المفتوحة لشهر أبريل عام 2015</h1>

<h2>نظرة عامة</h2>

<ul>
<li>من بين <a href="http://www.obstracker.org/">240 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 30 دولة</a>، تم نشر ما إجماليه 140 وثيقة من وثائق الموازنة حاليًا. ويمثل ذلك انخفاضًا صافيًا بمقدار وثيقتين عن الشهر الماضي.</li>
<li>من بين الـ 100 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 38 وثيقة، إلا أنها لم يتم نشرها، وتم نشر 12 وثيقة بشكل متأخر، ولم يتم إنتاج 50 وثيقة على الإطلاق.</li>
<li>تم نشر 25 وثيقة من وثائق الموازنة من 20 دولة مختلفة في شهر أبريل. ويشتمل ذلك على 16 تقريرًا دوريًا، وبيان تمهيدي للموازنة، ومقترح من مقترحات الموازنة للسلطة التنفيذية، وموازنة مقررة واحدة، وموازنة مواطنين واحدة، وخمس تقارير لنهاية السنة. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<h2>العمل المطلوب تنفيذه</h2>

<ul>
<li>قامت حكومة <a href="http://www.obstracker.org/status/Mali">مالي</a> بنشر <strong>التقرير الدوري</strong> للربع الرابع لعام 2014 في شهر إبريل، وهو وقت متأخر للغاية بحيث لا يمكن اعتباره قد أتيح للجماهير. وتعد التقارير الدورية المتسقة والتي تصدر في وقتها ضرورية للغاية لمراقبة الشؤون المالية للحكومات.</li>
<li>فشلت حكومة <a href="http://www.obstracker.org/status/Timor-Leste">تيمور ليستي</a> في إنتاج <strong>موازنة مواطنين</strong> لعام 2015. كانت تيمور ليستي قد قامت من قبل بنشر موازنة مواطنين للعام المالي السابق.</li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>لم تقم حكومة <a href="http://www.obstracker.org/status/Nigeria">نيجيريا</a> بعد بإتاحة <strong>مقترح الموازنة للسلطة التنفيذية</strong> لعام 2015 للعامة، رغم أنها قامت بالفعل بتقديمه إلى البرلمان القومي. ويتاح للحكومة الوقت إلى أن يتم تقرير الموازنة لإتاحة مقترح الموازنة للسلطة التنفيذية للجماهير.</li>
<li>أكملت <a href="http://www.obstracker.org/status/Tanzania">تنزانيا</a> <strong>تقرير المراجعة</strong> الخاص بها لعام 2013-2014 وتم تقديمه إلى السلطة التشريعية، إلا أنه لم يتم نشره بعد. ويتاح للحكومة حتى 31 ديسمبر لإتاحة هذه الوثيقة للعامة.</li>
</ul>

<h2>التحديثات</h2>

<ul>
<li>تشتمل صفحة الحالة الحالية لكل دولة حاليًا على <a href="http://www.obstracker.org/status/Niger">تعليقات حول وثائق بعينها</a>. وهذه التعليمات توفر معلومات إضافية حول الوثائق، ولا تتاح إلا باللغة الإنجليزية أو اللغة الأصلية / لغة الباحث.</li>
</ul>

<p>يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
