{% extends "../../layout.html" %}

{% block page_title %}تحديث مارس{% endblock %}

{% block content %}
<h1>تحديثات شهر مارس من برنامج تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>

<h2>نظرة عامة</h2>

<ul>
<li>من بين <a href="http://www.obstracker.org/">240 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 30 دولة</a>، تم نشر ما إجماليه 142 وثيقة من وثائق الموازنة حاليًا. ويمثل ذلك انخفاضًا بمقدار 7 وثائق عن الشهر الماضي.</li>
<li>من بين الـ 98 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 39 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 59 وثيقة أو تم نشرها في وقت متأخر.</li>
<li>تم نشر 21 وثيقة من وثائق الموازنة من 15 دولة مختلفة في شهر مارس. ويشتمل ذلك على 13 تقررًا دوريًا وبيان تمهيدي واحد للموازنة وموازنة مقررة واحدة و3 موازنات مواطنين وتقريرين لنهاية العام وتقرير مراجعة واحد. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<h2>التقدم</h2>

<ul>
<li>قامت <a href="http://www.obstracker.org/status/Egypt">مصر</a> بنشر <strong>البيان التمهيدي للموازنة</strong> الخاص بها للعام المالي القادم 2015-2016. ولم تكن مصر قد قامت بنشر البيان التمهيدي للموازنة من قبل، مما يوفر تفاصيل مهمة فيما يتعلق بافتراضات الاقتصاد الكلي للحكومة والمستخدمة وضع السياسات.</li>
<li>قامت <a href="http://www.obstracker.org/status/Niger">النيجر</a> بنشر <strong>موازنة المواطنين</strong> الخاصة بها لعام 2015. وهذه هي أول موازنة للمواطنين قامت النيجر بنشرها، ورابع وثيقة موازنة أتاحتها الحكومة للعامة منذ إطلاق برنامج تتبع مسح الموازنة المفتوحة.</li>
</ul>

<h2>العمل المطلوب تنفيذه</h2>

<ul>
<li>فشلت <a href="http://www.obstracker.org/status/Dominican%20Republic">جمهورية الدومينيكان</a> و<a href="http://www.obstracker.org/status/Nicaragua">نيكاراجوا</a> في نشر <strong>التقرير الدوري</strong> لربع السنة الرابع لعام 2014 قبل الموعد المحدد لذلك في الحادي والثلاثين من مارس 2015. وفي الأعوام السابقة، قامت كلا الحكومتين بنشر التقارير الدورية للربع الرابع من العام، حيث كانت تشتمل على بيانات العام بالكامل، في وقت متأخر للغاية بحيث لا يمكن اعتبار أنها قد تمت إتاحتها للعامة.</li>
<li>لم تقم <a href="http://www.obstracker.org/status/Fiji">فيجي</a> و<a href="http://www.obstracker.org/status/Ghana">غانا</a> بإتاحة <strong>الموازنة المقررة</strong> لهما لعام 2015 للعامة، رغم أنه قد مر ما يزيد على ثلاثة أشهر منذ تم إقرار مقترح الموازنة للسلطة التشريعية من خلال السلطة التشريعية. ويمثل ذلك انتكاسة في الشفافية، حيث إن قانون الموازنة لعام 2015 لم تتم إتاحته للعامة.</li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>لم تقم حكومة <a href="http://www.obstracker.org/status/Nigeria">نيجيريا</a> بعد بإتاحة <strong>مقترح الموازنة للسلطة التنفيذية</strong> لعام 2015 للعامة، رغم أنها قامت بالفعل بتقديمه إلى البرلمان القومي. وحيث إن الموازنة لم يتم تمريرها بعد، يجب أن تقوم الحكومة بإتاحة هذه الوثيقة للعامة الآن.</li>
<li>أكملت <a href="http://www.obstracker.org/status/Tanzania">تنزانيا</a> <strong>تقرير المراجعة</strong> الخاص بها لعام 2013-2014 وتم تقديمه إلى السلطة التشريعية، إلا أنه لم يتم نشره بعد. ويتاح للحكومة حتى 31 ديسمبر لإتاحة هذه الوثيقة للعامة.</li>
</ul>

<h2>التحديثات</h2>

<ul>
<li>تشتمل صفحة الحالة الحالية لكل دولة حاليًا على <a href="http://www.obstracker.org/status/Niger">تعليقات حول وثائق بعينها</a>. وهذه التعليمات توفر معلومات إضافية حول الوثائق، ولا تتاح إلا باللغة الإنجليزية أو اللغة الأصلية / لغة الباحث.</li>
</ul>

<p>يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
