{% extends "../../layout.html" %}

{% block page_title %}تحديث فبراير{% endblock %}

{% block content %}
<h1>تحديثات شهر فبراير من برنامج تتبع مسح الموازنة المفتوحة متاحة الآن!</h1>

<h2>نظرة عامة</h2>

<ul>
<li>من بين <a href="http://www.obstracker.org/">240 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 30 دولة</a>، تم نشر ما إجماليه 149 وثيقة من وثائق الموازنة حاليًا. وتمثل تلك زيادة بمقدار وثيقة واحدة عن الشهر الماضي.</li>
<li>من بين الـ 91 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 34 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 57 وثيقة أو تم نشرها في وقت متأخر.</li>
<li>تم نشر ما إجماليه 19 وثيقة من وثائق الموازنة من 15 دولة مختلفة في شهر فبراير. ويشتمل ذلك على 13 تقريرًا دوريًا و3 موازنات مقررة وموازنتي مواطنين وتقرير نهاية سنة واحد. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوح</a>ة الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<h2>التقدم</h2>

<ul>
<li>قامت <a href="http://www.obstracker.org/status/Bolivia">بوليفيا</a> بنشر <strong>تقرير دوري</strong> في شهر نوفمبر 2014. ويمثل ذلك عودة إلى ممارسة سابقة اعتادت عليها بوليفيا، حيث إن الحكومة هناك، باستثناء التقرير الذي يغطي شهر أكتوبر 2014، كانت <a href="http://www.obstracker.org/country/Bolivia">تقوم بنشر</a> التقارير الدورية بشكل متسق.</li>
<li>قامت <a href="http://www.obstracker.org/status/Iraq">العراق</a> بنشر <strong>الموازنة المقررة</strong> لعام 2015. ويعد ذلك تحسنًا في المواقف. في عام 2015، فشلت العراق في تمرير موازنة، واعتمدت على الموازنة المقررة لعام 2013. وفي هذا العام، قامت العراق بتمرير ووضع الموازنة المقررة.</li>
<li>قامت <a href="http://www.obstracker.org/status/Niger">النيجر</a> بنشر <strong>الموازنة المقررة</strong> لعام 2015. ويعد ذلك تحسنًا في المواقف، حيث إن الموازنة المقررة السابقة للنيجر تم إنتاجها للاستخدام الداخلي فقط.</li>
</ul>

<h2>العمل المطلوب تنفيذه</h2>

<ul>
<li>فشلت <a href="http://www.obstracker.org/status/Sierra%20Leone">سيراليون</a> في إنتاج <strong>تقرير نهاية العام</strong> لعام 2013. وتعد تقارير نهاية العام ضرورية لأنها تدمج النفقات والإيرادات الكاملة للعام فيما يتعلق بالموازنة المقررة الأصلية. وفي العام المالي السابق، كانت سيراليون قد قامت بإنتاج تقرير نهاية عام.</li>
<li>قامت <a href="http://www.obstracker.org/status/Timor-Leste">تيمور ليشتي</a> بإنتاج <strong>تقرير دوري</strong> لربع العام الرابع من عام 2014، إلا أنها فشت في إتاحته للعامة. والتقارير الدورية مهمة لأنها توفر نظرة عامة في وقتها حول تنفيذ الموازنة والاتجاهات المرتبطة بالإيرادات والنفقات. ويتاح لتيمور ليشتي الفرصة حتى نهاية شهر مارس لإتاحة التقرير الدوري لربع العام الرابع من عام 2014.</li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>لم تقم حكومة <a href="http://www.obstracker.org/country/Nigeria">نيجيريا</a> بعد بإتاحة مقترح الموازنة للسلطة التنفيذية لعام 2015 للعامة، رغم أنها قامت بالفعل بتقديمه إلى البرلمان القومي. وحيث إن الموازنة لم يتم تمريرها بعد، يجب أن تقوم الحكومة بإتاحة هذه الوثيقة للعامة بشكل عاجل.</li>
</ul>

<h2>التحديثات</h2>

<ul>
<li>تم مؤخرًا تحديث <a href="http://www.obstracker.org/country/Egypt">صفحات المعلومات التاريخية</a> في موقع ويب برنامج تتبع مسح الموازنة المفتوحة. وتسمح هذه الصفحات للمستخدمين بتتبع إتاحة وثائق الموازنة الثمانية الرئيسية على مدار الوقت. ويمكنك الاطلاع على تلك المعلومات من خلال النقر على ارتباط "عرض المعلومات التاريخية (View historical information)" في الصفحة الخاصة بكل دولة.</li>
<li>قم بزيارة <a href="http://www.obstracker.org/press">غرفة أخبار برنامج تتبع مسح الموازنة المفتوحة</a> للتعرف على أحدث الأخبار، بما في ذلك المقابلات الشخصية مع شركاء برنامج تتبع مسح الموازنة المفتوحة، بالإضافة إلى المقالات الافتتاحية والمقالات الإخبارية وغير ذلك الكثير.</li>
</ul>

<p>تحقق من زيارة الموقع <a href="http://www.obstracker.org">www.obstracker.org</a> ومعرفة وقت استحقاق نشر الوثائق في الدول التي تهتم بها.</p>

<p>يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة (www.openbudgetlibrary.org).</a></p>
{% endblock %}
