{% extends "../../layout.html" %}

{% block page_title %}تحديثات شهر يناير{% endblock %}

{% block content %}
<h1>تحديثات شهر يناير</h1>

<h2>نظرة عامة</h2>

<ul>
<li>من بين <a href="http://www.obstracker.org/">240 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 30 دولة</a>، تمت إتاحة ما إجماليه 149 وثيقة من وثائق الموازنة حاليًا للعامة.</li>
<li>من بين الـ 91 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 34 وثيقة، إلا أنها لم يتم نشرها، ولم يتم إنتاج 57 وثيقة أو تم نشرها في وقت متأخر.</li>
<li>تم نشر 26 وثيقة من وثائق الموازنة من 18 دولة مختلفة في شهر يناير. ويشتمل ذلك على ثمانية تقارير دورية و11 موازنة مقررة و5 موازنات مواطنين وبيانين تمهيديين. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<h2>تحديثات اللغة</h2>

<ul>
<li>يتاح موقع ويب برنامج تتبع مسح الموازنة المفتوحة الآن بخمس لغات: <a href="http://www.obstracker.org/?locale=ar">العربية</a> و<a href="http://www.obstracker.org/?locale=en">الإنجليزية</a> و<a href="http://www.obstracker.org/?locale=fr">الفرنسية</a> و<a href="http://www.obstracker.org/?locale=ru">الروسية</a> و<a href="http://www.obstracker.org/?locale=es">الإسبانية</a>.</li>
</ul>
 
<h2>التقدم</h2>

<p>لم تحقق دول برنامج التتبع أي تقدم في هذا الشهر.</p>

<h2>العمل الذي يجري تنفيذه</h2>

<ul>
<li>فشلت <a href="http://www.obstracker.org/country/Ecuador">الإكوادور</a> و<a href="http://www.obstracker.org/country/Bolivia">بوليفيا</a> في توفير <strong>تقارير دورية</strong> لأحدث الفترات، رغم أن هاتين الدولتين أتاحتا هذه التقارير من قبل للعامة. والتقارير الدورية مهمة لأنها توفر نظرة عامة في وقتها حول تنفيذ الموازنة والاتجاهات المرتبطة بالإيرادات والنفقات.</li>
<li>وبنفس الطريقة، فقد فشلت <a href="http://www.obstracker.org/country/Armenia">أرمينيا</a> في إنتاج <strong>تقرير دوري</strong> لربع السنة الرابع، بعد إنتاج تقارير دورية بمعدل تقرير دوري واحد لكل ربع سنة من الأرباع الأول والثاني والثالث.</li>
<li>ما زالت <a href="http://www.obstracker.org/country/Myanmar">ميانمار</a> تقصر استخدام مقترح الموازنة للسلطة التنفيذية الخاص بها على الاستخدام الداخلي فقط. <strong>ومع ذلك، في شهر يناير، أطلقت الحكومة بعض النماذج المجدولة المحددة من المقترح لصحيفتين. ورغم أن ذلك لا يفي بالمعايير الدولية لإتاحة مقترح الموازنة للسلطة التنفيذية للعامة، إلا أنها تعد بمثابة خطوة في الاتجاه الصحيح.</strong></li>
</ul>

<h2>الشهر القادم</h2>

<ul>
<li>قدمت حكومة <a href="http://www.obstracker.org/country/Nigeria">نيجيريا</a> مقترح الموازنة للسلطة التنفيذية لعام 2015 إلى البرلمان الوطني، إلا أنها فشلت في إتاحته للعامة. وحيث إنه لم يتم بعد تمرير الموازنة، فقد حان الوقت لكي تقوم الحكومة بنشر الوثيقة.</li>
<li>تم بالفعل تمرير موازنة <a href="http://www.obstracker.org/country/Niger">النيجر</a> لعام 2015، إلا أنه لم تتم إتاحتها بعد للعامة. تفرض المعايير الدولية أن تتم إتاحة الموازنة المقررة للعامة خلال ثلاثة أشهر من سنها، وبالتالي، فقد حان الوقت لكي تقوم الحكومة بنشر الموازنة المقررة.</li>
<li>كما أن الشهر القادم كذلك سيكون آخر فرصة للعديد من الدول، مثل <a href="http://www.obstracker.org/country/Ecuador">الإكوادور</a>، لإتاحة التقارير الدورية الخاصة بها للربع الرابع من عام 2014 للعامة.</li>
</ul>

<p>لا تنس زيارة الموقع <a href="http://www.obstracker.org">www.obstracker.org</a> لمعرفة توقيتات استحقاق الوثائق في الدول التي تهتم بالتعرف عليها. ويمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
