{% extends "../../layout.html" %}

{% block page_title %}تحديث يونيو{% endblock %}

{% block content %}
<h1>تحديث برنامج تتبع مسح الموازنة المفتوحة لشهر يونيو عام 2015</h1>

<h2>نظرة عامة</h2>

<ul>
<li>من بين <a href="http://www.obstracker.org/">232 وثيقة موازنة تمت مراقبتها بين كل الدول التي عددها 29 دولة</a>، تم نشر ما إجماليه 143 وثيقة حاليًا. ويمثل ذلك زيادة صافية بمقدار وثيقتين عن الشهر الماضي.</li>
<li>من بين الـ 89 وثيقة التي لم تتم إتاحتها للعامة، تم إنتاج 37 وثيقة، إلا أنها لم يتم نشرها، وتم نشر 9 وثائق بشكل متأخر، ولم يتم إنتاج 43 وثيقة على الإطلاق.</li>
<li>تم نشر 16 وثيقة من وثائق الموازنة من 14 دولة مختلفة في شهر يونيو. ويشتمل ذلك على 4 تقارير مراجعة، و11 تقريرًا دوريًا، وتقرير واحد لنهاية السنة. وتتاح كل هذه الوثائق في <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة</a> الخاصة بشراكة الموازنة الدولية.</li>
</ul>

<h2>التقدم</h2>

<ul>
  <li>أتاحت <a href="http://www.obstracker.org/status/Mali">مالي</a> <strong>تقريرها الدوري</strong> للربع الأول من العام 2015 للجماهير. قامت مالي بنشر التقرير السابق في وقت متأخر للغاية بحيث لا يمكن اعتباره قد أتيح للجماهير.</li>
  <li>قامت <a href="http://www.obstracker.org/status/Senegal">السنغال</a> بنشر <strong>تقريرها الدوري</strong> للعام 2013. وقد تم نشر تقرير المراجعة للعام المالي السابق في وقت متأخر للغاية بحيث لا يمكن اعتباره قد قد أتيح للجماهير.</li>
</ul>

<h2>الشهر القادم</h2>

<ul>
  <li>بالنسبة للدول التي تكون السنة المالية فيها من يناير إلى ديسمبر، يجب أن يتم نشر <strong>مراجعات منتصف العام</strong> للعام 2015 في الشهر القادم، بالإضافة إلى <strong>البيانات التمهيدية للموازنة</strong> للعام 2016.</li>
</ul>

<p>يمكن الوصول إلى كل الوثائق المتاحة للعامة من خلال <a href="http://www.openbudgetlibrary.org/">مكتبة الموازنة المفتوحة (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
