{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Août{% endblock %}

{% block content %}
<h1>Les mises à jour du mois d'août de l'Outil de suivi budgétaire sont disponibles !</h1>

<h2>D'autres documents devraient être publiés dans les prochains mois</h2>

<p>Le 11 septembre, l'IBP a lancé l'Outil de suivi budgétaire de l'Enquête sur le budget ouvert (OBS Tracker, <a href="http://www.obstracker.org">www.obstracker.org</a>), un outil en ligne qui permet aux citoyens, à la société civile, aux médias et autres parties intéressées de vérifier en temps réel si les gouvernements centraux publient les informations nécessaires concernant leur gestion des finances publiques. Depuis, l'Outil de suivi budgétaire a enregistré ses premiers changements, exposés ci-dessous.</p>

<p><strong>Les documents budgétaires enregistrés en août 2014 comprennent :</strong></p>

<ul>
<li>Vingt-quatre documents budgétaires de 18 pays différents. Vingt-deux de ces documents avaient également été publiés au cours de la période budgétaire précédente.</li>
<li>On compte, parmi les documents publiés, 13 Rapports trimestriels ou mensuels en cours d'année, cinq Rapports de fin d'année et nos deux premiers Projets de budget de l'exécutif pour l'exercice budgétaire 2015 de la République du Kirghizistan et des Philippines.</li>
<li>Une nouvelle Revue de milieu d'année (qui n'avait pas été produite au cours de l'exercice budgétaire précédent) du Niger, ainsi que le Rapport de fin d'année du pays (le Rapport de fin d'année précédent avait été produit par le gouvernement pour son usage interne uniquement).</li>
</ul>

<p>Pour de nombreux pays, septembre est un mois important dans le cycle budgétaire, car il marque le début de l'étape d'élaboration du budget.</p>

<p><strong>Nous espérons voir la publication de nouveaux documents au cours des prochains mois, dont :</strong></p>

<ul>
<li>Des rapports préalables au budget ;<li>
<li>Des projets de budget de l'exécutif ;</li>
<li>Des budgets approuvés ; et</li>
<li>Des revues de milieu d'année (celles-ci sont dues en septembre pour de nombreux pays, notamment l'Équateur et le Myanmar, qui produisent déjà tous les deux le document, mais ne le rendent pas public).</li>
</ul>

<p>Vous pouvez suivre la disponibilité de ces documents à partir de la <a href="http://www.obstracker.org/">page d'accueil de l'Outil de suivi budgétaire de l'EBO</a> en cliquant sur un pays et en consultant la colonne « Prochaine période de publication ».</p>

<p>Les gouvernements des 30 pays faisant partie de l'Outil de suivi budgétaire ont publié 148 des 240 documents budgétaires que nous contrôlons (huit documents par pays). Ceci représente une légère augmentation par rapport aux 146 documents budgétaires publiés en juillet 2014. Bien que cette amélioration des pratiques d'information soit la bienvenue, 92 documents budgétaires ne sont toujours pas publiés, dont 35 sont disponibles uniquement pour l'usage interne des gouvernements. Vous pouvez consulter l'ensemble des documents publiés dans la bibliothèque des documents budgétaires sur <a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>.</p>

<p>Pour davantage d'informations concernant la méthodologie à la base de l'Outil de suivi budgétaire de l'EBO, veuillez lire le <a href="http://www.obstracker.org/pdfs/sept_2014_obstracker_report_fr.pdf">Guide de l'Outil de suivi budgétaire de l'Enquête sur le budget ouvert</a>, et assurez-vous de consulter cet espace pour suivre les prochaines mises à jour.</p>
{% endblock %}
