{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Octobre{% endblock %}

{% block content %}
<h1>Les mises à jour du mois d'octobre de l'Outil de suivi budgétaire de l’EBO sont disponibles !</h1>

<p>L'<a href="http://www.obstracker.org/">Outil de suivi budgétaire</a> de l’EBO (OBS Tracker, <a href="http://www.obstracker.org/">www.obstracker.org</a>) contrôle la publication des huit documents budgétaires clés en temps opportun et selon les normes internationales par les gouvernements centraux de 30 pays. En utilisant les données recueillies par les experts budgétaires indépendants de 30 pays, l'Outil de suivi budgétaire de l’EBO fournit des rapports en temps réel sur :</p>

<ul>
<li>les documents budgétaires qui ont été publiés ;</li>
<li>les documents budgétaires qui ont été produits mais qui n'ont pas été publiés ; et</li>
<li>les documents budgétaires qui n'ont jamais été produits.</li>
</ul>

<p>Consultez les données les plus récentes de l'Outil de suivi budgétaire de l’EBO, les actualités récentes et les actualités des prochains mois.</p>

<h2>Mise à jour du mois d'octobre</h2>

<p>Vue d'ensemble :</p>

<ul>
<li>Sur les 240 documents suivis dans l'ensemble des 30 pays, 150 documents budgétaires au total ont d'ores et déjà été publiés. Ce qui représente une augmentation nette de trois documents depuis le mois dernier.</li>
<li>Parmi les 90 documents non accessibles au public, 34 ont été produits mais pas publiés ; et 56 n'ont pas été produits.</li>
<li>28 documents budgétaires de 20 pays différents ont été publiés au mois d'octobre. Il s'agit de 11 Rapports en cours d'année, 10 Projets de budget de l'exécutif, trois Budgets des citoyens, un Rapport de fin d'année et trois Rapports d'audit. Ces documents sont disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<p>Réalisation de progrès :</p>

<ul>
<li><strong>La Côte d’Ivoire</strong> a publié son Projet de budget de l'exécutif pour l'exercice budgétaire (EB) 2015. Précédemment, <strong>la Côte d’Ivoire</strong> avait produit un Projet de budget de l'exécutif qui n'avait pas été rendu public.</li>
<li><strong>L'Égypte</strong> a publié un Budget des citoyens dans le cadre du Budget approuvé pour l'exercice budgétaire 2014/2015. Précédemment, l'Égypte n'avait pas produit de Budget des citoyens.</li>
<li><strong>Fidji</strong> a publié un rapport d'audit pour l'exercice budgétaire 2013. Précédemment, Fidji n'avait pas produit de Rapport d'audit.</li>
</ul>

<p>Ce qu'il reste à faire :</p>

<ul>
<li><strong>Le Sénégal</strong> a publié sa Revue de milieu d'année pour l'EB 2014 avec trois mois de retard par rapport à la date prévue, ce qui signifie que son statut changera de catégorie et passera de « produit à des fins internes uniquement « à « production tardive ».</li>
</ul>

<h2>Actualités récentes</h2>

<p>Les <a href="http://www.obstracker.org/data.csv">données brutes</a> de l'Outil de suivi budgétaire de l’EBO sont désormais disponibles dans un format lisible par machine (CSV). Le fichier sera actualisé sur une base mensuelle et présentera des données historiques pour l'ensemble des 30 pays.</p>

<p>Au moins 75 articles médiatiques portant sur 12 pays ont été recensés dans l'Outil de suivi budgétaire de l’EBO. Bon nombre d'entre eux sont des articles parus dans des médias locaux et nationaux et également dans des blogs internationaux (y compris Open Democracy et les blogs de l'Open Knowledge Foundation), dans les blogs des OSC locales, et dans certaines nouvelles télévisées. L'Outil de suivi budgétaire de l’EBO a reçu le plus d'attention en République dominicaine et au Vietnam, avec 27 et 26 articles médiatiques, respectivement.</p>

<p>Le mois d'octobre a été chargé pour l'équipe de l'IBP et ses partenaires dans un certain nombre de pays, y compris :</p>

<ul>
<li><strong>La République dominicaine</strong> : L'équipe de l'IBP a apporté son soutien sur le terrain et a été interrogée aux côtés de notre partenaire dans une <a href="http://hoy.com.do/videos/todos/30-10-14unouno">émission-débat matinale</a>.</li>
<li><strong>L'Égypte</strong> : Le ministère des Finances a rencontré le personnel de l'IBP et notre partenaire de l'Outil de suivi budgétaire de l’EBO et s'est engagé à améliorer la transparence et la responsabilité des finances publiques. Les représentants du ministère ont décrit leurs plans pour lancer un portail en ligne avec des données et des analyses financières ; et pour envoyer des messages texte au public chaque fois qu'un nouveau document clé est mis en ligne sur le portail. Ils ont également décrit la campagne planifiée « Connaissez votre budget » (Know Your Budget) qui permettra la diffusion des données budgétaires dans des quotidiens nationaux.</li>
<li><strong>Le Nigéria</strong> : Le partenaire de l'IBP, le Centre de développement et de documentation des ressources civiles (CIRDDOC), a réussi à obtenir une rencontre avec le ministre des Finances pour discuter de la transparence budgétaire. Le ministre a demandé des précisions méthodologiques sur l'Outil de suivi budgétaire de l’EBO et l'Enquête sur le budget ouvert, et a souligné son engagement en faveur de l'amélioration de la transparence budgétaire dans le pays</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>La phase d'élaboration du budget du cycle budgétaire bat son plein dans la plupart des pays inclus dans l'Outil de suivi budgétaire de l'EBO. Les Projets de budget de l'exécutif devraient être publiés au mois d'octobre dans dix pays. Nous continuerons à surveiller leur publication, ainsi que celle des Budgets des citoyens correspondants, qui seront publiés au cours des prochains mois.</li>
<li>Nous surveillerons de près la publication des Projets de budget de l'exécutif en <strong>Bolivie</strong>, <strong>en Irak</strong>, <strong>en Palestine</strong>, au <strong>Vietnam</strong> et à <strong>Fidji</strong>. Bien que chacun de ces pays produise actuellement le document, aucun d'entre eux ne l'a rendu public.</li>
</ul>

<p>Assurez-vous de visiter le site <a href="http://www.obstracker.org/">www.obstracker.org</a> et de cliquer sur le pays qui vous intéresse pour voir la date prévue de publication des documents. Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque</a> du budget ouvert (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
