{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Décembre{% endblock %}

{% block content %}
<h1>Les mises à jour du mois de décembre de l'Outil de suivi budgétaire sont maintenant disponibles !</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">240 documents budgétaires contrôlés dans l'ensemble des 30 pays</a>, 153 au total ont désormais été publiés. Ceci représente un de plus par rapport au mois dernier.</li>
<li>Parmi les 87 documents non accessibles au public, 34 ont été produits mais non publiés, et 53 n'ont pas du tout été produits.</li>
<li>23 documents budgétaires de 17 pays différents ont été publiés au mois de novembre. Il s'agit de 11 Rapports en cours d'année, cinq Projet de budget de l'exécutif, cinq Rapports de fin d'année et deux Rapports d'audit. Ces documents sont disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Mise à jour linguistique</h2>

<ul>
<li>Le site Internet de l'Outil de suivi budgétaire est désormais disponible dans cinq langues : <strong>Arabe</strong>, <strong>anglais</strong>, <strong>français</strong>, <strong>russe</strong> et <strong>espagnol</strong>. Vous pouvez <a href="http://www.obstracker.org/">accéder à ces langues</a> en cliquant sur le nom de la langue dans le coin supérieur droit de la page.</li>
</ul>

<h2>Réalisation de progrès :</h2>

<ul>
<li>Le <a href="http://www.obstracker.org/country/Niger">Niger</a> a publié son <strong>Rapport d'audit</strong> pour l'exercice budgétaire (EB) 2013. Pour l'exercice précédent, le Niger n'avait pas produit de Rapport d'audit.</li>
<li>La <a href="http://www.obstracker.org/country/Tanzania">Tanzanie</a> a publié un <strong>Rapport de fin d'année</strong> pour l'EB 2013/14. Pour l'exercice précédent, la Tanzanie n'avait pas produit de Rapport de fin d'année.</li>
</ul>

<h2>Ce qu'il reste à faire</h2>

<ul>
<li>Les <a href="http://www.obstracker.org/country/Fiji">Fidji</a> n'ont pas publié de <strong>Rapport de fin d'année</strong> pour l’EB 2013. Auparavant, les Fidji avait rendu le Rapport de fin d'année accessible au public.</li>
<li>L'<a href="http://www.obstracker.org/country/Iraq">Irak</a> continue de restreindre le <strong>Projet de budget de l'exécutif</strong> à un usage strictement interne. À la fin décembre l'année dernière, le gouvernement a publié des informations sur la proposition dans le journal <em>Al Sabaah</em>. Bien que cela ne réponde pas aux normes internationales permettant de rendre le Projet de budget de l'exécutif accessible au public, c'est un petit pas dans la bonne direction.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>Nous continuons d'attendre les <strong>Budgets adoptés</strong> pour l'exercice budgétaire 2015. Une fois que la législature approuve le Budget adopté, les gouvernements disposent de trois mois pour le rendre accessible au public.</li>
<li>Nous continuerons également de garder un oeil sur les <strong>Budgets des citoyens</strong> pour l'EB 2015. Les Budgets des citoyens devraient être publiés en même temps que les documents sur lesquels ils sont basés.</li>
</ul>

<p>Assurez-vous de visiter le site <a href="http://www.obstracker.org/">www.obstracker.org</a> et de découvrir la date de soumission des documents budgétaires dans les pays qui vous intéressent.</p>

<p>Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
