{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Novembre{% endblock %}

{% block content %}
<h1>Les mises à jour du mois de novembre de l'Outil de suivi budgétaire sont disponibles !</h1>

<p>L'<a href="http://www.obstracker.org/">Outil de suivi budgétaire</a> (OBS Tracker, <a href="http://www.obstracker.org/">www.obstracker.org</a>) contrôle la publication en temps opportun et selon les normes internationales par les gouvernements centraux de 30 pays des huit documents budgétaires clés. En utilisant les données recueillies par les experts budgétaires indépendants de 30 pays, l'Outil de suivi budgétaire fournit des rapports en temps réel sur :</p>

<ul>
<li>les documents budgétaires qui ont été publiés ;</li>
<li>les documents budgétaires qui ont été produits mais qui n'ont pas été publiés ; et</li>
<li>les documents budgétaires qui n'ont pas été produits.</li>
</ul>

<p>Consultez les données les plus récentes de l'Outil de suivi budgétaire, les actualités récentes et les actualités des prochains mois.</p>

<h2>Mise à jour du mois de novembre</h2>

<p>Vue d'ensemble :</p>

<ul>
<li>Sur les 240 documents budgétaires contrôlés dans l'ensemble des 30 pays, 152 au total ont désormais été publiés, ce qui représente une augmentation nette de deux documents depuis le mois dernier.</li>
<li>Parmi les 88 documents non accessibles au public, 33 ont été produits mais pas publiés, et 55 n'ont pas été produits.</li>
<li>31 documents budgétaires de 20 pays différents ont été publiés au mois de novembre. Il s'agit de 19 rapports en cours d'année, deux déclarations pré-budgétaires, cinq projets de budget de l'exécutif, un budget des citoyens, deux budgets adoptés, un rapport de fin d'année et un rapport d'audit. Ces documents sont disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<p>Réalisation de progrès :</p>

<ul>
<li>Les <strong>Fidji</strong> ont publié leur <strong>Projet de budget de l'exécutif</strong> pour l'exercice budgétaire (EB) 2015. Précédemment, les Fidji avaient produit un Projet de budget de l'exécutif qui n'avait pas été rendu public.</li>
<li>Le <strong>Kenya</strong> a publié un <strong>Rapport de fin d'année</strong> pour l'exercice budgétaire (EB) 2013/14. Précédemment, le Kenya avait produit un Rapport de fin d'année qui n'avait pas été rendu public.</li>
</ul>

<p>Ce qu'il reste à faire :</p>

<ul>
<li>Les <strong>Fidji</strong> ont produit une <strong>Déclaration pré-budgétaire</strong> pour l'exercice budgétaire (EB) 2015 qui n'a pas été rendue publique. Il s'agit donc d'un pas en arrière, car les Fidji avaient précédemment rendu la Déclaration pré-budgétaire publique.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>De nombreux pays inclus dans l'Outil de suivi budgétaire de l'EBO en sont actuellement à la phase d'élaboration du budget. Nous continuerons à surveiller les <strong>Projets de budget de l'exécutif</strong> pour l'exercice budgétaire (EB) 2015, ainsi que les <strong>Budgets des citoyens</strong> correspondants.</li>
<li>Les Projets de budget de l'exécutif pour l'exercice budgétaire (EB) 2015 ont été publiés dans 20 pays. Cela signifie que six pays n'ont pas encore publié ce document essentiel pour l'exercice commençant le 1 er janvier 2015.</li>
<li>Parmi ces six pays, la <strong>Bolivie</strong>, l'<strong>Iraq</strong>, la <strong>Palestine</strong> et le <strong>Vietnam</strong> ont chacun produit un Projet de budget de l'exécutif pour l'exercice budgétaire (EB) 2014 qui n'a pas été rendu public. Le <strong>Niger</strong> et le <strong>Nigeria</strong> ont rendu leur Projet de budget de l'exécutif public lors de l'exercice budgétaire (EB) 2014.</li>
<li>Au cours des prochains mois, nous surveillerons également les <strong>Budgets adoptés</strong> et les <strong>Budgets des citoyens</strong> pour l'exercice budgétaire (EB) 2015.</li>
</ul>

<p>Assurez-vous de visiter le site <a href="http://www.obstracker.org/">www.obstracker.org</a> et de cliquer sur le ou les pays qui vous intéressent pour voir la date prévue de publication des documents budgétaires. Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org</a>).</p>
{% endblock %}
