{% extends "../../layout.html" %}

{% block page_title %}Mise à jour mars{% endblock %}

{% block content %}
<h1>Les mises à jour du mois de mars de l'Outil de suivi budgétaire sont maintenant disponibles !</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">240 documents budgétaires contrôlés dans l'ensemble des 30 pays</a>, 142 au total ont désormais été publiés. Ce chiffre représente une baisse de 7 documents depuis le mois dernier.</li>
<li>Parmi les 98 documents non accessibles au public, 39 ont été produits mais non publiés, et 59 n'ont pas du tout été produits ou ont été publiés avec du retard.</li>
<li>21 documents budgétaires de 15 pays différents ont été publiés au mois de mars. Il s'agit de 13 Rapports en cours d'année, d'un Rapport préalable au budget, d'un Budget approuvé, de trois Budget des citoyens, de deux Rapports de fin d'année et d'un Rapport d'audit. Ces documents sont disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Réalisation de progrès</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Egypt">L'Égypte</a> a publié son <strong>Rapport préalable au budget</strong> pour le prochain exercice financier 2015-2016. L'Égypte n’avait pas publié de Rapport préalable au budget, qui fournit des détails importants concernant les hypothèses macroéconomiques du gouvernement utilisées pour définir la politique.</li>
<li><a href="http://www.obstracker.org/status/Niger">Le Niger</a> a publié un <strong>Budget des citoyens</strong> pour l'année 2015. Il s'agit du premier Budget des citoyens que le Niger a produit, et du quatrième document budgétaire que le gouvernement a rendu public depuis le lancement de l'Outil de suivi de l'EBO.</li>
</ul>

<h2>Ce qu'il reste à faire</h2>

<ul>
<li>Aussi bien <a href="http://www.obstracker.org/status/Dominican%20Republic">la République dominicaine</a> que <a href="http://www.obstracker.org/status/Nicaragua">le Nicaragua</a> n'ont pas publié de <strong>Rapport en cours d'année</strong> pour le quatrième trimestre 2014 avant la date limite du 31 mars 2015. Au cours des années précédentes, les deux gouvernements ont publié les Rapports en cours d'année du quatrième trimestre, qui contenaient les données de l'année entière, avec trop de retard pour qu'ils soient considérés comme étant mis à la disposition du public.</li>
<li><a href="http://www.obstracker.org/status/Fiji">Fidji</a> et <a href="http://www.obstracker.org/status/Ghana">le Ghana</a> n'ont pas rendu publics leurs <strong>Budgets approuvés</strong> pour l'année 2015, en dépit du fait que le Projet de budget de l'exécutif ait été adopté par l'Assemblée législative il y a plus de trois mois. Il s'agit d'un revers pour la transparence, sachant que la loi de finances de 2015 n'a pas été rendue publique.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>Le gouvernement du <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> n'a toujours pas rendu public <strong>Projet de budget de l'exécutif</strong> pour 2015, bien qu'il ait été soumis à l'Assemblée nationale. Le budget n'ayant pas encore été adopté, il est maintenant temps que le gouvernement publie le document.</li>
<li>Le <strong>Rapport d'audit</strong> de la <a href="http://www.obstracker.org/status/Tanzania">Tanzanie</a> pour la période 2013-2014 est terminé et a été soumis à l'exécutif, mais il n'a pas encore été publié. Le gouvernement a jusqu'au 31 décembre pour rendre le document accessible au public.</li>
</ul>

<h2>Mises à jour</h2>

<ul>
<li>La page sur la situation actuelle de chaque pays <a href="http://www.obstracker.org/status/Niger">contient désormais des commentaires sur certains documents</a>. Ces commentaires fournissent des informations supplémentaires sur les documents et ne sont disponibles qu'en anglais ou dans la langue d'origine / des chercheurs.</li>
</ul>

<p>Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
