{% extends "../../layout.html" %}

{% block page_title %}Mise à jour du mois de janvier{% endblock %}

{% block content %}
<h1>Mise à jour du mois de janvier</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">240 documents budgétaires contrôlés dans l'ensemble des 30 pays</a>, 149 au total ont désormais été rendus publics.</li>
<li>Parmi les 91 documents non accessibles au public : 34 ont été produits mais non publiés, et 57 n'ont pas été produits ou ont été publiés en retard.</li>
<li>
26 documents budgétaires de 18 pays différents ont été publiés au mois de janvier. Il s'agit de huit Rapports en cours d'année, 11 Budgets approuvés, cinq Budgets des citoyens et deux Rapports préalables au budget. Ces documents sont disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Mise à jour linguistique</h2>

<ul>
<li>Le site Internet de l'Outil de suivi budgétaire est désormais disponible dans cinq langues : <a href="http://www.obstracker.org/?locale=ar">arabe</a>, <a href="http://www.obstracker.org/?locale=en">anglais</a>, <a href="http://www.obstracker.org/?locale=fr">français</a>, <a href="http://www.obstracker.org/?locale=ru">russe</a>, et <a href="http://www.obstracker.org/?locale=es">espagnol</a>.</li>
</ul>
 
<h2>Réalisation de progrès :</h2>

<p>Aucun progrès n'a été réalisé par les pays contrôlés par l'Outil de suivi budgétaire ce mois-ci.</p>

<h2>Ce qu'il reste à faire</h2>

<ul>
<li><a href="http://www.obstracker.org/country/Ecuador">L'Équateur</a> et <a href="http://www.obstracker.org/country/Bolivia">Bolivie</a> ont tous deux négligé de produire les <strong>Rapports en cours d'année</strong> pour la période la plus récente, après les avoir rendus publics précédemment. Les Rapports en cours d'année sont importants car ils fournissent un aperçu en temps opportun de l'exécution du budget et des tendances en matière de recettes et de dépenses.</li>
<li>De même, l'<a href="http://www.obstracker.org/country/Armenia">Arménie</a> n'a pas produit de <strong>Rapport en cours d'année</strong> pour le 4e trimestre, après avoir systématiquement produit celui des 1er, 2e et 3e trimestres.</li>
<li>Le <a href="http://www.obstracker.org/country/Myanmar">Myanmar</a> continue de restreindre le <strong>Projet de budget de l'exécutif</strong> à un usage strictement interne. Cependant, en janvier, le gouvernement a publié certains tableaux du projet de budget dans deux journaux. Bien que cela ne réponde pas aux normes internationales permettant de rendre accessible au public le Projet de budget de l'exécutif, c'est un pas dans la bonne direction.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>Le gouvernement du <a href="http://www.obstracker.org/country/Nigeria">Nigeria</a> a soumis son Projet de budget de l'exécutif pour 2015 à l'Assemblée nationale, mais ne l'a pas rendu public. Le budget n'ayant pas encore été adopté, il est maintenant temps que le gouvernement publie le document.</li>
<li>Le budget du <a href="http://www.obstracker.org/country/Niger">Niger</a> pour 2015 a déjà été adopté, mais n'a pas encore été rendu public. Les normes internationales exigent que le Budget approuvé soit rendu public dans un délai de trois mois après son approbation, il est donc temps que le gouvernement publie le Budget approuvé.</li>
<li>Le mois prochain sera également la dernière occasion pour de nombreux pays, tels que l'<a href="http://www.obstracker.org/country/Ecuador">Équateur</a>, de publier leur Rapport en cours d'année pour le 4e trimestre de 2014.</li>
</ul>

<p>Assurez-vous de visiter le site <a href="http://www.obstracker.org/">www.obstracker.org</a> pour découvrir la date de soumission des documents budgétaires dans les pays qui vous intéressent. Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert</a> (<a href="http://www.openbudgetlibrary.org/">www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
