{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Février{% endblock %}

{% block content %}
<h1>Les mises à jour du mois de février de l'Outil de suivi budgétaire sont maintenant disponibles !</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">240 documents budgétaires contrôlés dans l'ensemble des 30 pays</a>, 149 au total ont désormais été publiés. Ceci représente un de plus par rapport au mois dernier.</li>
<li>Parmi les 91 documents non accessibles au public, 34 ont été produits mais non publiés, et 57 n'ont pas du tout été produits ou ont été publiés avec du retard.</li>
<li>19 documents budgétaires de 15 pays différents ont été publiés au mois de janvier. Il s'agit de 13 Rapports en cours d'année, de trois Budgets approuvés, de trois Budgets des citoyens, et d'un Rapport de fin d'année. Ces documents sont disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Réalisation de progrès</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">La Bolivie</a> a publié un <strong>Rapport en cours d'année</strong> au mois de novembre 2014. Ceci est un retour aux vieilles habitudes pour la Bolivie, sachant qu'à l'exception du rapport couvrant le mois d'octobre 2014, le gouvernement a régulièrement <a href="http://www.obstracker.org/country/Bolivia">publié</a> des Rapports en cours d'année.</li>
<li><a href="http://www.obstracker.org/status/Iraq">L'Irak</a> a publié le <strong>Budget approuvé</strong> pour l'année 2015. Ceci est une amélioration. En 2014, l'Irak n'est pas parvenu à adopter de budget et s'est appuyé sur le Budget approuvé de l'année 2013. Cette année, l'Irak a fait adopter le budget et a publié le Budget approuvé.</li>
<li><a href="http://www.obstracker.org/status/Niger">Le Niger</a> a publié un <strong>Budget approuvé</strong> pour l'année 2015. Ceci est une amélioration sachant que le précédent Budget approuvé du Niger avait été produit à des fins internes uniquement.</li>
</ul>

<h2>Ce qu'il reste à faire</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Sierra%20Leone">La Sierra Leone</a> n'a pas produit de <strong>Rapport de fin d'année</strong> pour l'année 2013. Les Rapports de fin d'année sont importants car ils consolident la totalité des dépenses et des recettes de l'année par rapport au Budget approuvé d'origine. Au cours de l'exercice précédent, la Sierra Leone avait produit un Rapport de fin d'année.</li>
<li><a href="http://www.obstracker.org/status/Timor-Leste">Le Timor-Leste</a> avait produit un Rapport en cours d'année pour le quatrième trimestre 2014 sans pour autant le rendre public. Les Rapports en cours d'année sont importants car ils fournissent un aperçu en temps opportun de l'exécution du budget et des tendances en matière de recettes et de dépenses. Le Gouvernement du Timor-Leste doit rendre public le Rapport en cours d'année pour le quatrième trimestre 2014 avant la fin du mois de mars.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>Le gouvernement du <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> n'a toujours pas rendu public Projet de budget de l'exécutif pour 2015, bien qu'il ait été soumis à l'Assemblée nationale. Comme le budget n'a pas encore été adopté, le gouvernement doit rendre public le document le plus tôt possible.</li>
</ul>

<h2>Mises à jour</h2>

<ul>
<li>Les pages relatives aux <a href="http://www.obstracker.org/country/Egypt">données historiques</a> de l'Outil de suivi de l'EBO ont été récemment mises à jour. Ces pages permettent aux utilisateurs de suivre l'accessibilité du public aux huit documents budgétaires clés au fil du temps. N'hésitez pas à les consulter en cliquant sur l'onglet « Voir les données historiques » <emph>(View historical information)</emph> sur la page de chaque pays.</li>
<li>Consulter la salle de presse, <a href="http://www.obstracker.org/press">OBS Tracker’s Press Room</a> pour rester informé des actualités les plus récentes, y compris les entretiens avec les partenaires de l'Outil de suivi budgétaire de l'EBO, ainsi que des éditoriaux, des articles de presse, et plus encore.</li>
</ul>

<p>Assurez-vous de visiter le site <a href="http://www.obstracker.org/">www.obstracker.org</a> et de découvrir la date de soumission des documents budgétaires dans les pays qui vous intéressent.</p>

<p>Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque</a> du budget ouvert <a href="http://www.openbudgetlibrary.org/">(www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
