{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Avril{% endblock %}

{% block content %}
<h1>Mise à jour de l'Outil de suivi de l'Enquête sur le budget ouvert du mois d'avril 2015</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">240 documents budgétaires contrôlés dans l'ensemble des 30 pays</a>, 140 au total ont désormais été publiés. Ce chiffre représente une baisse de 2 documents depuis le mois dernier.</li>
<li>Parmi les 100 documents non accessibles au public, 38 ont été produits mais non publiés, 12 ont été publiés avec du retard, et 50 n'ont pas du tout été produits.</li>
<li>25 documents budgétaires de 20 pays différents ont été publiés au mois d'avril. Il s'agit de 16 Rapports en cours d'année, d'un Rapport préalable au budget, d'un Projet de budget de l'exécutif, d'un Budget approuvé, d'un Budget des citoyens, et de cinq Rapports de fin d'année. Ces documents sont tous disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Ce qu'il reste à faire</h2>

<ul>
<li>Le gouvernement du <a href="http://www.obstracker.org/status/Mali">Mali</a> a publié le <strong>Rapport en cours d'année</strong> du quatrième trimestre au mois d'avril, ce qui est trop tard pour le considérer comme étant à la disposition du public. La cohérence et la rapidité de la publication des Rapports en cours d'année sont importantes pour surveiller les finances publiques.</li>
<li>Le gouvernement du <a href="http://www.obstracker.org/status/Timor-Leste">Timor-Leste</a> n'a pas produit de <strong>Budget des citoyens</strong> pour l'année 2015. Le Timor-Leste avait déjà publié un Budget des citoyens pour l'exercice précédent.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>Le gouvernement du <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> n'a toujours pas rendu public <strong>Projet de budget de l'exécutif</strong> pour 2015, bien qu'il ait été soumis à l'Assemblée nationale. Le gouvernement devra publier le Projet de budget de l'exécutif avant l'approbation du budget.</li>
<li>Le <strong>Rapport d'audit</strong> de la <a href="http://www.obstracker.org/status/Tanzania">Tanzanie</a> pour la période 2013-2014 est terminé et a été soumis à l'exécutif, mais il n'a pas encore été publié. Le gouvernement a jusqu'au 31 décembre pour rendre le document accessible au public.</li>
</ul>

<h2>Mises à jour</h2>

<ul>
<li>La page sur la situation actuelle de chaque pays <a href="http://www.obstracker.org/status/Niger">contient désormais des commentaires sur certains documents</a>. Ces commentaires fournissent des informations supplémentaires sur les documents et ne sont disponibles qu'en anglais ou dans la langue d'origine / des chercheurs.</li>
</ul>

<p>Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
