{% extends "../../layout.html" %}

{% block page_title %}Mise à jour de l'Outil de suivi de l'Enquête sur le budget du mois de mai 2015{% endblock %}

{% block content %}
<h1>Mise à jour de l'Outil de suivi de l'Enquête sur le budget du mois de mai 2015</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">240 documents budgétaires contrôlés dans l'ensemble des 30 pays</a>, 147 au total ont désormais été publiés. Ce chiffre représente une baisse de 7 documents depuis le mois dernier.</li>
<li>Parmi les 94 documents non accessibles au public, 37 ont été produits mais non publiés, 10 ont été publiés avec du retard, et 46 n'ont pas du tout été produits.</li>
<li>29 documents budgétaires de 23 pays différents ont été publiés au mois de mai. Il s'agit de deux Rapports préalables au budget, de deux Projets de budget de l'exécutif, de deux Budgets approuvés, de 18 Rapports en cours d'année, de deux Rapports de fin d'année, et de trois Rapports d'audit. Ces documents sont tous disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Réalisation de progrès</h2>

<ul>
<li><a href="http://www.obstracker.org/status/Bolivia">La Bolivie</a>, <a href="http://www.obstracker.org/status/Dominican%20Republic">la République dominicaine</a>, <a href="http://www.obstracker.org/status/Ecuador">l'Équateur</a>, <a href="http://www.obstracker.org/status/Ghana">le Ghana</a>, <a href="http://www.obstracker.org/status/Iraq">l'Irak</a>, <a href="http://www.obstracker.org/status/Nicaragua">le Nicaragua</a>, et <a href="http://www.obstracker.org/status/Niger">le Niger</a> ont tous publié des <strong>Rapports en cours d'année</strong> alors qu'ils ne l'avaient pas fait au cours des périodes de suivi précédentes.</li>
<li><a href="http://www.obstracker.org/status/Tanzania">La Tanzanie</a> a rendu public son <strong>Rapport d'audit</strong> pour la période 2013/2014. Ce rapport était produit initialement pour un usage interne, sachant qu'il avait été complété et soumis à l'exécutif, mais qu'il n'avait pas été rendu public.</li>
</ul>

<h2>Ce qu'il reste à faire</h2>

<ul>
<li>Le gouvernement de <a href="http://www.obstracker.org/status/Dem.%20Rep.%20of%20Congo">la République démocratique du Congo</a> a produit les <strong>Rapports en cours d'année</strong> pour avril et mai 2015, mais ne les a pas encore rendus publics. La cohérence et la rapidité de la publication des Rapports en cours d'année sont importantes pour surveiller les finances publiques.</li>
<li>Le gouvernement du <a href="http://www.obstracker.org/status/Nigeria">Nigeria</a> n'a pas rendu public son <strong>Projet de budget de l'exécutif</strong> pour 2015 avant l'approbation du budget dans la loi de finances. Le Projet de budget de l’exécutif est l’un des documents budgétaires les plus importants qu'un pays publie chaque année, car le budget permet aux gouvernements de transformer bon nombre de leurs objectifs politiques clés en actions. Si la société civile doit être capable d'influencer la conception et la mise en œuvre des politiques, le public doit avoir accès aux informations concernant la nature des dépenses du gouvernement et la manière dont il prévoit de financer ses activités avant que le budget ne soit voté.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
<li>Les <strong>Rapports d'audit</strong> pour 2013 sont attendus à la fin du mois de juin pour les pays dont l'exercice budgétaire commence en janvier et se termine au mois de décembre. Il s'agit notamment de <a href="http://www.obstracker.org/status/Bolivia">la Bolivie</a>, <a href="http://www.obstracker.org/status/El%20Salvador">d'El Salvador</a>, <a href="http://www.obstracker.org/status/Senegal">du Sénégal</a>, et <a href="http://www.obstracker.org/status/Vietnam">du Vietnam</a>.</li>  
<li><a href="http://www.obstracker.org/status/Egypt">En Égypte</a>, le <strong>Projet de budget de l'exécutif</strong> pour 2015/2016 devrait être publié le mois prochain. Pour l'exercice budgétaire précédent, l'Égypte a publié son Projet de budget de l'exécutif avec trop de retard pour qu'il soit rendu public.</li>
</ul>

<h2>Mises à jour</h2>

<ul>
<li>La page sur la situation actuelle de chaque pays <a href="http://www.obstracker.org/status/Niger">contient désormais des commentaires sur certains documents</a>. Ces commentaires fournissent des informations supplémentaires sur les documents et ne sont disponibles qu'en anglais ou dans la langue d'origine / des chercheurs.</li>
</ul>

<p>Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
