{% extends "../../layout.html" %}

{% block page_title %}Mise à jour Juin{% endblock %}

{% block content %}
<h1>Mise à jour de l'Outil de suivi de l'Enquête sur le budget du mois de juin 2015</h1>

<h2>Vue d'ensemble</h2>

<ul>
<li>Sur les <a href="http://www.obstracker.org/">232 documents budgétaires contrôlés dans l'ensemble des 29 pays</a>, 143 au total ont désormais été publiés. Ce chiffre représente une baisse de 2 documents depuis le mois dernier.</li>
<li>Parmi les 89 documents non accessibles au public, 37 ont été produits mais non publiés, 9 ont été publiés avec du retard, et 43 n'ont pas du tout été produits.</li>
<li>16 documents budgétaires de 14 pays différents ont été publiés au mois de juin. Il s'agit de 4 Rapports d'audit, de 11 Rapports en cours d'année et d'un Rapport de fin d'année. Ces documents sont tous disponibles sur la Bibliothèque en ligne de l'IBP, <a href="http://www.openbudgetlibrary.org/">Open Budget Library</a>.</li>
</ul>

<h2>Réalisation de progrès</h2>

<ul>
  <li><a href="http://www.obstracker.org/status/Mali">Le Mali</a> a rendu public le <strong>Rapport en cours d'année</strong> portant sur le 1er trimestre 2015. Le Mali avait publié le rapport précédent avec trop de retard pour qu'il soit considéré comme étant mis à la disposition du public.</li>
  <li><a href="http://www.obstracker.org/status/Senegal">Le Sénégal</a> a publié son <strong>Rapport d'audit</strong> pour l'année 2013. Pour l'exercice budgétaire précédent, le Rapport d'audit avait été publié avec trop de retard pour qu'il soit considéré comme étant à la disposition du public.</li>
</ul>

<h2>Le mois prochain</h2>

<ul>
  <li>Pour les pays dont l'exercice budgétaire commence au mois de janvier et se termine au mois de décembre, les <strong>Revues de milieu d'année</strong> de 2015 doivent être publiées au cours du mois prochain, en même temps que les <strong>Rapports préalables au budget</strong> de l'année 2016.</li>
</ul>

<p>Tous les documents accessibles au public peuvent être consultés par le biais de la <a href="http://www.openbudgetlibrary.org/">Bibliothèque du budget ouvert (www.openbudgetlibrary.org)</a>.</p>
{% endblock %}
